[2017-01-12 22:05] oliverhu opened #1 "set up travis for bluepill"
set up travis for bluepill to get build information

[2017-01-13 06:23] #1 closed

[2017-01-13 06:23] oliverhu commented on #1
fixed in #2

[2017-01-13 17:37] ob opened #3 "No useful results when app crashes."
Bluepill handles the case when a test crashes. However, if the app itself crashes on launch, the console gets a useless message like this:

[code]

And nothing useful is reported in the output report. Bluepill should have a special way of logging and reporting an app crashing on launch.

[2017-01-18 01:30] njuliyu opened #5 "Reuse simulator between test bundles."
Currently bluepill recreate the simulator for each test bundle. We could save a lot of time if reusing the same simulator for more than one test bundles.

Proposals:
1. Add CLI option "not-delete-simulator" to bp command, so it won't delete the simulator when test cases finish normally, and return the device id to the parent bluepill process.  By default bp command  Always delete simulator.

2. Ad

[2017-01-18 04:58] ob opened #6 "Reduce footprint of interrupt handler."
In `Bluepill-runner/Bluepill-runner/BPRunner.m`, the `onInterrupt` interrupt handler is doing too much. It should just increment the variable, and the logic below the increment should be moved to the `interrupt` method.

[2017-01-18 22:35] ob opened #7 "Bluepill should print the UUID of the simulator created."
When debugging failures, it'd be useful if bluepill printed the UUID of the simulator when it creates a new one.  E.g.

[code]

Doesn't help debugging failures. If it printed the UUID we could go dig for crash logs.

[2017-01-18 23:57] tspike opened #8 "build.sh failures"
Hey folks,

Really excited to give bluepill a whirl. I cloned the repository and ran `build.sh` and it's bailing with 11 test failures:

[code]

Wondering if this a bug, configuration problem, or something else? Is there a better forum for troubleshooting or is this an appropriate place? Adding an installation or getting started section to README would be great and I'd be happy to contribute.

[2017-01-19 00:06] tspike commented on #8
Some more info: I'm running Xcode 7.2.1 and 10.2 simulator

[2017-01-19 00:33] ob commented on #8
Since Bluepill uses internal APIs, it's only supported with the latest version of XCode (8.2 at the moment of this writing).

[2017-01-19 00:34] tspike commented on #8
@ob Sorry, I fat-fingered. I meant 8.2.1

[2017-01-19 00:42] ob commented on #8
Oh, okay. Do you have the 10.1 runtime installed? Some tests need it.

[2017-01-19 01:31] ob commented on #8
I see a few issues we need to fix.

1. `build.sh` should run `xcrun simctl list runtimes` and make sure we have the right runtimes for running the tests.
2. We should upgrade all runtimes used by the tests to the latest iOS (10.2 at the time of this writing)

[2017-01-19 04:29] tspike commented on #8
Thanks, downloading 10.1 got me going

[2017-01-19 05:03] tspike opened #9 "Need to add helpful error message when test target hasn't been built"
If you do a standard Cmd+B build and point bluepill to the `.app`, you get this error:

[code]

Would be good to print a helpful message along the lines of "Please build the test target of your app (`Cmd + Shift + U`)"

[2017-01-19 05:10] oliverhu opened #10 "Upload bluepill binary to brew"
Upload a recipe fo bluepill to brew so that people don't have to build bluepill through source code.

[2017-01-19 08:19] oliverhu opened #12 "Logic to handle app hanging doesn't work in Xcode 8.2"
`  [self.device terminateApplicationWithID:self.hostBundleId error:&error];` in SimulatorMonitor.m doesn't work in iOS 10.2 runtime.

[2017-01-19 14:00] fvvliet commented on #12
+1

[2017-01-19 17:01] okanerdogan84 opened #14 "how to run different targets on same version of simulator parallel"
Hi
let say I have test targets targetA, TargetB and want to run like below. Is that possible if yes how?
targetA ----iPhone 6 version 10.1
targetB ----iPhone 6 version 10.1

[2017-01-19 18:01] oliverhu commented on #14
Yes, as far as they are under the .app folder. You can also specify more test targets by using

`"additional-xctests": ["./path/to/xxx.xctest"],` in the config.

[2017-01-19 18:25] oliverhu commented on #12
Didn't mention that this causes `testReportWithAppHangingTestsSet` to fail

[2017-01-19 20:40] anasb opened #15 "Terminating app due to uncaught exception"
Running this:

`bluepill -a XXXX.app/ -s XXXX.xcscheme -o output/`

crashes and returns this:

[code]

[2017-01-19 21:09] dyang opened #16 "Question: Does bluepill support running Xcode UI testing?"
I managed to run bluepill against one of my apps with a bunch of UI tests based on Xcode UI testing. However I'm getting the following error.  A bit googling suggests that this might be due to UI testing having different test template/config than "regular" XCTests. Is Xcode UI testing supported by bluepill? :)

`Terminating app due to uncaught exception 'NSInternalInconsistencyException',
     rea

[2017-01-19 21:30] oliverhu commented on #16
hey @dyang , we haven't actually tested this with Xcode UI testing. Our UI tests are all KIF tests.

We collect the test target by searching SampleApp.app/Plugin/*.xctest. You can test by adding a `additional-xctests` flag in the config file to the UI testing target and try from there.

It would be great if you can tweak the code base a bit and let us know the result.

[2017-01-19 21:31] krze opened #17 "No useful error messages when packing fails"
After providing a valid path to my app, an output path, and a path to a scheme containing XCTest UI tests, the output looks like this:

[code]

After some light digging I can see where the error comes from:
https://github.com/linkedin/bluepill/blob/9d704360cdb87ecd9f4fc59fa8c1b1690c8a6d10/Bluepill-runner/Bluepill-runner/BPRunner.m#L140

but it's not obvious why it's failing. There's a few switches

[2017-01-19 21:48] onmyway133 opened #18 "No test bundle provided"
Hi, I'm not sure if I do it correctly, but here are my steps to run the demo

1. Run `Bluepill.xcworkspace`, scheme `blueprint`, I get `bp` executable inside `build/Build/Products/Debug`
2. Run `BPSampleApp.xcodeproj`, scheme `BPSampleApp`, and copy the `BPSampleApp.app` to the same folder as `bp`
3. Copy `BPAppNegativeTests.xcscheme` inside `BPSampleApp.xcodeproj/xcshareddata/xcschemes` to the sa

[2017-01-19 21:49] oliverhu commented on #18
@onmyway133 you'd have to build the test target first. Check if there any .xctest in `.app/Plugins/`

[2017-01-19 21:52] oliverhu commented on #17
Hi @krze , are you referring to XCUITest or XCTest ? For the former one, please refer to #16 .

 --no-split is not required (we'll update this flag). The usage is like:

``
{
"no-split": ["TargetATests", "TargetBTests"],
}
``

[2017-01-19 21:58] onmyway133 commented on #18
@oliverhu Hi, thanks for your prompt reply.

How can I build the test target 🤔

I see that the `BPSampleApp` project has Test action that contains 3 test targets. And I run the tests. And there are 5 xctest files in `.app/Plugins`.

But do we have to run that many steps to get the example running?

[2017-01-19 22:03] krze commented on #17
I see, didn't realize this was for KIF only. May I suggest mentioning that in the Readme?

[2017-01-19 22:05] oliverhu commented on #18
@onmyway133  check ./build.sh :)

``
xcodebuild build-for-testing \
  -workspace Bluepill.xcworkspace \
  -scheme BPSampleApp \
  -sdk iphonesimulator \
  -derivedDataPath "build/"
``

And then you can point `bluepill` to the binary in the build folder.

[2017-01-19 22:09] onmyway133 commented on #18
@oliverhu 😄

Actually I run `/.build.sh` the first time I clone the project. It runs OK with some test cases going on, but I see it fires up 1 simulator at a time. I think bluepill can run more than 1 simulator simultaneously, how can I do that?

[2017-01-19 22:16] oliverhu commented on #18
@onmyway133 .. just noticed that you used the wrong binary. You should use `./bluepill` instead of `./bp`

[2017-01-19 22:18] krze commented on #16
When you compile an XCUITest there are no `.xctest` files generated in the target app's plugin folders. Instead it's placed inside the runner, named `TEST_TARGET_NAME-runner.app.

I gave that a whirl and all 5 sims exited with the same error:
[code]

When checking valid runtimes:
[code]

[2017-01-19 22:23] oliverhu commented on #16
@krze that's another issue mentioned in #8 , you need to download iOS 10.1 simulator Or alternatively, search for **BP_DEFAULT_RUNTIME** and change the value to 10.2

[2017-01-19 22:30] onmyway133 commented on #18
@oliverhu I run `./build.sh` but I don't see any `bluepill`, I got `bp` from the `build` folder

[2017-01-19 22:37] oliverhu commented on #18
That is weird, you should see both bluepill and bp in the `build` folder. Each `bp` is responsible for one simulator and `bluepill` binary manages a bunch of `bp`s

Can you try run
``
xcodebuild \
  -workspace Bluepill.xcworkspace \
  -scheme bluepill \
  -configuration Release \
  -derivedDataPath "build/"
``
again?

It should be in ./build/Build/Products/Release

[2017-01-19 22:51] krze commented on #16
Looks like the target application isn't being pulled from the XCUITest `.xctest` file:
[code]

[2017-01-19 23:42] oliverhu commented on #16
Hmm, this should be doable, we just need to fill some extra fields in the `XCTestConfiguration` file.

Check `XCTestConfiguration.h` and `SimulatorHelper.m`

In `SimulatorHelper.m`:
Add `[xctConfig setTargetApplicationPath:PATH_TO_APP];` to `+ (NSString *)testEnvironmentWithConfiguration:(BPConfiguration *)config;` should do the trick.

Let me know if you that works :D

[2017-01-20 00:49] ob commented on #15
Can you please try running the following commands?

[code]

Also, is your app written in Swift or Objective-C?

Thanks!

[2017-01-20 01:08] codeman9 commented on #15
@ob I received this same error when I first tried this on my app as well. It is a swift app. One difference between the sample app and our app is that we are using Quick for our tests. The results of the commands for our app are like:

/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/nm: /Users/x27s/Desktop/App/app/Build/DerivedData/app/Build/Products/Debug-ip

[2017-01-20 01:12] ob commented on #15
@codeman9 Thanks! You actually need to run the commands like so:

[code]

I'd like to see the output to at least give a better error message.

[2017-01-20 03:40] zhonglaoban opened #20 "how to use it"
when i run ./bluepill -a ./Sample.app -s ./SampleAppTestScheme.xcscheme -o ./output/
it replay me -bash: ./bluepill: is a directory

[2017-01-20 03:48] codeman9 commented on #15
Here is some of the output of `nm -gU`

000000000024ba50 S _OBJC_CLASS_$__TtC12appTests19BusinessMetricsSpec
000000000024bbc0 S _OBJC_CLASS_$__TtC12appTests19CategoryKitchenSpec
000000000024c240 S _OBJC_CLASS_$__TtC12appTests19LeanplumABFlagsSpec
000000000024c340 S _OBJC_CLASS_$__TtC12appTests19NBApiExtensionsSpec
000000000024c7b8 S _OBJC_CLASS_$__TtC12appTests19RouteCollectionSpec
000000000024d17

[2017-01-20 03:55] casshill commented on #16
I tried the above solution and also added the target app bundle identifier like this
`[xctConfig setTargetApplicationBundleID:BUNDLE_ID];`

But I still can't get my tests to run. I don't think the test application is launching properly
`<testcase classname="..." name="test..." time="61.096000">
        <failure type="Failure" message="-[...Tests test...] : UI Testing Failure - Unable to update app

[2017-01-20 04:00] plu commented on #16
To make the UI Tests work, you need to set a few properties on `XCTestConfiguration`:

* `testsMustRunOnMainThread`
* `initializeForUITesting`
* `targetApplicationPath`
* `targetApplicationBundleID`

You can peek a bit here how Facebook is doing it: https://github.com/facebook/FBSimulatorControl/blob/master/XCTestBootstrap/Bundles/FBTestConfiguration.m#L85-L95

[2017-01-20 04:15] codeman9 commented on #15
Here is the command that the bluepill app runs and its output from the cmd line:

[code]

These are not the tests classes we want to run at all. But, like I said earlier, the bluepill app seems to work fine; though it must be doing something unexpected if this is the list of test classes it is using. These are helper functions we use, not actual tests.

[2017-01-20 04:41] codeman9 commented on #15
I converted one of our tests from quick to just a regular xctestcase and here is the output from `nm -gU '/Users/me/Desktop/App/app/Build/DerivedData/app/Build/Products/Debug-iphonesimulator/app.app/Plugins/CategoryResultsTests.xctest/CategoryResultsTests' | cut -d' ' -f3 | xargs xcrun swift-demangle | cut -d' ' -f3 | grep -e '[\.|_]'test`

[code]

Notice the `CategoryResultsTests.CatResultsCollec

[2017-01-20 05:02] #8 closed

[2017-01-20 05:04] ob commented on #12
Fixed by #19

[2017-01-20 05:04] #12 closed

[2017-01-20 05:07] ob commented on #20
After cloning it, you need to build it by running:

[code]

Then you'll find a built bluepill binary inside the `build` directory.

[2017-01-20 06:29] oliverhu commented on #16
@plu love it, thanks!

[2017-01-20 08:40] ferusinfo commented on #20
The library should have this information honestly.

[2017-01-20 10:43] kumariswarnim opened #21 "Unable to run my UI tests"
Hi,

When I try to run my UI test then I get the below issue. Can you please help me to solve it?

_**ERROR: The folder “Plugins” doesn’t exist.**_

[2017-01-20 12:29] cassianomonteiro commented on #15
I'm getting the same issue:

`Terminating app due to uncaught exception 'NSRangeException' ...`

My app is an iOS app written in ObjC, supporting iOS7+.

[2017-01-20 13:38] lochness42 commented on #21
You're using wrong .app file (I guess the one built for simulator). You need to use .app file for tests - different folder.
Anyway probably worth following https://github.com/linkedin/bluepill/issues/16

[2017-01-20 22:31] oliverhu commented on #16
@plu it turns out to be more complicated than I thought. I managed to set the environment same as the one Xcode is using to run UI test (arguments, environment and XCTestConfiguration)

``
    // XCTUITest configurations
    [xctConfig setPathToXcodeReportingSocket:nil];
    [xctConfig setTargetApplicationPath:config.appBundlePath];
    [xctConfig setTargetApplicationPath:@"PATHTO_BPSampleAppUITes

[2017-01-20 22:34] oliverhu commented on #17
@krze as mentioned in #16 , we are still working on run XCUITest. I'll update read.me saying we don't support XCUITest yet.

[2017-01-20 23:28] plu commented on #16
Yes, it's working there.

[2017-01-21 08:20] oliverhu commented on #20
close this as fixed in #23

[2017-01-21 08:20] #20 closed

[2017-01-23 06:22] soulery opened #26 "How to change language during test?"
How to change language during test? For instance, launch five tests simultaneously for five different languages (Japanese, French, German, Spanish and Chinese)

Thanks

[2017-01-23 07:34] oliverhu commented on #26
I haven't tested it yet. But pls check and try http://stackoverflow.com/questions/7873249/how-to-permanently-set-the-ios-simulator-to-a-different-language-than-english. `Bluepill` reads the arguments from schemes.

[2017-01-23 08:05] #14 closed

[2017-01-23 08:05] oliverhu commented on #21
it is not supported yet, please follow #16

[2017-01-23 08:05] #21 closed

[2017-01-23 08:06] #18 closed

[2017-01-23 18:25] ob opened #27 "Command line Switches broken in 'master'"
This change: 93b7f31878c24de6ded06050c49366dac9c2747c
broke command line parsing. It needs to be fixed.

[2017-01-23 19:24] oliverhu commented on #27
fixed in #28

[2017-01-23 19:24] #27 closed

[2017-01-23 20:05] nickmshelley opened #29 "Include tests option seems to be ignored."
I was testing it locally, and the only place it's used is in `testEnvironmentWithConfiguration` which is only called from bluepill's unit tests.

[2017-01-23 20:15] nickmshelley commented on #29
Ok never mind, I just realized I'm not hitting breakpoints outside of tests because it's run as an NSTask... I'll put a bunch of prints in and see if I can figure out what's going on.

[2017-01-23 20:28] nickmshelley commented on #29
I got it working, just need to add a test. PR coming soon.

[2017-01-23 20:34] ob commented on #29
👍

[2017-01-23 21:07] nickmshelley commented on #29
https://github.com/linkedin/bluepill/pull/30

[2017-01-24 00:41] #9 closed

[2017-01-24 00:41] ob commented on #17
Fixed in #22

[2017-01-24 18:04] #29 closed

[2017-01-24 18:57] #6 closed

[2017-01-24 18:58] ob commented on #7
Fixed by #32

[2017-01-24 18:58] #7 closed

[2017-01-25 00:34] ob opened #34 "Misleading error message if Xcode Path is wrong."
I spent some time puzzled about this error:

[code]

It turns out that I had the _wrong path_ in my `config.json` file. Bluepill should at least check that the Xcode path give is valid and not fall through to a misleading error.

[2017-01-25 23:57] nickmshelley opened #35 "Make verbose mode default for listing tests"
Listing tests by default just lists the test bundles, which I think is kind of useless. Had I not looked at the code and noticed that values greater than 1 indicate verbose mode which lists all the tests in the bundle, I would have tried to find a different solution.

I think listing all of the tests in the bundle should be default, and values greater than 1 indicate "quiet" mode if the other func

[2017-01-26 02:24] njuliyu opened #36 "The code in the run() method of BPRunner.m are not synchronized"
The code in the main loop and the completion block of task termination in the run() method of BPRunner.m are not not synchronized. Because the completion block will be called in other threads than the main thread, that causes race condition for variables such as launchedTasks, taskList.

I will fix it together will implementing the feature of reusing simulators. just create an issue to track it.

[2017-01-26 15:01] hansemannn opened #37 "Error "The folder “Plugins” doesn’t exist.""
Hey guys, great project! I'm testing bluepill with a Titanium-based project, created a config.json like the following:
[code]
but getting the error `The folder “Plugins” doesn’t exist.`. Any idea what that could mean? Thx!

[2017-01-26 15:03] hansemannn commented on #37
Probably related to https://github.com/linkedin/bluepill/issues/9, closing

[2017-01-26 15:03] #37 closed

[2017-01-26 19:47] oliverhu opened #38 "The logic to handle test hanging is flaky"
We were trying to address issue #12 - `[self.device terminateApplicationWithID:self.hostBundleId error:&error]; in SimulatorMonitor.m doesn't work in iOS 10.2 runtime.` in PR #19 , however, it is still flaky, seeing hangings sometimes.

Initial inspection is that - the `SimulatorRunner` may be nil. Assigned to @vargon to take a look

[2017-01-26 20:24] oliverhu commented on #35
I agree. List test cases should be default, feel free to submit a PR :) @nickmshelley

[2017-01-26 22:07] nickmshelley commented on #35
Awesome, will do!

@oliverhu Mind if I change the output format as well to be `ClassName/TestName` like https://github.com/linkedin/bluepill/blob/9d704360cdb87ecd9f4fc59fa8c1b1690c8a6d10/Source/Shared/BPXCTestFile.m#L120 does? That's the format I need it in and the code to parse the current format into that format is a bit ugly... :)

[2017-01-27 19:41] oliverhu commented on #35
Sure, please paste a sample output here with your proposed change?

[2017-01-27 21:47] nickmshelley commented on #35
The current output format is
[code]

I'm proposing we change it to
[code]

[2017-01-27 21:58] oliverhu commented on #35
lgtm

[2017-01-27 22:01] oliverhu opened #42 "[Feature] Sample the app in case app hangs"
In current setup, if test hangs, we don't know what is the cause.

It would be much nicer if we provide a process sample of the hanging app before killing it and record it in the report. Like the output of `Sample` command.

[2017-02-01 16:24] ob commented on #38
Why is the same commit twice in this PR?

[2017-02-01 16:40] vargon commented on #38
I think it's just a github thing. I created issue #40 with my branch which referenced this issue, plus my comment for the commit referenced this issue.

[2017-02-02 16:55] MattNewberry opened #45 "Same tests run multiple times at once?"
When running tests, it appears each simulator is running the same test...

[code]

I'd anticipated all tests within the target to be distributed equally among the simulators.

Command
[code]

Of note, we have our UI tests split between 4 targets currently to minimize their run times. In the command above, I'm trying to only run the `Acceptance Tests1` tests, however the command is loading *all* te

[2017-02-02 18:06] oliverhu commented on #45
You are retrying the same testCase inside the same simulator. This looks more like a parsing error. @MattNewberry could you please paste your simulator log here? it is under `./output/` and with name `N-simulator.log`. cc @vargon

[2017-02-02 20:18] ob commented on #45
Bluepill can run failed tests multiple times (to detect flaky tests) but that option (`-failure-tolerance`) is supposed to be off by default. It's not clear from the output that this is what's happening though... I thought we had a retry number in there. Can you try explicitly setting `--error-retries` to zero in the command line?

Here for your cutting & pasting convenience:

[code]

I just want

[2017-02-03 01:03] fidgetware opened #46 "Interaction with Core Data is slow."
It is taking about 2.5 minutes for data to be saved in Core Data while running a test using Bluepill.
Subsequent saves are quick until the simulator is restarted and the initial Core Data save is slow again.

We import JSON data over the web, convert it to objects and save the objects in core data at intervals as we loop over the JSON. The save is done on a background thread.

Using Xcode to run t

[2017-02-03 01:04] ob opened #47 "Revamp option processing code"
We need two new fields in `BPConfiguration.m:BPOptions`, one to know whether this option applies to `bp` or `bluepill` or `both`, and another to know whether the _actual_ option is required or not. Right now we have the `no_argument`, `required`, and `optional` part but that is for `optarg` from `getopt`.

Also, we need to stop printing the full usage on error since it's grown too big.

Maybe also

[2017-02-03 05:37] samhann opened #48 "Bluepill quits with the message : "Could not launch app and tests: The request to open "com.xyz.iphoneapp" failed.""
I'm trying to debug the cause of this but I'm unable to figure it out.

There should be a verbose logging mode which prints all the NSError descriptions so we can figure out such issues.

[2017-02-03 06:51] ob commented on #48
If you give it an empty directory using the `--output` option it'll put the raw simulator logs in there.

[2017-02-03 12:28] samhann commented on #48
The logs don't contain any useful information. Eg:

--------------------------------------------------------------------------------
Tests started: 2017-02-02 19:04:16 +0000
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Tests started: 2017-02-02 19:06:17 +0000
-----------------------

[2017-02-03 15:12] vargon commented on #48
The second part of that message, "The request to open..." is returned to `bluepill` from the simulator. The simulator is unable to launch the application for some reason. I'd try resetting ("Reset Content and Settings...") the simulator. Also, a quick search reveals that this is potentially also caused by `Xcode` not being located in `/Applications`, but I don't know if that's relevant here.

[2017-02-03 15:43] MattNewberry commented on #46
Have you tried enabling Core Data debugging with `-com.apple.CoreData.SQLDebug 1` to verify?

[2017-02-03 15:47] MattNewberry commented on #45
#### Without retries set to zero (original cmd)
*(Of note, there are 2 failures within the test, could that be related the +3 count?)*

Simulator log:
[code]

Console output:
[code]

### With `-R 0`
No change... same behavior

[2017-02-03 16:03] MattNewberry opened #50 "[Feature] Progress Bar"
It'd be great if the console reported an overall progress indicator for each running simulator.

Examples
[code]

[code]

[2017-02-03 17:34] fidgetware commented on #46
I tested the flag in Xcode. FYI you also need to also enable -com.apple.CoreData.Logging.stderr 1
I could see the debug data being written to the Xcode console and I confirmed I could see the debug in the system console.

When running the test in bluepill no core data debug was written to the system console so I unfortunately do not have any more information.

[2017-02-03 20:25] oliverhu commented on #45
It seems to an issue with regex parsing. @vargon is fixing that 🗡

[2017-02-06 23:16] ob opened #52 "Bluepill should have a clearer message when it fails."
Right now, `bluepill` will exit with different exit codes depending on the overall success/failure of the tests. However it doesn't distinguish success from failure in the printed messages. It would be nice if after the last line:

[code]

it printed something along the lines of:

[code]

or

[code]

Or something like that.

[2017-02-07 03:14] iband2011 opened #53 "A launch exception"
**when I run bluepill, there was an Exception,here is logs...**
CCTest:bluepill-v0.2.1 chen$ ./bluepill -c config.json
[  INFO  ] This is Bluepill v0.1.0-33-g0d56983
[  INFO  ] Running with 4 simulators.
[  INFO  ] Packed tests into 6 bundles
[  INFO  ] Started Simulator 1 (PID 11521).
[  INFO  ] 1 Simulator still running. [1]
[  INFO  ] Using 366 of 1064 processes.
[  INFO  ] Started Simulator 2

[2017-02-07 03:17] ob commented on #53
This is probably an Xcode version mismatch. What version of Xcode are you using? Bluepill requires 8.2.1.

[2017-02-07 03:40] iband2011 commented on #53
Oh,My Xcode version is 8.1(8B62), I need update first, Thanks very much.

[2017-02-07 04:35] #53 closed

[2017-02-07 17:52] ob commented on #3
Fixed by #49

[2017-02-07 17:52] #3 closed

[2017-02-07 17:53] ob commented on #38
Fixed by #49

[2017-02-07 23:56] austinlouden commented on #15
Also seeing this issue, and can also confirm bluepill operates normally when using:
[code]

Here's my config file:
[code]

[2017-02-08 00:51] ob commented on #15
Are you using Quick?

[2017-02-08 01:23] austinlouden commented on #15
@ob nope, just XCTest in Objective-C.

[2017-02-08 01:27] ob commented on #15
Can you try running:

[code]

where `$TESTS` is the executable found inside your XCTest file? I.e. if your app is called `Foo.app`, and your tests are `Tests` you'll see that inside `Foo.app` there's a `Plugins` directory that has a `Tests.xctest` and inside this directory there is a `Tests` executable, so you'd set

[code]

and run the nm command above.

[2017-02-08 01:44] austinlouden commented on #15
Sure — here's a chunk of the output, the file is quite long. Let me know if there's something in particular you're looking for.
[code]

[2017-02-08 16:52] ob commented on #15
We're looking for lines with less than two fields. If you can run the previous command again and at the end pipe it through:

[code]

And look for something ending in `,1` and then going back to the original `nm -U` output and posting that line (or lines). Basically we need to follow that line through the pipeline and figure out why we're not getting the two fields we expect.

[2017-02-09 00:22] njuliyu opened #55 "False error "Application crashed before tests started!""
After we merged the change "Fix hangs (#49)", we started to observed the errors like
  20170208.154417 [  ERROR ] (12) Application crashed before tests started!
  20170208.154417 [  INFO  ] (12) [11] Delete Simulator,
but the test cases were actually running well without crash. It happens in the CI environment and also fail the bluepill integration test cases.

To reproduce with the test case, che

[2017-02-09 00:43] ob commented on #55
Yup, verified that it's busted. I suggest reverting to the previous version... we were a bit hasty in tagging. 😢

[2017-02-09 02:32] wangwangok opened #56 "xxx is not a valid runtime"
My English is not good, So you may not understand what I mean.when i use `bluepill`, and I have some problems.These are my input codes:
<pre><code>
./bluepill -a /Users/Wil/Library/Developer/Xcode/DerivedData/someApp-dtewmgszpypiziaywgdbcnictchx/Build/Products/Debug-iphonesimulator/someApp.app  -s /Users/Wil/Desktop/bluepill_build/someApp.xcodeproj/xcuserdata/Wil.xcuserdatad/xcschemes/someApp_Test

[2017-02-09 06:17] oliverhu commented on #56
hey @wangwangok , the team supports English, Spanish, Hindi and Chinese and has a high tolerance on English, so don't worry!

Back to the problem, we only support latest iOS runtime which is 10.2, and use ` -r 'iOS 10.2'`

[2017-02-09 09:28] njuliyu commented on #55
I created a integration-test branch based on the master, PR is pending.  After merge we can reproduce the bug of "Application crashed before tests started!" directly on the master branch.

[2017-02-09 21:53] ob commented on #56
We only support the latest _Xcode_. Old runtimes should work fine. The problem (which the docs don't make clear) is that you need to pass `iOS 10.0` and *not* `com.apple.CoreSimulator.SimRuntime.iOS-10-0`.

We should make that clearer.

[2017-02-09 21:56] ob commented on #15
@austinlouden if you have some time, I'd really appreciate the output of the `awk` command above. Thanks!

[2017-02-09 22:42] austinlouden commented on #15
@ob just ran the awk command — [here is the output](https://gist.github.com/austinlouden/41d57fbbc91033530a3999a6ef6ea2d0). It looks as if every line ends in 2.

[2017-02-10 00:26] ob commented on #15
Ah, I think I see the bug!

[2017-02-10 00:27] ob commented on #15
Thanks for your help @austinlouden ! PR coming soon...

[2017-02-10 01:54] wangwangok commented on #56
This morning, I updated my xcode,and use -r 'iOS 10.2',Successfully run! thank you very much!Sometimes I want to debug ui in an earlier ios version.thank you.

[2017-02-10 01:54] #56 closed

[2017-02-11 02:00] njuliyu opened #59 "Clean up the duplicated functions in SimulatorRunner.m"
We have some duplicated functions in SimulatorRunner, such as:

- (BOOL)installApplicationAndReturnError:(NSError *__autoreleasing *)error

+ (BOOL)installAppWithBundleID:(NSString *)hostBundleID
                    bundlePath:(NSString *)hostBundlePath
                        device:(SimDevice *)device
                         error:(NSError **)error

@ob We should definitely reduce the function

[2017-02-11 02:07] njuliyu opened #60 "Merge printError into printInfo"
We have both BPUtils::printInfo and BPUtils::printError, which is confusing.

Let’s nix printError and make printInfo:ERROR go to stderr.
Quite mode shouldn't suppress error messages.

[2017-02-12 20:22] shivam0406 opened #61 "Does it work on real iOS devices with appium ?"
I am using appium for iOS automation on real device, Now I want to execute my test simultaneously on real devices. How can I use bluepill in my project. If bluepill doesn't work then what can I use ?

[2017-02-13 05:46] oliverhu commented on #61
Bluepill doesn't support real device/appium. You can try cloud solutions - https://www.xamarin.com/test-cloud

[2017-02-13 05:46] #61 closed

[2017-02-13 05:48] oliverhu commented on #60
@njuliyu please checkout https://github.com/CocoaLumberjack/CocoaLumberjack

[2017-02-13 06:06] #26 closed

[2017-02-13 07:11] iband2011 commented on #53
Hey! Upgrade to Xcode8.2.1, the same problem occurred again.

[2017-02-13 18:39] oliverhu commented on #53
@iband2011 could you share your `config.json` and put some debugging info in `- (BOOL)validateConfigWithError:(NSError *__autoreleasing *)err {` in BPconfiguration.m? It seems your `self.xcodePath` is not valid

[2017-02-13 20:54] nickmshelley opened #62 "Crashed test counts as passed."
I had a test that failed in a set where all others succeeded, and when it retried it crashed the app, but then Bluepill marked it as success. Here's the relevant portion of the output:

[code]

Nothing else was retried after and Bluepill finished with success.

[2017-02-13 21:36] #35 closed

[2017-02-13 21:44] ob commented on #62
If it's reproducible, can you try it with the `integration-test` branch? I has a fix for a different problem but it's related to this area.

[2017-02-13 21:59] nickmshelley commented on #62
I can't reproduce it locally, and I've only seen it twice on one of our test machines (and only happened to see it because I was watching for a different failure).

Maybe I'll make a PR that does some validation when it returns success to make sure all the tests actually passed. The main thing I'm worried about is false positives.

[2017-02-13 22:04] oliverhu commented on #62
@nickmshelley it would be great if you could build a test case to reproduce this 🍡

[2017-02-13 22:13] nickmshelley commented on #62
Ok I'll look into it.

[2017-02-14 00:13] nickmshelley commented on #62
In looking into this, it seems like there are a few issues... I'll submit new issues for the new ones I found.

For this issue, it can be easily reproduced by adding the following lines to `testReportWithAppCrashingTestsSet`:

[code]

[2017-02-14 00:17] nickmshelley opened #63 "XML comparison in testReportWithAppCrashingTestsSet doesn't do anything"
`[reportXML nodesForXPath:@".//testsuites" error:nil]` returns `nil` for the output, so `compareElement` early returns.

I found this because I was wondering how this actual resulting XML file:

[code]
was being considered equal to the expected one:

[code]

[2017-02-14 02:36] njuliyu commented on #60
Fixed in the branch Fix Usability #64

[2017-02-14 17:45] bnimmagadda opened #65 "Bluepill Error : "Could not launch app and tests: The request to open "com.xyz.internal.debug" failed.""
Need help with the error.

[  INFO  ] Using 781 of 1064 processes.
[  ERROR ] (2) Completed: [1] Launch Application
[  ERROR ] (2) Could not launch app and tests: The request to open "com.xyz.internal.debug" failed.
[  INFO  ] (2) [1] Delete Simulator
[  ERROR ] (3) Completed: [1] Launch Application
[  ERROR ] (3) Could not launch app and tests: The request to open "com.xyz.internal.debug" failed.

[2017-02-15 04:57] #62 closed

[2017-02-16 07:28] sencho opened #67 "bluepill Is the project that mentioned in below article?"
bluepill was the project that  mentioned in below article?
[https://engineering.linkedin.com/blog/2016/04/3x3--ios-build-speed-and-stability](url)

[2017-02-16 08:00] oliverhu commented on #16
Some good news here. Finally got this working with the help in [FBSimulatorControl](https://github.com/facebook/FBSimulatorControl). Will submit a PR for this.

[2017-02-16 08:01] oliverhu commented on #67
@sencho nope, that was the predecessor to this project :)

[2017-02-16 08:01] #67 closed

[2017-02-16 08:14] oliverhu commented on #65
Are you able to see the app installed in the simulator?

[2017-02-16 15:34] barakwei commented on #65
I see this too with the sample app. I compile the sample app using
`xcodebuild -project BPSampleApp.xcodeproj -scheme BPSampleApp -configuration debug  build-for-testing`
Then I use
`bluepill -a <Path to derived data>/Build/Products/Debug-iphoneos/BPSampleApp.app -s BPSampleApp.xcodeproj/xcshareddata/xcschemes/BPSampleApp.xcscheme -o ./output`

I don't see the app installed. Right after the OS loa

[2017-02-16 17:21] oliverhu commented on #65
Ah, perhaps it is the problem with resource limit, check your `ulimit -a `?

This is mine ;-)
[code]

[2017-02-16 19:51] barakwei commented on #65
Nice rig 😄
I'm not sure this is the problem. Can you repro with the commands I mentioned? Are they correct?

These are my stats
[code]

[2017-02-16 21:18] oliverhu commented on #65
@barakwei did you add `-sdk iphonesimulator`??

[2017-02-16 21:38] bnimmagadda commented on #65
Here is mine ...

core file size          (blocks, -c) 0

data seg size           (kbytes, -d) unlimited

file size               (blocks, -f) unlimited

max locked memory       (kbytes, -l) unlimited

max memory size         (kbytes, -m) unlimited

open files                      (-n) 256

pipe size            (512 bytes, -p) 1

stack size              (kbytes, -s) 8192

cpu time               (s

[2017-02-16 21:57] oliverhu commented on #65
@barakwei yah, you definitely missed the -sdk option

In your command:
`bluepill -a <Path to derived data>/Build/Products/Debug-iphoneos/BPSampleApp.app -s BPSampleApp.xcodeproj/xcshareddata/xcschemes/BPSampleApp.xcscheme -o ./output`

It should be `Debug-iphonesimulator` instead of `Debug-iphoneos`

Maybe same to @bnimmagadda

[2017-02-16 23:42] oliverhu commented on #48
@samhann i presume you faced the same issue as #65. You need to build the app for iOS simulator instead of iPhone

[2017-02-17 03:09] krisdyZJU commented on #16
@oliverhu when will this pr merged into the latest code to support xcode ui testing?

[2017-02-17 06:05] barakwei commented on #65
@oliverhu yep, it was the `-destination` flag.
I now used
[code]
And it worked perfectly

[2017-02-17 07:08] oliverhu commented on #65
👍

[2017-02-17 07:08] #65 closed

[2017-02-17 07:08] #48 closed

[2017-02-17 18:07] nickmshelley commented on #52
It would also be nice if it printed a list of the tests that failed. Not sure if that should be a separate task or part of this one.

I'm willing to implement that, but I was under the impression that this was being worked on as part of one of the other fixes. Let me know if there's something I can do to help.

[2017-02-17 23:01] barakwei opened #69 "Crash on some scheme file"
When I run bluepill on my (objc) app, I get
[code]

I confirmed [this](https://github.com/linkedin/bluepill/blob/master/Source/Shared/BPXCTestFile.m#L64) is problematic line.

[2017-02-18 02:49] oliverhu opened #70 "Xcode 8.3 support"
Placeholder for Xcode 8.3 support.

[2017-02-18 02:50] oliverhu opened #71 "Parse .xctestrun file to read test targets information"
Instead of traversing file system for the test targets, parse .xctestrun file to fetch them.

[2017-02-18 11:17] barakwei commented on #69
Dup for #15

[2017-02-23 00:12] kyu-coursera opened #73 "Does bluepill work for 9.3?"
Hello,

I'm trying to run bluepill for iPhone SE on 9.3. I've done xcodebuild with the proper destination:

`-destination 'platform=iOS Simulator,name=iPhone SE,OS=9.3'`

Here's my config.json:

[code]

But I'm getting the following error:

[code]

However, when I run tests manually via xcode or xcodebuild command, I do not get those errors. Am I doing something wrong?

[2017-02-23 00:23] ob commented on #73
Try putting quotes around the value for "runtime". I.e.

[code]

[2017-02-23 03:20] kyu-coursera commented on #73
Ah thank you, i was missing the "iOS" part!

[2017-02-23 03:20] #73 closed

[2017-02-23 18:57] bnimmagadda commented on #65
Thank you so much @Keqiu

It works perfectly now :-)

On Thu, Feb 16, 2017 at 11:08 PM, Keqiu Hu <notifications@github.com> wrote:

[2017-02-24 07:07] oliverhu commented on #16
it is contingent on #55 , hopefully sometime next week :D

[2017-02-24 18:55] ob commented on #52
I was going to pick it up as part of the usability branch but I think I already have too much there so I'm punting for now. If you want to pick it up we can chat about it.

[2017-02-24 19:58] nickmshelley commented on #52
I'm fine to do it, but if you think it would make merging other in-progress things harder (or make this harder to merge if those get in first), maybe it would be better to wait. If it won't affect the merge that much then maybe I can get started on something.

[2017-02-24 21:13] ob commented on #52
Ok. Let's wait then.

[2017-02-24 23:17] oliverhu commented on #52
The wait is gonna take a while :-) We have a big queue of PRs awaiting #74 (I'd love to merge my #68 in first as well)

[2017-02-25 01:03] xiaobing1024 opened #75 "SimServiceContext sharedServiceContextForDeveloperDir:error:"
I create a new project and run `./bluepill -c config.json`,There are some errors,what should I do?
[code]
this is my `config.json`
[code]

[2017-02-25 01:21] oliverhu commented on #75
@xiaobing1024 can you post the result of `xcode-select -p`? It seems your system is not under Xcode 8.2 env

[2017-02-25 01:24] ob commented on #75
Also, your runtime needs to be "iOS 10.2", not just "10.2"

[2017-02-25 01:30] oliverhu commented on #75
@ob update read.me for this in #64 ?

[2017-02-25 01:31] xiaobing1024 commented on #75
@oliverhu is this?
[code]
I have xcode7.2 and 8.2.1 `/Applications/Xcode8.2.app` is my xcode8.2.1 path

[2017-02-25 01:34] xiaobing1024 commented on #75
@ob I changed `iOS 10.2` but  also:
[code]

[2017-02-25 01:36] oliverhu commented on #75
@xiaobing1024 yah, you need to switch your toolchain to Xcode8.2

`xcode-select --switch /Applications/Xcode8.2.app/Contents/Developer`

[2017-02-25 01:44] xiaobing1024 commented on #75
@oliverhu I run the `xcode-select --switch /Applications/Xcode8.2.app/Contents/Developer` and has a new error:
[code]

[2017-02-25 01:47] ob commented on #75
Use the same path that `xcode-select -p` prints as the `xcode-path` in the config file.

[2017-02-25 01:53] nickmshelley commented on #52
That's ok, it's not urgent. Everything is working well for us right now, it just takes a bit more digging in the logs to see why things failed.

[2017-02-25 01:56] xiaobing1024 commented on #75
@ob Thank you very much,I run successfully.😁

[2017-02-25 02:21] #75 closed

[2017-02-25 02:21] ob commented on #75
FWIW, there are fixes in the `usability` branch that make all these errors more obvious ;-)

[2017-02-25 09:25] oliverhu commented on #55
close as #76

[2017-02-25 09:25] #55 closed

[2017-02-25 09:26] oliverhu commented on #59
fixed in #68

[2017-02-25 09:26] #59 closed

[2017-02-25 22:44] ob commented on #15
Fixed by #64

[2017-02-25 22:44] #15 closed

[2017-02-25 22:44] ob commented on #34
Fixed by #64

[2017-02-25 22:44] #34 closed

[2017-02-25 22:45] ob commented on #60
Fixed by #64

[2017-02-25 22:45] #60 closed

[2017-02-25 22:45] ob commented on #73
Fixed by #64

[2017-02-25 22:45] ob commented on #47
Fix by #64

[2017-02-25 22:45] #47 closed

[2017-02-25 22:51] ob opened #77 "Reorganize debug, quiet, and verbose options."
The various outputs of bluepill have become quite a mess. I'm opening this issue as a place for discussion about what the different output modes should be. My proposal is as follows:

- [ ] Have two first class options:
  * `--quiet` only prints `ERROR` messages in stderr
  * `--debug` prints `DEBUGINFO` level messages in stderr
  The default is to print `ERROR`, `WARNING`, and `INFO` messages.
-

[2017-02-26 06:37] oliverhu commented on #77
why do we need `quiet` or `debug` flags? We just need a log level hierachy:
`info -> debug -> warning -> error `

[2017-02-26 11:09] Shashanklahariya commented on #61
Just a confirmation needed. Does it not support appium at all, even with simulators also.

[2017-02-26 20:52] oliverhu commented on #61
@Shashanklahariya there is no plan to support appium recently, you can try Facebook's https://github.com/facebook/WebDriverAgent

[2017-02-27 10:33] passchaos commented on #17
Same error again!
[code]

[2017-02-27 16:31] #69 closed

[2017-02-27 16:46] ob commented on #17
That's a strange error. Can you try running `bluepill --list` on your app?

[2017-02-27 21:17] oliverhu commented on #38
We can still reproduce this, we are not actually handling timeout tests properly

[2017-02-27 23:10] ob opened #79 "If bluepill is interrupted (^C) it'll still exit 0"
Title says it all. If you send `SIGINT` to bluepill it'll abort the tests, but it'll report `All Tests Passed` which is not true.

[2017-02-28 04:37] passchaos commented on #17
Yeah, 'bluepill --list' show three xctest files, two Kif test target, one XCTest target, no XCUITest

[2017-02-28 05:13] oliverhu commented on #16
Update: the support is available in #68, please check it out. The branch works locally but can't pass CircleCI, still trying to figure out why 😕

[2017-02-28 05:35] passchaos commented on #17
My fault. I used test target. Bluepill don't support test target, right?

[2017-02-28 06:00] oliverhu commented on #17
@passchaos  Not yet supported, but sounds like a legit feature. Feel free to submit a pr for that.

[2017-02-28 06:05] oliverhu commented on #38
fixed again in #80

[2017-02-28 06:05] #38 closed

[2017-03-01 00:34] ob commented on #36
This is fixed

[2017-03-01 00:34] #36 closed

[2017-03-01 18:16] djrenfro commented on #16
@oliverhu I ran your branch locally and ran into two issues running UI tests.  In BPPacker.packTests(), I was getting a exception any on xctFile any time it tried to access part of it.  While debugging, looks like the file type for some reason is an Array so I fixed it locally by changing the data type from BPXCTestFile to NSArray and and used xctFile.firstObject.  Not sure if there is something d

[2017-03-01 20:30] oliverhu commented on #16
@djrenfro it would be great if you could get a PR based on that branch to fix the first issue (and a test case to reproduce the second issue)

[2017-03-01 22:14] djrenfro commented on #16
@oliverhu PR to fix the first issue in #82
For the 2nd issue, I created a branch on my fork with a second UI test added to the UI test class - https://github.com/djrenfro/bluepill/commit/ce317979156d91a210b16b2dcc4be314aaa39b0b.  If you put a debug point at the location mentioned in my previous comment and wait between 8-10 seconds after the first simulator is launched to continue, you'll see the

[2017-03-01 23:18] oliverhu commented on #16
@djrenfro Good catch! Merged #82. I'll take a look at the second issue tomorrow and this Friday.

[2017-03-02 13:39] vargon commented on #45
Add PR #83 to handle this issue. @MattNewberry let me know if you can try out that branch and if it fixes your issue. Thanks!

[2017-03-06 08:21] oliverhu commented on #16
@djrenfro found the problem - NSTemporaryDirectory() returns the same temporary path under different Bluepill-ci processes :(  And in my branch, I added a constant session identifier for all blupill-cli. Pushed a fix, should work now.

[2017-03-07 00:14] djrenfro commented on #16
@oliverhu That fixed the issue I was having, working well now

[2017-03-07 00:28] oliverhu commented on #16
Cool. Also for the CI issue, it is only reproducible with CircleCI but not with Travis, we are considering moving back to Travis and merge this branch in.

[2017-03-07 16:14] bnimmagadda opened #87 "Can we run single test using bluepill?"
I Run single test using xcodebuild like this

xcodebuild test -workspace xxxWorkspace.xcworkspace/  -scheme "xxx.com Debug-UITests" -destination "platform=iOS Simulator,name=iPhone 6s,OS=latest" -only-testing:zzzUITests/SmokeTest

Can I run the similar test using bluepill?

Thanks

[2017-03-07 20:06] ob commented on #87
You should be able to run it by doing:

[code]

[2017-03-10 06:56] oliverhu commented on #16
The PR is merged, please try it out and report issues :)

[2017-03-10 06:56] #16 closed

[2017-03-10 18:45] djrenfro opened #89 "Not accepting test bundle path argument"
When the test-bundle-path argument is passed, the program immediately exits.  When debugging, in BPConfiguration.m, test-bundle-path program is only 'BP_SLAVE' instead of 'BP_MASTER | BP_SLAVE' so in handleOpt() it exits because !(BPOptions[i].program & self.program) is true for test-bundle-path.  I can make a PR for adding BP_MASTER but don't know what those are for so not sure if its intentional

[2017-03-10 18:49] djrenfro opened #90 "Remove hardcoded test startup timeout"
In SimulatorMonitor.m -> onOutputReceived, the timeout for test startup is hardcoded to 30s timeout rather than using stuckTimout parameter which it is initialized to.  Looks like its debugging code that is just left over.

[2017-03-10 19:22] oliverhu commented on #89
BP_MASTER means the arg is for the bluepill-runner and BP_SLAVE means it is for the bluepill-cli instance. Feel free to submit a PR for this and #90

[2017-03-10 20:03] njuliyu commented on #89
You can try the sim-reuse branch If you don't care XCtest or XCUI test. It fixed this issue and other CLI handling issues.  It is only one day behind master.

[2017-03-12 21:18] jimmyeisenhauer commented on #16
i tried running latest master with ui test bundle and just got
`ERROR: (null)`  as output.  Still working on debugging further.

[2017-03-12 22:07] nickmshelley commented on #16
@jimmyeisenhauer Try looking at https://github.com/linkedin/bluepill/pull/93

[2017-03-13 05:22] jimmyeisenhauer opened #97 "Setting failure-tolerance causes error"
Using master branch i get the below error when i try to set the --failure-tolerance 2

2017-03-12 22:19:39.346 bluepill[99178:15294548] -[NSTaggedPointerString unsignedLongLongValue]: unrecognized selector sent to instance 0x3315
2017-03-12 22:19:39.347 bluepill[99178:15294548] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSTaggedPointerString unsignedLong

[2017-03-13 05:45] jimmyeisenhauer commented on #16
making the change in #93 got it working thanks!  Has anyone else tried the -i option with UI tests?  I just get the error `{4364} 20170312.224328 [  ERROR ] Packing failed: (null)`

[2017-03-13 05:46] jimmyeisenhauer commented on #97
didn't see PR #96

[2017-03-13 05:46] #97 closed

[2017-03-13 14:37] jimmyeisenhauer commented on #16
it also looks like it will not run with ONLY a  UI test bundle - `2017-03-13 07:24:31.584 bluepill[9250:15794876] There is .xctest file under /Users/mos6y/Documents/workspace/sour-mash/./hack/Build/Products/Debug-iphonesimulator/sour-mash.app/Plugins
ERROR: The folder “Plugins” doesn’t exist.`

[2017-03-13 17:50] oliverhu commented on #16
@jimmyeisenhauer could you open an issue for that?

[2017-03-13 17:50] #90 closed

[2017-03-13 19:37] jimmyeisenhauer opened #98 "UI tests will not run with ONLY a UI test bundle"
with latest UI test bundle changes in master if you build for testing your app/scheme without unit tests and attempt to run the UI tests you get this error.

2017-03-13 07:24:31.584 bluepill[9250:15794876] There is .xctest file under /Users/mos6y/Documents/workspace/sour-mash/./hack/Build/Products/Debug-iphonesimulator/sour-mash.app/Plugins ERROR: The folder “Plugins” doesn’t exist.

[2017-03-13 19:38] jimmyeisenhauer opened #99 "-i option does not work with ui test bundles"
When attempting to use the -i option to specify certain UI tests I get the below error
{4364} 20170312.224328 [ ERROR ] Packing failed: (null)

[2017-03-13 19:38] jimmyeisenhauer commented on #16
submitted #98 #99 for the two above issues I posted. thanks!

[2017-03-13 21:18] #89 closed

[2017-03-13 21:18] #87 closed

[2017-03-13 21:46] ob commented on #17
So it seems this is resolved and was reopened by mistake.

[2017-03-13 21:46] #17 closed

[2017-03-14 15:49] DNCGraef opened #100 "If there is an error launching the app and tests, new simulators continue to spawn infinitely"
Description:
If there is an error launching the app and tests, new simulators continue to spawn infinitely (handler.onError, Bluepill.m, line 315)

Suspected cause:
When the "onError" block of Bluepill.m, “launchApplicationWithContext:” is called, self.maxLaunchTries is decremented. However, this gets reset back to the original value when the next simulator is spawned in Bluepill.m, “installApplic

[2017-03-14 22:42] zaidkazi opened #101 "Error when running XCUI Tests with bluepill"
Generated a test runner app using the "build for testing" command and give bluepill the app path and the scheme.

It launches two simulators although after the apple logo they stay black the simulator log says

here is the most of the console log for the failure

{46581} 20170314.183558 [  INFO  ] Running with 2 simulators.
{46581} 20170314.183558 [  INFO  ] Packed tests into 2 bundles
{46581} 201

[2017-03-14 22:54] jimmyeisenhauer commented on #101
did you set the app path using -a
and the test runner app path using -u ?

[2017-03-15 10:50] DNCGraef opened #102 "Cannot successfully run tests, even in bundled sample app"
I am unable to have bluepill successfully run the test suite of any app, even the bundled sample application

Setup:
Retina 13" Late 2013 Macbook Pro
8GB RAM
Dual core 2.6Ghz Intel i5
Running MacOS Sierra, 10.12.3
Xcode 8.2.1

Steps:
- Build bluepill using ./scripts/bluepill.sh build (commit # 2ac96e34f1f91c6b3e3f2bde06ff396d226668e8)
- Build BPSampleApp via Xcode (open project, cmd+B)
- Run bluep

[2017-03-15 10:53] DNCGraef commented on #102
Can't upload file for some reason. Logs are as follows:

{8825} 20170315.092240 [  INFO  ] This is Bluepill v0.2.3-29-g2ac96e3
{8825} 20170315.092240 [  INFO  ] Running with 1 simulator.
{8825} 20170315.092240 [  INFO  ] Packed tests into 2 bundles
{8825} 20170315.092240 [  INFO  ] Started Simulator 1 (PID 8857).
2017-03-15 09:22:40.881 bp[8857:65791] SimDevice is loaded..
{8857} 20170315.092240 [

[2017-03-15 14:43] zaidkazi commented on #101
Awesome that works i was missing the test runner app path!

[2017-03-15 14:43] #101 closed

[2017-03-15 14:44] zaidkazi opened #103 "Intergration with XCPretty Report"
Is it possible to run bluepill and pipe the logs to generate a XCPretty test result report?

[2017-03-15 21:15] fabiomassimo commented on #16
I'm using the latest and greatest from `master` branch but I'm not able to run the Xcod UI Tests in parallel. They are all launched on one simulator only while my unit tests are properly parallel-ized.

Is it a well known issue or this should have been fixed on `master`?

[2017-03-16 02:02] jimmyeisenhauer commented on #103
are you talking about the html report?  If so you can find quite a few libs out there that convert junit xml reports to html like https://github.com/lukejpreston/junit_viewer

[2017-03-16 02:15] jimmyeisenhauer commented on #102
if it helps ya troubleshoot you can clone my sample poc project.  It has the latest from master and unit and ui tests in it.  https://github.com/jimmyeisenhauer/sour-mash.git

just clone and then run `./buildTest.sh`

[2017-03-16 03:29] oliverhu commented on #103
@jimmyeisenhauer is an evangelist of Bluepill, thanks! 👍

Just to add a bit more, we generate junit report in the output directory and you can easily customize your own report base on that.

[2017-03-16 03:33] oliverhu commented on #16
@fabiomassimo is the number of UI tests >> the number of unit tests?

In current setup, if say you have 100 unit tests and 25 UI tests, and you have 5 simulators to run all of them - we will do the math as (100 + 25) / 5 = 25, so each simulator will take 25 tests. As a result, all UI tests will run in the simulator.

[2017-03-16 09:45] fabiomassimo commented on #16
Thank you for explaining me that! It makes sense now.

What if I want to run only UI Tests then? In that case the algorithm should parallelise the UI test cases.

I started to look into this too but I wonder if the `--exclude` option is the right way to go.
The reason I'm asking is that I find it quite hard to apply to exclude all unit test cases because, as far as I understood, I have to manually

[2017-03-16 10:27] DNCGraef commented on #102
@jimmyeisenhauer I cloned and ran your project with the same result. This works fine on your machine? What's your set up?

[2017-03-16 13:58] jimmyeisenhauer commented on #102
yes this run fine i have quite a bit more memory :-)
Mac (Retina 5K, 27-inch, Late 2015)
4 GHz Intel Core i7
32 GB 1867 MHz DDR3
Running MacOS Sierra, 10.12.3
Xcode 8.2.1

I would be curious if you dropped the -n down to 2 or even 1 simulators if it would work.

[2017-03-16 14:18] DNCGraef commented on #102
Unfortunately I've tried that as well to no avail.

[2017-03-16 15:52] nickmshelley commented on #16
@fabiomassimo I think you want the `-t` option that allows you to pass in a single .xctest bundle.

[2017-03-16 16:00] DNCGraef commented on #102
Apologies, this was user error

Previously I had Xcode installed at /Applications/Xcode_8.2.1.app and symlinked to /Applications/Xcode rather than /Applications/Xcode.app

D'oh!

With the symlink updated, it works well 😃

[2017-03-16 16:00] #102 closed

[2017-03-16 18:34] ob commented on #102
There should be a better error message though... can you open another issue saying something like "if Xcode isn't properly installed Bluepill should give a sensible error message"? I'll try to address that in the code. Thanks for figuring this out!

[2017-03-17 13:45] DNCGraef opened #104 "Bluepill runs infinitely and does not throw an error if ".app" is missing from Xcode path"
Steps:
- Install Xcode 8.2.1 at /Applications/Xcode_8.2.1.app
- Run "ln -s /Applications/Xcode_8.2.1.app /Applications/Xcode"
- Run "xcode-select -s /Applications/Xcode"
- run bluepill test suite

Expected:
1) Test suite should execute successfully
or
2) An error stating that the Xcode path is incorrect should be displayed, test suite should be halted

Actual:
- Simulators boot, application instal

[2017-03-17 13:49] DNCGraef commented on #104
Raising issue off the back of user error described in #102

[2017-03-17 15:11] n4me1ess commented on #98
+1

[2017-03-17 21:29] #103 closed

[2017-03-17 21:41] oliverhu commented on #99
@jimmyeisenhauer could you provide more detailed information on this? E.g: your setup and more logs pls.

[2017-03-17 21:59] oliverhu commented on #46
There is currently no action item for this one. If there are more observation of slowness in CoreData usages, we will reopen this.

[2017-03-17 21:59] #46 closed

[2017-03-17 22:02] oliverhu commented on #104
It was caused by an _accidentally_ pushed hard coded path and got fixed by - https://github.com/linkedin/bluepill/commit/3b3e7a77bb98167ddc8a087137f15ea964f2d995 #105

[2017-03-17 22:02] #104 closed

[2017-03-17 23:08] #98 closed

[2017-03-17 23:38] #100 closed

[2017-03-18 05:37] jimmyeisenhauer commented on #99
with latest from master i am no longer able to recreate

[2017-03-18 05:37] #99 closed

[2017-03-18 20:28] jimmyeisenhauer opened #108 "[Feature] Screenshots of failed UI tests"
curious if you guys have thought about doing something with the screenshots from the test logs.   There is this one tool that I use currently that does this.  https://github.com/nacuteodor/ProcessTestSummaries

But retry logic and parallel execution with bluepill is winning and I plan to move all my CI to bluepill, but was trying to figure out how to get the screenshots feature back.

thanks for a

[2017-03-18 20:41] oliverhu commented on #108
Not sure how that _ProcessTestSummaries_ does that, the logic to take screenshots on failures or on demand and the logic to handle them are in our testing framework library. I'd prefer not to include screenshots logic in bluepill.

[2017-03-18 21:00] jimmyeisenhauer commented on #108
they just take the screenshots from the TestSummaries rename them and move them to a specified folder.  I haven't looked at how you guys are creating the junit.xml file but figured it was similar.  No problem if not wanting to add...I can figure out something else.

[2017-03-18 21:04] #108 closed

[2017-03-18 22:47] zaidkazi opened #109 "XCUI Scheme skipped tests not respected"
Blue pill seems to run tests excluded by the scheme the scheme was specified in the Xcodebuild  build for testing command and also in the blue pill command to run the tests although it runs all the tests even after being disabled in the scheme.

Im aware of the include exclude arguments in bluepill but wanted to know if this was expected behaviour.

[2017-03-18 23:50] oliverhu commented on #109
Yes, that is a missing piece in bluepill, we plan to tackle this together with #71  cc @vargon

[2017-03-20 15:55] zaidkazi opened #110 "Running 227 tests only 50 got executed"
Im investigating this will provide more details if anyone has any insight this might be related to #109 and #71

although setting break points i'm not sure where the problem occurs as the bundle does load 227 tests although after 50 tests it says everything is completed and simulators close

[2017-03-20 20:01] #110 closed

[2017-03-22 15:46] nabsofken opened #111 "unable to run ui tests- app is not getting installed"
"app": "/Users/nabsofken/Library/Developer/Xcode/DerivedData/myapp-bzxylkuxaecrglemjcbvxzoztvow/Build/Products/UITest-iphonesimulator/myapp-Debug.app",
   "runner-app-path" : "/Users/nabsofken/Library/Developer/Xcode/DerivedData/myapp-bzxylkuxaecrglemjcbvxzoztvow/Build/Products/UITest-iphonesimulator/myapp-Runner.app",
   "scheme-path": "/Users/nabsofken/TwixiOS/myapp.xcodeproj/xcshareddata/xcsche

[2017-03-22 17:18] oliverhu commented on #111
Because there is no UI tests bundle built. Have you specified build-for-testing when you build the app?

[2017-03-22 18:26] nabsofken commented on #111
yes I did a build-for-testing step beforehand. But it only seems to install the runner app during execution

[2017-03-22 18:51] oliverhu commented on #111
That's expected. In UI tests, normally you'll call `[[[XCUIApplication alloc] init] launch];` in your test code, that line of code will trigger the installation and launch of the app.

Please double check if you have the correct UI test bundles in your build folder.

[2017-03-23 04:16] zaidkazi opened #112 "Retry tests should not be part of junit output unless success and suites should be combined from different simulators"
Having failure retries being logged as separate tests in the junit output makes it really difficult to get a true testing statistics.

Only if the retry is a  success than the original should be updated with the passing result.

I think this is a repeat of #83 although one more thing that would help would be multiple simulators when combined show as different suites if we could combine those it wo

[2017-03-23 04:57] zaidkazi commented on #112
I think this is a repeat of #83 although one more thing that would help would be multiple simulators when combined show as different suites if we could combine those it would help

[2017-03-23 15:43] zaidkazi commented on #112
Both these issues are now fixed with the combination of PR #83 and a pr #113 from one of the developers on my team.

[2017-03-28 16:52] oliverhu commented on #70
_8.3_ is out _!_

[2017-03-30 09:13] patchthecode opened #114 "Can you direct me to the code related to running XCUITests concurrently?"
Can you direct me to the code related to running XCUITests concurrently?
Since you do not have a change log, I do not know in which version this was added, nor can I track down the code to handle this.
May I get some help please?

[2017-03-30 12:45] DNCGraef opened #116 "Runtime documentation is misleading"
Documentation on Github front page suggests that "10.2" would be a valid value to pass as the -r param. In fact, the format "iOS 10.2" is required.

[2017-03-30 14:20] DNCGraef opened #117 "On a mixed unit/UI test run, unit tests execute on multiple simulators, but UI tests do not"
I have a project with a mix of unit and UI tests. I run blue pill with the default number of simulators. The unit tests run across 4 simulators. The UI test suite runs afterwards, but only on one simulator.

Using latest master branch.

Will update with more details shortly...

[2017-03-30 15:06] oliverhu commented on #117
Please check the last few conversations in #16

[2017-03-30 15:08] oliverhu commented on #116
fixed in master

[2017-03-30 15:08] #116 closed

[2017-03-30 15:14] oliverhu commented on #114
It is in #88 . We don't have a changelog yet, but the info is mentioned in the release note (v1.0.0).

[2017-03-30 15:28] #111 closed

[2017-03-30 15:35] oliverhu commented on #112
@zaidkazi could you follow up on #113 , we plan to merge #83 and close this ticket

[2017-03-30 23:05] patchthecode commented on #114
Thanks you very much.

[2017-03-30 23:05] #114 closed

[2017-03-31 08:41] DNCGraef commented on #16
I can see why you've split the tests that way... but in a project where unit tests outweigh UI tests (trending towards optimal testing pyramid https://martinfowler.com/bliki/TestPyramid.html), little time-saving gains will be achieved.

It's more or less guaranteed that the length of any given UI test will exceed that of a given unit test, likely by order(s) of magnitude.

Would it be possible to

[2017-03-31 15:27] oliverhu commented on #16
@DNCGraef  ;-) Read the read.me carefully, you'll find a flag called no-split, simply put your unit test target there.

[2017-03-31 17:19] DNCGraef commented on #16
Nice tip - I'll try that :D

[2017-04-04 19:43] djrenfro opened #118 "Bluepill doesn't use environment variables from test action"
Bluepill does not read in the environment variables from the test action which can be useful for xctest. It's pretty easy to read in the test action environment variables into the launch action ones, I'll open a PR for that, but not sure how that would affect other types of testing.

[2017-04-05 05:24] oliverhu commented on #118
Thanks! Merged

[2017-04-05 05:24] #118 closed

[2017-04-05 16:51] SerenadeX opened #120 "Add option to open an external screen in the simulator"
Some of the tests I write depend on having a second screen attached to the device.  It would be nice if bluepill had an option for having the simulator attach that second screen

[2017-04-06 17:49] oliverhu commented on #120
@SerenadeX not getting your point. Having the simulator attach to the second screen of what?

[2017-04-06 18:04] SerenadeX commented on #120
The iOS simulator allows you to attach a second screen, simulating when you use AirPlay mirroring or plug in an HDMI cable.  You can turn it on here in the settings

<img width="567" alt="schermata 2017-04-06 alle 12 02 40" src="https://cloud.githubusercontent.com/assets/1624085/24768750/fa66b638-1ac0-11e7-8723-c3e8f35220ac.png">

[2017-04-06 18:25] oliverhu commented on #120
Holy cow, I have never used that!

I'm not sure how that could be approached atm, so there is no commitment to implement this, but I'll take a look if I have time. Feel free to hack the code yourself to add the support. :)

[2017-04-06 19:09] SerenadeX commented on #120
I'll do it if I have the time, but if you want to try using AppleScript that might be the best way to click on that.  If I still haven't found an efficient solution then I will come back and hack it myself, but please feel free to try if you can

[2017-04-07 14:28] bootstraponline opened #122 "Video recording?"
[FBSimulatorControl](https://github.com/facebook/FBSimulatorControl/blob/master/FBControlCore/Commands/FBVideoRecordingCommands.h) can record videos. Any chance of a similar feature for bluepill?

[2017-04-07 18:21] oliverhu commented on #122
That is not our priority atm, but worth hacking later. Any help would be appreciated ;-)

[2017-04-11 15:11] andrewcrawford44 opened #123 "Specifying more than 1 device type to run tests"
Hi,

I've been able to get bluepill working with multiple simulators (all same device/OS) but what I want to be able to do is run the tests on both iPhone 6 and iPhone 7 simulators at the same time.

How am I able to do this?

I've tried  "device": ["iPhone 6", "iPhone 7"] in the config.json file but it only accepts a string.

If I use the command ./bluepill -c config.json -d "iPhone 6s" -d "iPhon

[2017-04-11 15:56] ob commented on #123
Bluepill doesn't really have support for this right now (patches welcome ;-). However, the `bluepill` binary is just a thin manager over the `bp` binary which is the one that actually runs the tests. If you don't need the packing capabilities of `bluepill` you can run `bp` directly and use different devices for each process.

If you run `bluepill` in debug mode, you'll see the actual config file t

[2017-04-11 17:22] #70 closed

[2017-04-11 17:33] oliverhu opened #124 "Refactor BPTreeParser/Monitor to leverage BPTestBundleConnection callbacks"
In the new UI test world, we got a lot more callbacks from the test bundle
 the `XCTestManager_IDEInterface` delegate. We should leverage these callbacks to make BPTreeParser/Monitor better.

[2017-04-11 18:33] jimmyeisenhauer opened #125 "test result parsing error"
running UI tests looks like the parser had a issue on &#x27  which was used in one of the test steps.

/output/3/TEST-OmegaUITests-results.xml: Line 361: PCDATA invalid Char value 8

[TEST-OmegaUITests-results.xml.zip](https://github.com/linkedin/bluepill/files/914334/TEST-OmegaUITests-results.xml.zip)

[2017-04-11 22:10] oliverhu commented on #125
It seems Unicode is not properly handled in `BPReporters.m`, PR is welcomed :) cc @vargon

[2017-04-11 22:18] oliverhu commented on #123
minor addition to @ob , just fyi, it is not possible to run both 32bit devices (4s, 5c) and 64bit devices (5 onward) at the same time.

As mentioned, patches welcome :)

[2017-04-14 05:34] cleexiang opened #126 "how to find out "scheme-path" of my project?"

[2017-04-14 06:16] oliverhu commented on #126
run `find . -name *.xcscheme` in your root directory?

[2017-04-14 14:34] andrewcrawfordstv commented on #123
Thanks.  As a workaround I've just created a batch file to run the different devices in parallel.

[2017-04-21 14:51] DNCGraef opened #127 "Simulators which fail to launch due to a "miscellaneous error" are not shut down by bluepill"
E.g. In the case that this happens:

[code]

Bluepill successfully recovers and launches another Simulator to compensate, but does not shut down the simulator with the error.

This isn't ideal from a CI perspective, since build slaves will accumulate these broken simulators over time, hogging RAM and impacting performance.

[2017-04-21 15:28] ob commented on #127
Wow, good find. I'm wondering how we could add a test case for that scenario 🤔

[2017-04-21 15:32] DNCGraef commented on #127
Not sure what causes it... I believe I've seen that error code before when trying to execute unit tests via Jenkins on a slave which does not have a GUI session... Maybe that will provide some inspiration?? ;P

[2017-04-21 15:40] ob commented on #127
Oh, I've seen that error before but  haven't been able to find the cause. I didn't know we were leaking Simulators though...

[2017-04-24 19:18] brandonroeder commented on #109
@oliverhu Is this being actively worked on? Are there any requirements/plan on how to implement it? My team needs the ability to skip certain tests so I started looking into parsing the .xctestrun file and it looks fairly straightforward. Does it make sense to give the option of specifying an .xctestrun file?

[2017-04-24 22:53] oliverhu commented on #109
I don't think @vargon has started working on this.

The plan to parse the .xctestrun file so that we no longer need to specify `app & schemePath` arguments in the config and also be able to read the skipped test cases. If you have time, feel free to submit a pr for this.

[2017-04-26 09:37] sunnyYanan opened #128 "is the lowest supported system version is ios 9?"
as the title

[2017-04-26 16:57] oliverhu commented on #128
I don't think there is a limitation on OS version. As far as you have the corresponding simulator installed, you should be able to run there.

[2017-04-27 02:14] michaellady opened #129 "num-sims > 5 makes app not launch"
Hi, I'm running XCUITest bluepill on a fairly beefy Mac Pro:
Late 2013
Processor 3 Ghz 8-Core Intel Xeon E5
Memory 32 GB
Graphics AMD FirePro D500 3072 MB

I see in the README demo that LinkedIn was able to run tests with 12 sims. The simulators on my machine become unstable after 6 of them are open. At 6 sims, about half of the sims crash on app open. At 8 sims, none of them actually finish creat

[2017-04-27 02:33] ob commented on #129
Check the max open files. We've he to bump up the default. I'd give you a link but I'm on mobile at the moment.  Just google how to increase the max number of open files on macOS.

[2017-04-27 03:39] oliverhu commented on #129
https://blog.dekstroza.io/ulimit-shenanigans-on-osx-el-capitan/ here you go

[2017-04-27 03:39] oliverhu commented on #129
let me update the read.me with that

[2017-04-27 11:50] grycyk commented on #128
UI Tests won't work on iOS 8 afaik.

[2017-04-27 16:56] michaellady commented on #129
awesome, that works! thanks for the help!

[2017-04-27 16:56] #129 closed

[2017-05-01 18:44] krze commented on #109
This would be excellent. We use .xctestrun files to manage UI test suites and manage flaky tests in CI.

[2017-05-01 21:19] nickmshelley commented on #127
Is anyone working on this? I was going to look into it but didn't want to start on something that may almost be finished. :)

[2017-05-01 22:11] oliverhu commented on #127
Please go ahead :) @nickmshelley  thanks

[2017-05-01 23:10] nickmshelley commented on #127
There are a couple potential problems I see.

The first is that the retry branch doesn't delete the potentially-created simulator: https://github.com/linkedin/bluepill/blob/master/Bluepill-cli/Bluepill-cli/Bluepill/Bluepill.m#L241

The second is that the simulator is only actually deleted if it was considered created (https://github.com/linkedin/bluepill/blob/master/Bluepill-cli/Bluepill-cli/Bluep

[2017-05-02 01:20] oliverhu commented on #127
@nickmshelley You can query `SimDeviceSet`'s `_devicesByUDID` or other APIs there to get available devices. That method is supposed to query the Device/ directory to get the available devices. We should be able to add this checking logic in error/timeout cases to delete the leaked simulators.

[2017-05-02 15:47] ob commented on #127
@nickmshelley I think you should remove the assumption that just because we failed in creating a simulator, a simulator did not get created.

You could carry around a list of failed attempts (by UDID maybe?) and clean up before exit.

[2017-05-03 22:00] nickmshelley opened #132 "I can no longer run tests from the command line because of code signing"
When I run `./scripts/bluepill.sh test` it fails with:

[code]

[2017-05-03 22:01] nickmshelley commented on #132
I didn't want to mess around with the signing stuff too much in case Travis needs it.

[2017-05-03 22:06] oliverhu commented on #132
Is this error new in Xcode 8.3 or you have never been able to run that script? Xcode does not require provisioning profile for non-device build.

[2017-05-03 22:12] nickmshelley commented on #132
It's new since my last merged PR. :)

Whenever I submit a PR I run the tests from the command line and it's always worked, but this time it didn't.

[2017-05-03 22:13] nickmshelley commented on #132
I just cloned the repo fresh and tried and it still didn't work.

[2017-05-03 22:43] nickmshelley commented on #132
Hm it looks like travis is failing for the same reason...

[2017-05-03 23:50] BuddyArifin opened #133 "Tests have status 'testToSkip'"
I write my test using XCode UI Testing with swift. Then i try to running these config

`{
   "app": "./build/Products/Debug-iphonesimulator/UITests-Runner.app",
   "scheme-path": "./UI.xcodeproj/xcshareddata/xcschemes/UITests.xcscheme",
   "output-dir": "./build/"
}`

and my output

`
#FirstTest

{37043} 20170504.062959 [ DEBUG  ] (SIM-2) [CONFIGURATION] repeatTestsCount: 1
{37043} 20170504.062959

[2017-05-04 14:59] ob commented on #133
These are just internal bluepill debugging messages. The way the test packing works is by marking some of the tests as "toSkip" and passing the actual testing job to `bp`. I.e you have two tests and each of the two simulators is going to run one so each sim will have one of the tests marked as "toSkip".

[2017-05-04 14:59] #133 closed

[2017-05-04 17:10] djrenfro opened #134 "Don't Use Disabled Launch Args and Env Variables"
Launch arguments and environment variables that are in the scheme but not enabled should not be used.

[2017-05-04 18:03] oliverhu commented on #134
merged!

[2017-05-04 18:03] #134 closed

[2017-05-04 18:04] oliverhu commented on #128
Please reopen if you have other issue

[2017-05-04 18:04] #128 closed

[2017-05-04 18:04] #126 closed

[2017-05-05 06:12] casshill opened #136 "Is it possible to produce test summary plist files?"
I've got my UI XCTests running in parallel. It's awesome!

The thing I feel is missing from when I was running my tests using xcodebuild or XCode is the test summary report and screenshots that are included when you run a test.

Is it possible to produce test summary plist files?
Can these include screenshots?

[2017-05-05 22:55] oliverhu commented on #136
Thanks! We use KIF as our UI testing framework which is built on top of unit test bundles. We implemented support in Bluepill for XCTUI to make sure we have the flexibility of moving to XCTUI in case KIF is discontinued or XCTUI becomes significantly better. As a result of that, it is not a priority at the moment for the team to add features for XCTUI support (in backlog).

The code base is writte

[2017-05-05 22:56] oliverhu commented on #132
@vargon is looking into this.

[2017-05-06 08:20] DNCGraef commented on #136
If you didn't want to mess around too much in the code, you could use a command line tool like xsltproc to transform the current full test report XML file into a nicely formatted pList as a post build step

[2017-05-07 05:48] zaidkazi opened #137 "Option to disable system notifications in bluepill"
Currently i use scripts before launching simulators in my tests to pre approve permissions for (Location / Contacts) as there is alot of problems with XCUI Framework to interact with them.

Although because blue pill creates net new simulators Is there anyway there is a option to some how disable these?

[2017-05-07 20:54] oliverhu commented on #137
We use https://github.com/plu/JPSimulatorHacks to disable the system dialogs in the test framework. It should not be hard to add similar hacks in bluepill or just add to your test/app.

[2017-05-08 19:36] nickmshelley commented on #127
Sorry, I forgot to add the `fixes <issue-number>` to my PR title so this happened automatically, but I think this can be closed because #131 was merged.

[2017-05-08 19:39] #127 closed

[2017-05-09 19:25] lyndsey-ferguson opened #138 "Include cannot use testsuite to test only tests in that suite"
It seems that `bluepill` does not allow a testsuite to be passed for the `include` option (or `exclude` for that matter). Is there a way to specify a testsuite for inclusion/exclusion?

Like,
`-x MyTestSuiteThatIsFragile -x MyTestSuiteThatIsSomewhatFragile/testThatIsFragile`

This: `-x MyTestSuiteThatIsFragile` is the part that fails that I would like to work

[2017-05-10 02:26] PavloBasiuk commented on #136
I'm having troubles finding this full test report XML file. I'm also not seeing screenshots anywhere :( Can you please help me finding those files?

[2017-05-10 09:06] DNCGraef commented on #136
You pass an output directory to the bluepill invocation - that's where your test report ends up. I don't believe bluepill produces screenshots at the moment, unless I've missed something.

[2017-05-10 17:15] PavloBasiuk commented on #108
@jimmyeisenhauer did you manage to get screenshots from bluepill? I'm trying to get that working but with no success for now :)

[2017-05-10 17:41] jimmyeisenhauer commented on #108
I have not looked to see what bluepill does to the testsummaries plist.  My guess it is destroyed a lot with all the parallel and retrying going on.  And probably not usable for parsing.

I would be curious how they do screenshots of failed tests and coordinate that with what bluepill is reporting as failed.  It isn't difficult to create a screenshot on a failed assertion but not sure I understand

[2017-05-10 19:16] PavloBasiuk commented on #108
From what I found, it is not difficult to get screenshot if you are using KIF (http://stackoverflow.com/questions/16341198/take-screenshot-with-kif), but XCUITEST generates screenshots for each step for you, but bluepill is not :(

[2017-05-10 21:32] MrWeiC commented on #138
If you are using -x MyTestSuiteThatIsSomewhatFragile/testThatIsFragile -i MyTestSuiteThatIsSomewhatFragile/testThatIsFragile ,will it running any case?

[2017-05-11 00:20] lyndsey-ferguson commented on #138
@MrWeiC I do not understand your question. I want it to exclude entire test-suites.

[2017-05-11 00:36] lyndsey-ferguson opened #139 "How does the -x option work?"
I am passing multiple tests to exclude and bluepill runs them anyway. How is the `-x` option supposed to be used?

I am using v1.0.1.

For example, I run bluepill with the command with the options:
[code]
to **exclude** those tests, yet I see:
[code]

I have tried both with, and without the single quotes (`'`)

[2017-05-11 04:10] oliverhu commented on #139
Wfm. Anyone else seeing this issue?

[2017-05-11 08:23] DNCGraef opened #140 "When bluepill recovers from an error & all tests pass, return status is non-zero"
Scenario:
- I run bluepill on my app
- The error "It appears that tests have not yet started. The test app has frozen prior to the first test." occurs
- Bluepill successfully recovers from this error
- Bluepill executes all tests, all tests pass.

Expected:
- Bluepill returns a status code of 0

Actual:
- Bluepill returns a non-zero status code

To me, the fact that the test harness recovered, ran

[2017-05-11 12:41] lyndsey-ferguson commented on #139
@oliverhu perhaps this the order I put those options matters? I will shrink down my command line and play with that to see if it helps.

Could you put in a sample of how you use it?

[2017-05-11 14:09] MrWeiC commented on #138
@lyndsey-ferguson To your questions, I don't think currently bluepill are respect to a test suite. -x MyTestSuiteThatIsFragile won't work. However, I wrote a python code that to scan the xcscheme and filter out those skippedTests.

My questions for you is -x MyTestSuiteThatIsSomewhatFragile/testThatIsFragile works for you? Can you try if you put -x MyTestSuiteThatIsSomewhatFragile/testThatIsFragil

[2017-05-11 14:11] lyndsey-ferguson commented on #139
@oliverhu which version of bluepill are you using? I am using v1.0.1.

[2017-05-11 14:12] lyndsey-ferguson commented on #138
Oh, @MrWeiC, no, the exclude options are not working for me. I logged [this Issue #139](https://github.com/linkedin/bluepill/issues/139)

[2017-05-11 14:18] lyndsey-ferguson commented on #139
Following @nickmshelley 's suggestion, I tried using the config.json file approach and that does not change the behavior. Tests that I listed to be excluded are still tested.

**config.json**
[code]

[2017-05-11 14:26] lyndsey-ferguson commented on #138
@MrWeiC I do not think you can pass the same test for the `include` option as you are passing in for the `exclude` option. According to the options documentation:

[2017-05-11 20:07] oliverhu commented on #139
Hmm, actually I am able to reproduce this issue with BPSampleApp. The -x works with bluepill-cli but not working well with bluepill (the runner app). We are looking at this.

[2017-05-11 20:19] lyndsey-ferguson commented on #139
That would be great, right now, I have put in code that changes the project so that it does not include test suites in the test target; somewhat ugly.

[2017-05-11 21:29] MrWeiC commented on #138
@lyndsey-ferguson In the document, it says -x Exclude a testcase in the set of tests to run (takes priority over include). might indicate you can have the same test case for -i

[2017-05-11 21:30] oliverhu commented on #139
should be fixed in latest master

[2017-05-11 21:30] #139 closed

[2017-05-11 21:36] lyndsey-ferguson commented on #138
@oliverhu I looked at the commit, and I do not see how that makes it possible to specify that I want to exclude a testsuite.

[2017-05-11 21:38] lyndsey-ferguson commented on #139
@oliverhu how often are releases put out?

[2017-05-11 21:44] oliverhu commented on #138
oh, that PR should only close #139. let me re-open this. This is a feature we'd love to support, feel free to submit a pr for this :) We are prioritized to work other bugs at the moment.

[2017-05-13 12:51] remeltucker opened #144 "Having problems kickstarting UI Tests"
Steps Followed:
- Built with build-for-testing flag
xcodebuild build-for-testing -project SampleApp.xcodeproj -scheme UIFullRegression -destination 'platform=iOS Simulator,name=iPhone 6,OS=10.2' -derivedDataPath 'DerivedDataPath1'

- Config file has following entries
{
   "app": "Path specified here",
   "scheme-path": "Path specified here",
   "output-dir": "./bluelogs/",
   "test-bundle-path": "

[2017-05-13 13:12] lyndsey-ferguson commented on #144
Try removing some of the options to see which option is giving you problems. Bluepill seems very obscure with its errors.

My _guess_ is that `runtime` is actually expecting an array of the form, `["iOS", "10.2"]`.

[2017-05-13 13:44] lyndsey-ferguson opened #145 "UI Tests not parallelized across simulators"
Is it expected that when running UI tests, that they are run on only 1 simulator? I am using the fixed 'exclude' option to **not** run other tests and my UI tests are running on 1 (one) of four (4) of the simulators.

When I used the `xcodeproj` gem to remove unwanted testsuites from the project and built that for testing, the tests took 7 minutes and I saw them running on 4 simulators. Now that I

[2017-05-13 17:09] ob commented on #144
That's an unhandled error case... I think your test-bundle-path is wrong, you need to pass it the path to an `xctest` not the `app`.

@lyndsey-ferguson, yeah, I know the error messages are pretty obscure... we need to do a major cleanup in that area. Sorry about that 😞

[2017-05-13 19:48] remeltucker commented on #144
Gave bundle path as below
"test-bundle-path": "Path specified here/DerivedDataPath1/Build/Products/QA-iphonesimulator/UITests-RegressionSuite-Runner/PlugIns/UITests-RegressionSuite.xctest"...still getting the same error

[2017-05-13 21:17] remeltucker commented on #144
hmm...looks like something is weird in my test bundle ..was able to get it going  in another sample project

[2017-05-13 21:17] #144 closed

[2017-05-15 05:29] oliverhu commented on #145
Sounds weird, can you put some checkpoints in `BPPacker.m` and do some initial investigation? The bundles returned from there are distributed to each simulator.

[2017-05-15 06:27] #117 closed

[2017-05-15 08:48] BuddyArifin commented on #133
I able to run parallel test, using XCUI Test,

Just add, -u and -t..
Thanks

[2017-05-15 15:49] lyndsey-ferguson commented on #145
It looks like it is creating a `BPBundle` for all the tests, then only one bundle actually has tests to run, the others have tests to skip.

[2017-05-15 16:03] MrWeiC commented on #138
@oliverhu so if I understand this is correct, -x option for UI test is not working? Should it be considered as a bug?
You mentioned bluepill-cli is wroking, what is the difference between this bluepil-cli and bluepill-runner?

[2017-05-15 18:33] lyndsey-ferguson commented on #145
I have a fix, just adding the automated tests

[2017-05-15 23:48] lyndsey-ferguson commented on #145
Fixed with merged PR #146

[2017-05-15 23:48] #145 closed

[2017-05-16 16:48] zaidkazi commented on #137
@oliverhu

this library worked for most of the system alerts. Although there is no support for allowing user permission to location.

[2017-05-16 17:54] oliverhu commented on #137
I'd suggest raising an issue there to ask for support of location service:)

[2017-05-16 18:04] zaidkazi commented on #137
faire enough

[2017-05-16 19:08] cezarywojcik commented on #71
Biggest use case for me is to ensure that bluepill is using the designated host app for running tests. The config file is insufficient if my project has multiple potential host apps.

[2017-05-17 02:36] lyndsey-ferguson commented on #138
Fixed in PR #147

[2017-05-17 02:36] #138 closed

[2017-05-17 22:46] oliverhu opened #148 "Return meaningful return code for simulator crashes/test failures"
We are currently returning 1 for most failure cases. It is better to return code specified by `BPExitStatus`.

[2017-05-18 22:45] djrenfro opened #149 "Include Suite Not Working"
This is a follow up to #138
The functionality does not currently work when just using the include option to test an entire suite.  This is because the config modified is a mutable copy so the original config still remains.  The original config is then referenced in SimulatorHelper.testEnvironmentWithConfiguration where it accesses tests to run.  Skip tests works because those are embedded into the

[2017-05-19 21:37] lyndsey-ferguson commented on #149
I will have to fix this early next week

[2017-05-19 23:56] ob commented on #148
I'm not sure how we can represent all the different exit status in [BPExitStatus](https://github.com/linkedin/bluepill/blob/master/Bluepill-cli/Bluepill-cli/Bluepill/Reporters/BPExitStatus.h#L12). For instance, what do we do if one of the `bp` processes returns `BPExitStatusSimulatorCreationFailed` and another returns `BPExitStatusAppCrashed`? What is the correct exit status?

I think the main pro

[2017-05-20 00:59] oliverhu commented on #148
The problem is - how can users make sense of the output (logs/xml/return code) generated from Bluepill and build an intuitive overview of this test run. Right now, they only have a `1` exit code with a bunch of .log files.

I don't think return `1` and `2` helps. For example, if I need to know if a _failed to run tests_ are caused by App crash at launch or simulator, then we'd have to segment `2`

[2017-05-23 02:49] ob commented on #148
I agree we should make `BPStats` more easily parsable. I think that's orthogonal to the exit code `1`/`2` idea though... I think ideally we'd want the exit code to have some general meaning and if you want details, you go to `BPStats`. As a matter of fact, `BPStats` in a condensed for should be the last line printed by `bluepill` (as it is now, it _always_ prints "All simulators have finished" whi

[2017-05-23 12:54] lyndsey-ferguson commented on #149
I have this fixed and am working on automated tests to make sure that `bp` does the right thing

[2017-05-24 00:47] MrWeiC opened #152 "How to get the code coverage data?"
Based on the #95, the current framework should have the support code coverage data. However, how to get those data?
I wasn't able to find the additional parameter for display that code coverage. And I have enabled code coverage for the test target/scheme.
Do I expect to find that info under the output folder? (-o output dir) or maybe some custom derived data location?
Thanks for the help in advanc

[2017-05-24 13:06] lyndsey-ferguson commented on #149
This has been merged, and I will close this issue after this appears in a new release.

[2017-05-24 16:37] djrenfro commented on #149
cool, thanks @lyndsey-ferguson

[2017-05-24 21:31] nickmshelley opened #153 "Global iOS Slack community"
Sometimes Bluepill is discussed in the testing channel of https://ios-developers.io/. I wanted to let you know in case any of you are interested in taking part in those discussions.

Sorry for creating an issue for this, but I didn't really know how else to inform you about this... 😅

[2017-05-24 23:02] oliverhu commented on #153
Is that the `iosdevelopers.slack.com` channel?

[2017-05-24 23:12] oliverhu commented on #153
Seems to be another global iOS slack community :P

[2017-05-25 00:07] nickmshelley commented on #153
@oliverhu What's that one? I haven't heard of that one.

[2017-05-25 00:15] oliverhu commented on #153
I only know that is another global iOS Slack community for iOS developers and is also by invitation :)

[2017-05-25 00:17] nickmshelley commented on #153
Well this one is open to everyone, you just give your email and they send an invitation. If you like that other one, maybe you could tell me how to get an invitation... :)

[2017-05-25 01:04] oliverhu commented on #153
I'm not a big fan of chatting in Slacks (unless people physically asked me to join a conversation), so I can't tell which is better at the moment :D

I'd need a short description of you and email to post in a #channel and then someone will send you an invite.

[2017-05-25 21:07] ob commented on #71
Another problem I just found... if you specify environment variables in your configuration, they are expanded by Xcode and recorded in this file. If we don't use this file then the environment variables can be wrong.

[2017-05-26 00:43] michaellady opened #154 "Logic that verifies that internal simulator processes are up, don't just rely on "Booted" state"
Hi all, I've noticed in a couple of iOS simulator wrapper projects that have logic to wait for certain processes to be started before the simulator is considered "Booted". I tried looking for these processes in the bluepill repo, and cannot find them. Is there some similar logic used in this project?

FBSimulatorControl: https://github.com/facebook/FBSimulatorControl/blob/06ff41fc6c6ff2c0dfb3104e5

[2017-05-26 02:34] oliverhu commented on #154
It is in `BPSimulator.m`'s waitForDeviceReady

[2017-05-26 17:18] #153 closed

[2017-05-26 17:19] oliverhu commented on #152
This should be related to #71

[2017-05-26 17:58] michaellady commented on #154
`waitForDeviceReady` in `BPSimulator.m` seems to just check the simulator if it's in a "Booted" state, which seems to be necessary, but not sufficient to ensure that a simulator is ready to run tests. The other projects I referenced check for the "Booted" string and explicitly check for the following processes to be alive in the simulator to ensure that it is "ready"
[code]

I noticed in `BPSimula

[2017-05-26 18:36] michaellady commented on #154
if nothing checks for those processes, I'm willing to contribute a PR

[2017-05-26 19:30] lyndsey-ferguson opened #155 "Bluepill creates new simulators on failure even when sim-reuse is true and there are idle simulators"
After completing tests, I see that `bluepill` will take a long time monitoring simulator state, and then sometimes, it will then decide to re-run all the tests again.

You can see that it _looks_ like it finished at `[14:57:13]: ▸ {7473}`, but it keeps on going.

Have I configured something wrong? Is this a bug in `bluepill`? If it is a bug in `bluepill`, I can look at it (and would appreciate any

[2017-05-26 19:53] lyndsey-ferguson commented on #155
@Matthew-Goldberg FYI

[2017-05-26 20:02] lyndsey-ferguson commented on #155
I think I may have misread this. I think what I was seeing was that 1 (one) simulator had finished running all of _it's_ tests **and** simulator 4 had frozen and had to be killed and restarted.

[2017-05-26 20:07] lyndsey-ferguson commented on #155
Can someone confirm? Has anyone advice on how they avoid such problems with simulators and the need to restart them?

[2017-05-26 20:24] PavloBasiuk commented on #123
Hey @andrewcrawfordstv , can you share sample of that batch file to run different devices in parallel?

[2017-05-27 00:26] ob commented on #155
This feels like it's a bug in simulator reuse where instead of reusing one of the available idle simulators on test failure, bluepill just kept on creating new ones...

[2017-05-27 01:24] ob commented on #154
We don't really know what this does... seems to work though.

Interesting... so you're saying we can't rely on the "Booted" state meaning it's ready? I haven't verified exactly _when_ the simulator switches to "Booted". What do you think would be the failure mode if we continue before the simulator is truly ready? Would the app fail to install?

We have so many retries that it's possible we could

[2017-05-27 02:39] michaellady commented on #154
<img width="1775" alt="screen shot 2017-05-26 at 7 36 33 pm" src="https://cloud.githubusercontent.com/assets/936234/26517305/a909abd6-424a-11e7-9e5b-fb08ac0f6b6c.png">

So the "Booted" state can mean the simulator can still be "loading" as seen above. I think it's problematic trying to install an app in this state, and other people have figured out a solution for it

[2017-05-30 14:50] lyndsey-ferguson commented on #109
I have submitted a PR #156 to address this issue.

[2017-05-30 15:02] lyndsey-ferguson opened #157 "BPExitStatusTestsAllPassed reported even though 2 tests fail"
**Observed behavior**
The `bluepill` output indicates that 2 tests fail, the exit status is `BPExitStatusTestsAllPassed`, and the collection of tests is put through another round of tests.

**Expected behavior**
When 2 tests fail, the exit status would be `BPExitStatusTestsFailed` and then the collection of tests is re-run.

**Thought**
It seems that the system itself _knows_ that the tests failed

[2017-05-30 17:22] lyndsey-ferguson commented on #155
@ob and I spoke in the "testing" room in the `ios-developers.slack.com` room. It is not trivial to fix, and it is not a high priority for me now. It would be nice to have this fixed as even less time to test would be required, but this is not **critical** for me at this moment.

[2017-05-30 18:04] oliverhu commented on #109
will be addressed as part of #71

[2017-05-30 18:09] oliverhu commented on #155
@njuliyu can you take a look pls?

[2017-05-30 21:03] oliverhu commented on #157
🤔  the output looks quite bad. Is the final report giving you the correct result (after retry)? It would be great if you can confirm whether it is merely a logging issue.

[2017-05-31 05:08] #149 closed

[2017-05-31 05:09] oliverhu commented on #5
implemented in #54

[2017-05-31 05:09] #5 closed

[2017-05-31 05:10] #45 closed

[2017-05-31 05:11] #137 closed

[2017-05-31 09:33] njuliyu commented on #155
I would think this is not a bug, but a behavior by design.

By design the bp (slave) returns the used simulator UDID to the bluepill (master) which keeps a pool of simulator UDID and assign them to the new bp instances to reuse. But if the bp instance failed to reuse the assigned simulator due to crashed/hang test cases/simulators, bp will create a new one in place, instead of asking for a new one

[2017-06-09 21:49] lyndsey-ferguson commented on #157
Once this happens again, I'll let you know

[2017-06-09 21:50] lyndsey-ferguson commented on #71
Any progress on this?

[2017-06-09 22:03] ob commented on #71
I'm close... early next week we should have a PR.

[2017-06-12 22:35] oliverhu opened #158 "Update doc to address the differentiation from Xcode 9 sim support"
There are a lot of updates from Xcode 9 for simulator support. We should update the doc to tell the difference between Xcode 9's Simulator support and bluepill.

[2017-06-12 22:37] oliverhu opened #159 "Placeholder - Xcode 9 Support for Bluepill"
Update bluepill to support Xcode 9. This task should start once our machines are ready (July).

[2017-06-16 19:19] oliverhu commented on #71
closed in #162

[2017-06-16 19:19] #71 closed

[2017-06-16 19:20] oliverhu commented on #109
closed in #162

[2017-06-16 19:20] #109 closed

[2017-06-16 22:17] haitaoli opened #163 "Update readme"
The instructions in readme file seems to be outdated:

[code]

This looks like a great tool but I couldn't find a working example of using it.

[2017-06-16 23:05] haitaoli commented on #163
Turns out readme was recently updated but binaries are not yet. I built the binary from source code. There is one minor issue in bluepill.sh build script:
[code]
is not at top of the file so I couldn't run it directly.

[2017-06-16 23:23] haitaoli opened #164 "Support other test frameworks based on XCTestCase"
I use Quick framework in my test code so the test cases inherit XCTestCase *indirectly*. Bluepill cannot detect my test cases.

[2017-06-17 07:27] oliverhu commented on #163
Thanks for the headsup, the binary is updated. #!/bin/bash doesn't have to precede the comments line. It should not matter.

[2017-06-17 07:27] #163 closed

[2017-06-17 07:35] oliverhu commented on #164
It should just work, any stack trace/error to share?

[2017-06-17 15:20] haitaoli commented on #163
I know where the problem is. It works if your shell is bash. I use fish and this is what I get:
[code]

[2017-06-17 15:52] haitaoli commented on #164
There is no error. It just cannot list the test cases. I tried setting up a repro in bluepill project itself, but could not get the tool to work on it's own test:
[code]

[2017-06-18 03:23] oliverhu commented on #164
BPInstanceTests are tests for bluepill mac binary not for iPhone simulator.

[2017-06-18 04:06] oliverhu commented on #164
`bluepill --xctestrun-path /Users/khu/linkedin/bluepill/Build/Bluepill/Build/Products/BPSampleApp_iphonesimulator10.3-x86_64.xctestrun` works for me

[2017-06-19 15:02] krze opened #165 "Tests in xctestrun SkipTestIdentifiers not skipped"
I got the latest release of bluepill 1.1.1, and ran bluepill with the new `xctestrun-path` option pointing to a valid xctestrun file generated by a `build-for-testing` compile of my project. It ran the correct test scheme, but it did not skip any of the tests specified in SkipTestIdentifiers.

This is with Xcode 8.3.2 and Bluepill 1.1.1 release

[2017-06-19 16:36] krze commented on #165
I think I may have found the issue and I'm investigating a possible fix. On `master`, if you launch with an xctestrun file, when you hit this line in main.m, normalizedConfig is missing any excluded tests:
https://github.com/linkedin/bluepill/blob/ce998c3d762942cd07840a57261eeded3009adbb/Bluepill-runner/Bluepill-runner/main.m#L100

[code]

`BPRunner` passes this config with an empty exclude sectio

[2017-06-19 17:19] haitaoli commented on #164
The tests are not listed, but can be discovered at runtime. I set up a repro here: https://github.com/haitaoli/bluepill
[code]

[2017-06-19 17:34] haitaoli commented on #164
The `Quick` tests run in my test project above when not listed. But in my product app, they are not listed and not run either.

[2017-06-19 17:56] krze commented on #165
Still can't quite figure out what's going on. Interesting to note: if you specify `--num-sims 1`, no skip tests are passed in from the .xctestrun file.

[2017-06-19 19:09] krze commented on #165
I found a fix, but I can't seem to push to the repository to put up a PR. In addition it's causing some tests to fail, and I don't currently have the time to debug.

It's simple, though. In `BPUtils.m`, makes the following changes to `BPUtils normalizeConfiguration:withTestFiles` below the comment:
[code]

[2017-06-19 19:14] lyndsey-ferguson commented on #165
@krze you can fork the repo and create a PR from your fork to linked in's.

[2017-06-19 19:35] krze commented on #165
Thanks. Still investigating as https://github.com/linkedin/bluepill/pull/162 anticipates getting the skip tests from the xctestrun file but I'm not quite sure if I'm on the right path here:
https://github.com/linkedin/bluepill/compare/master...krze:krze/skip-tests-from-xctestrun-file-issue-165

[2017-06-19 19:37] lyndsey-ferguson commented on #165
One comment (I cannot comment on the code until the PR is created), but I think that you want to make the second `if` an `else if` as the config skipped tests should override the `xctestrun` settings.

[2017-06-19 19:42] krze commented on #165
Thanks for clarifying, I wasn't sure which should have precedence or if they should all be accounted for. I'll make sure those override when I submit the PR

[2017-06-19 21:41] krze commented on #165
I'm trying to add tests, or at least not break the ones that exist, and it appears that there are a lot of test failures on `master` already. One issue in particular that's affecting the `BPConfiguration` validation is that `[[NSFileManager defaultManager] fileExistsAtPath:path isDirectory:&isdir]` often fails the first time it tries to validate the file's existence, but succeeds the second time.

[2017-06-19 21:47] lyndsey-ferguson commented on #165
I've found that I have to build the BPSampleApp scheme first so that the tests can run with sample data. Have you done that?

[2017-06-19 21:54] oliverhu commented on #165
Sorry about this, I just ran the `testTwoBPInstancesWithXCTestRunFile`  test and put a break point at line 118, skipped tests seem not respected. I'll check this and add a test to guard against this. Have you guys got any PR/pre-work I can leverage?

[2017-06-20 01:20] oliverhu commented on #165
@lyndsey-ferguson @krze can you double check if this would fix this issue? https://github.com/linkedin/bluepill/pull/166

[2017-06-20 03:33] LWX124 opened #167 "Bluepill is blocked when reading tests from xctest file"
I'm using xxx.xctestrun file to test , but bluepill is blocked when reading my xctest file(There isn't any error message given). My commandline is './bluepill --xctestrun-path /XXXX_iphonesimulator10.3-x86_64.xctestrun  -o ./output'.
 I've download latest source(bluepill-1.1.1) , finally, I find that there is something wrong in BPUtils.m.

Method: + (NSString *)runShell:(NSString *)command
Code:[t

[2017-06-20 05:18] oliverhu commented on #167
Yes, it is necessary and that call is legit. Can you spin-dump the bluepill process while it is hanging? It should be caused by a race condition locally.

[2017-06-20 06:16] liufeng124 commented on #167
I've found this (https://stackoverflow.com/questions/33423993/hanging-nstask-using-waituntilexit),and I've tried,it works.

fixed it like this:
    [task launch];
    NSData *data = [fh readDataToEndOfFile];
    [task waitUntilExit];

Is this question really cased by my local condition?

[2017-06-20 13:44] krze commented on #165
@oliverhu This seems to add SkipTestIdentifiers from the xctestrun file just fine, leveraging `BPUTils expandTests: withTestFile:` to convert skipped classes to the expected `Class/method` format https://github.com/linkedin/bluepill/compare/master...krze:krze/skip-tests-from-xctestrun-file-issue-165

[2017-06-20 13:56] krze commented on #165
#166 fixes the issue, thanks!

[2017-06-20 18:07] oliverhu commented on #165
Cool, I'll merge the PR and bump the release.

[2017-06-20 18:07] #165 closed

[2017-06-20 18:48] lyndsey-ferguson commented on #165
Sorry, I haven't been able to look at this due to my schedule. I'm glad that this was resolved.

[2017-06-21 04:48] oliverhu commented on #167
hmm, interesting, could you submit a PR to place readData before waitUntilExit?

[2017-06-21 13:23] LWX124 opened #169 "CommandLineArguments become invalid"
I have some questions about CommandLineArguments in the following two cases:

1. use xctestrun file:
   I set AppleLanguages in commandlinearguments , it doesn't work , I found that launch options are wrong . Arguments is set like "-AppleLanguages (zh)" , but I found it had a different way to deal with argument string when parsing xcscheme file .
Correctlly , arguments will is set like `@[ @"-Appl

[2017-06-21 17:52] oliverhu opened #170 "bp child job exits with code 13 intermittently"
We occasionally observe bp jobs fail with exit code 13. It is worse with headless mode.

[code]

A temporary solution would be - add a retry mechanism in Bluepill Runner to detect the exit code 13 and retry on that.

[2017-06-21 18:48] krze opened #171 "Extra simulator spun up with no tests after the first simulator that completes its test run closes"
Using 1.1.2 release:

When I launch bluepill with either the default number of simulators, or if I specify the number of simulators, it looks like after one simulator finishes a test run and shuts down, an extra simulator is started, performs no tests, then shuts down again. This results in bad test result reporting, because the extra sim records no tests performed and overrides the previous simul

[2017-06-21 18:50] oliverhu commented on #171
@krze it would be great if you can provide a way to reproduce this issue with the BPSampleApp in the repo.

[2017-06-21 23:07] krze commented on #171
I tried a few things but I was unable to repro with the sample app. I was mistaken about the errant run overriding the test results, though. It just adds an empty result suite to the junit results, so the impact isn't that bad

[2017-06-22 04:00] oliverhu commented on #169
Thanks for the PR!

[2017-06-22 04:00] #169 closed

[2017-06-22 04:01] oliverhu commented on #167
Thanks for the PR!

[2017-06-22 04:01] #167 closed

[2017-06-22 19:46] ob commented on #170
`perror 13` is *permission denied*. I think it's worth investigating whether this is a machine misconfiguration before we add workarounds. If anyone else is seeing this, please comment on this ticket. I'll do some poking around the next time it happens.

[2017-06-22 23:42] ileitch opened #173 "`bp: invalid configuration` when using `--reuse-simulator`"
Using 4 simulators, Bluepill decides to split my tests into 5 bundles (curious, why not evenly distribute all tests across the available simulators?).

Eventually, when I believe it attempts to reuse a simulator, bp crashes with the error:

[code]

Invocation:
[code]

Version 1.1.2

[2017-06-22 23:43] ileitch opened #174 "`bluepill --version` doesn't output the version when built from tarball"
[code]

Using 1.1.2 installed via homebrew.

(Easy way to reproduce)
[code]

[2017-06-22 23:48] oliverhu commented on #10
it is already in homebrew thanks to the community..

[2017-06-22 23:48] #10 closed

[2017-06-23 00:22] ileitch opened #175 "`--list-tests` includes things that aren't tests."
`--list-tests` is including properties named `test*`, e.g:
[code]
[code]

Also, it's including functions named `test*` that aren't part of an XCTestCase. We have a function named `testUser` on a factory class that inherits from NSObject.
[code]

[2017-06-23 00:24] ileitch opened #176 "`--list-tests` includes duplicate items"
Unsure what the cause could be, but `--list-tests` duplicates _some_ tests, but not all. Anything I should try to help diagnose?

[2017-06-23 06:28] oliverhu commented on #174
[code]
from latest build

[2017-06-23 06:29] oliverhu commented on #176
hey @ileitch , the best way to help is to provide a way to reproduce the problem with the BPSample app inside the project. same as #173 #175

[2017-06-23 06:42] oliverhu commented on #164
The code to generate the list of tests is in `BPXCTestFile.m` with `NSString *swiftNmCmdline = @"nm -gU '%@' | cut -d' ' -f3 | xargs xcrun swift-demangle | cut -d' ' -f3 | grep -e '[\\.|_]'test";`, some tweak might be needed to make it work with your case. Please take a look if it is blocking you, otherwise, we'll work that later.

[2017-06-23 11:41] colmlg opened #177 "How to make XML results more readable?"
The XML results file generated by this program is not very readable.
Is there some tool that you use or another way of displaying the XML that allows you to easily view it?
Thanks

[2017-06-23 17:58] oliverhu commented on #177
That is the standard JUnit format, you can easily visualize that with existing tools or manually parse that. Internally we have a simple script to convert the xml to a html report.

[2017-06-26 04:53] zaidkazi commented on #125
Any news on this still cant get a report because of this issue when it generated the report?

[2017-06-26 06:02] oliverhu commented on #125
Is this still reproducible with latest Bluepill? In `BPReporters.m`, we have
[code]

[2017-06-26 08:36] colmlg commented on #177
Is there any chance you would share that script or add it to the repo? I'm sure a lot of people would find it useful.

[2017-06-26 15:23] jimmyeisenhauer commented on #177
there are a bunch of solutions out there - just google junit to html  - also I would expect you to be running your tests in some sort of CI tool like jenkins, bamboo, travis, etc..  they all have solutions to read this file format.

[2017-06-26 15:33] colmlg commented on #177
I have tried a couple but none of them seemed to work well, I think in part because of the nested testsuite elements that bluepill generates. Are there any that work well for you? The tests are being run manually.

[2017-06-26 15:36] jimmyeisenhauer commented on #177
i just use jenkins and their junit report viewer and it works fine.  I have not tried any other solutions.

[2017-06-27 00:14] lyndsey-ferguson commented on #177
What I have been doing is, for each `log` file, `cat file >> complete.log`, then `cat complete.log | xcpretty --report junit`

[2017-06-27 05:14] tadashi0713 commented on #125
I also have this problem.
I look the xml file, and it seems double single quote (&#x27;&#x27;) caused this error

[2017-06-27 17:11] haitaoli commented on #164
BP discovers test cases by parsing the symbols, but Quick provides test cases by overriding `testInvocations`: https://developer.apple.com/documentation/xctest/xctestcase/1496271-testinvocations
Those test cases cannot be discovered by analyzing the binary file.

[2017-06-27 17:18] oliverhu commented on #164
Ah, interesting. We rely on analyzing the binary file to extract the tests out. If we have to run the code to show the list, we can to shim into the app process and check that in proc.

But that increased the complexity of Bluepill a lot, any other ideas?

[2017-06-27 18:30] haitaoli commented on #164
xctool appears to handle this case since I found `testInvocations` in the code. But I could never make the tool run successfully.

[2017-06-27 18:54] oliverhu commented on #164
Yah, before actually executing the tests, `xctool` shims code into the app and run the code to show the list.

[2017-06-28 13:20] zaidkazi commented on #125
same, unfortunately i don't have the xml file anymore to validate which character caused the issue.

[2017-06-28 22:54] djrenfro opened #178 "Uneven Number of Tests Causes Extra Simulator to Be Used"
When running UI tests, if there are for instance 9 tests to be run and you want to use 2 simulators, simulator-1 will run 4 tests and simulator-2 will run 4 tests.  When a simulator is done, it will shut down and a 3rd simulator will start to run the final test.  Would be more efficient if in this scenario, sim 1 runs 5 and sim 2 runs 4.

[2017-06-30 18:33] ob commented on #176
You can see how bluepill builds the list of tests [here](https://github.com/linkedin/bluepill/blob/master/Source/Shared/BPXCTestFile.m#L17). You can try running that command and seeing what it outputs.

[2017-06-30 18:39] ob commented on #178
The problem is [here](https://github.com/linkedin/bluepill/blob/master/Bluepill-runner/Bluepill-runner/BPPacker.m#L52), if you have 9 tests packed into 2 sims, you get 4 tests per bundle (as per integer arithmetic).

What I think we could do is add the remainder of the tests to the last bundle [here](https://github.com/linkedin/bluepill/blob/master/Bluepill-runner/Bluepill-runner/BPPacker.m#L77).

[2017-07-04 01:12] ileitch opened #179 "CommandLineArguments from xctestrun parsed incorrectly"
When running from Xcode and xcodebuild, command line arguments are split into individual elements for each key and value. This is the return value of `ProcessInfo.processInfo.arguments`:

[code]

When running from Bluepill however the keys and values are concatenated into a single value:
[code]

They're represented in the xctestrun file as:
[code]

Even when using the exact same xctestrun file wit

[2017-07-04 01:23] ob commented on #179
Hmm, it seems the `commandLineArguments` need to be parsed from the `.xctestrun` file. Currently Bluepill just loads the array [see](https://github.com/linkedin/bluepill/blob/ce998c3d762942cd07840a57261eeded3009adbb/Source/Shared/BPXCTestFile.m#L141).

[2017-07-04 01:35] ileitch commented on #176
I'm not sure what the bundle path to that argument should be?

[2017-07-04 01:38] ileitch commented on #175
This happens because [this command](https://github.com/linkedin/bluepill/blob/master/Source/Shared/BPXCTestFile.m#L17) is simply looking for any _symbol_ in the bundle containing `test`. There's nothing here to verify that the symbol is in fact a member of an XCTestCase.

[2017-07-04 21:46] ob commented on #176
It should be the executable inside the bundle. I.e. if you have an app called `Foo` in `/Path/Foo.app` and inside the `PlugIns` directory there's a `Bar.xctest` bundle, you'd pass `/Path/Foo.app//PlugIns/Bar.xctest/Bar`

[2017-07-04 21:47] ob commented on #175
Yeah, I'm not sure how to get that information without doing tricks like shimming...

[2017-07-07 21:17] nickmshelley commented on #178
The problem with adding the remainder to a single bundle is that you can get pretty skewed results. For example, 19 tests packed into 10 bundles would give nine bundles with one test each and one with ten tests.

Instead, we could just give the first `remainder` bundles an extra test.

[2017-07-08 04:52] oliverhu commented on #178
How about this? In case of `M` tests with `N` simulators, we put `(M / N + 1)`(`(M + N) / N`) tests in each bundle.

[2017-07-08 05:32] nickmshelley commented on #178
I think I'm missing something, because I put that in a playground and I can't come up with a version that gives me sensible numbers for different cases...

The problem is that we can't give the same number of tests to all simulators unless the number of tests is evenly divisible by the number of simulators. So I was just thinking we'd do something like this (pseudocode):

[code]

[2017-07-08 15:22] oliverhu commented on #178
My point was basically:
[code]
This should always work since the reminder is always evenly distributed to the dividend...

[2017-07-08 15:37] nickmshelley commented on #178
That has the opposite problem of having too few tests run on some simulators. As an extreme example, take 11 tests run on 10 simulators. The first five will have two tests, the sixth will have one, and the remaining four won't run any. Really only the first simulator in that case should have an extra test.

[2017-07-09 01:02] oliverhu commented on #178
In most cases, the number of tests >> number of simulators. But yeah, you pseudo code makes sense 👍 @nickmshelley

[2017-07-09 02:42] nickmshelley commented on #178
Yeah that was definitely extreme. But for our real tests we parallelize them across eight machines each running eight simulators, so each simulator gets about eight or nine tests. So in our case that would just leave the last simulator with one or two tests in the worst case scenario. Not horrible, but not ideal.

[2017-07-10 18:13] ob commented on #179
I'm unable to reproduce this issue. I added some command line arguments to the `BPSampleApp` like so:

<img width="672" alt="screen shot 2017-07-10 at 11 09 30 am" src="https://user-images.githubusercontent.com/4950/28032699-4cb1f166-6560-11e7-9763-fd868b026d7d.png">

if I run the tests from Xcode, I get:

[code]

It seems those last two arguments are added by Xcode itself. Running from Bluepill,

[2017-07-10 18:41] ob commented on #179
Maybe you were using an old version? #172 seems related... can you still reproduce?

[2017-07-10 18:45] ob commented on #174
One thing to note is that if home-brew builds Bluepill from the published source code (zip file) and not from the git repository, the version will be wrong. Maybe this is what's happening...

[2017-07-12 00:17] ileitch commented on #179
Yes I'm still able to reproduce using 1.1.2. How are you printing your launch arguments? I added a log to my `didFinishLaunchingWithOptions`.

[2017-07-12 00:42] ileitch commented on #176
This appears to be because some of my ObjC tests contain blocks.

This is the output for `UrlRoutingSpec`, which contains test methods containing blocks.
[code]

And this is the output for `CreditStoreSpec`, which does not use any blocks in test methods (but note that it does in `beforeEach`):
[code]

[2017-07-12 00:47] ob commented on #179
Not with 1.1.2, with the latest from the master branch. I think it's fixed there.

[2017-07-12 00:50] ileitch commented on #174
It does indeed use the published zip:
[code]

[2017-07-12 00:52] ileitch commented on #174
Although saying that, `https://homebrew.bintray.com/bottles/bluepill-1.1.2.sierra.bottle.tar.gz` isn't your official archive URL. Though the formula does reference the correct URL: https://github.com/Homebrew/homebrew-core/blob/master/Formula/bluepill.rb#L4

[2017-07-12 01:09] ob commented on #174
Yeah, I think that's just a binary cache... the problem is that our published source lacks a version, it fetches the version dynamically from git. I think we need to update our publishing workflow to add the version information.

[2017-07-12 03:20] oliverhu commented on #176
Are you using Spec? Please refer to #164

[2017-07-12 03:28] ileitch commented on #176
These are KIF tests, they inherit from XCTestCase (via KIFTestCase).  The test cases are being discovered correctly, it's just that [this](https://github.com/linkedin/bluepill/blob/master/Source/Shared/BPXCTestFile.m#L18) command does not reject these `block_invoke` symbols:
[code]

[2017-07-12 04:02] oliverhu commented on #176
Got it, this should be easily fixed in the command to `grep -v _block_invoke` then

[2017-07-26 19:26] krze opened #185 "Different environment vars per simulator?"
I'm running into an issue with concurrent tests running, which could be solved if I passed some additional environment variables that were unique per simulator (which in turn get passed into the application launch environment). Is there a way to do this with bluepill?

[2017-07-27 00:08] ob commented on #185
Not without some hacking... `bluepill` (the command) just calls `bp` for each simulator. The mechanism by which it passes things like the environment is by writing a bunch of custom config files. You could probably add something there... you could also do something fairly horrible and prone to breaking, `bluepill` passes the name of the bundle to `bp` in an environment variable (see [here](https:/

[2017-07-27 14:36] toddfreese opened #187 "Is there a way to have simulators tile their windows?"
It would be really great for all the simulator windows to auto tile their positions.

[2017-07-27 17:00] ob commented on #187
Agreed it'd be neat but I don't think it's possible from within Bluepill...

[2017-07-27 21:00] oliverhu commented on #187
It is theoretically possible since bluepill is just another Mac app, and given a11y privilege, we should be able to manipulate different windows. But this is definitely not a priority for us, PR is welcome.

[2017-07-31 21:24] #179 closed

[2017-08-13 20:19] adamszeremeta opened #188 "I would like to add simulator screenshots functionality for failed tests - few questions"
Hi,
I would like to add new functionality to Bluepill which would take simulator screenshot whenever ui test fails and output those as a result together with test results.

For now from what I've seen in bluepill implementation and private headers there is something like that (already implemented screenshot functionality, like simctl screenshot) inside DVTDevice.h header. But knowing this I can't

[2017-08-14 14:32] oliverhu commented on #188
This is possible but not trivial, I didn't really look into that because we take screenshot in the UI test framework side. I suggest you take a look at FBSimulatorControl if you are interested in implementing this feature.

[2017-08-15 14:28] #187 closed

[2017-08-16 10:09] adamszeremeta commented on #188
Thanks for the hint. After spending more time with it (Bluepill and FBSimulatorControl) this seems like pretty straight forward feature to implement. So stay tuned, I will create something soon :)

[2017-08-16 16:57] oliverhu commented on #188
Awesome! Looking forward to that @adamszeremeta

[2017-08-24 20:07] tanob opened #191 "Logs from target application"
Currently I don't see logs from the target application in the output directory, they are useful if we want to troubleshoot why a test failed.

Is this already supported or are there any plans?

[2017-08-25 05:19] oliverhu commented on #191
it is in the simulator log inside the output dir

[2017-08-25 14:41] tanob commented on #191
The logs I see there are from the *test application*, for example, if you're using XCTest you'll see things like this in the logs:

[code]

But the logs from the *target application* are not there.

There is a difference between logs from the *target application* and from the *test application*.

[2017-08-25 21:43] oliverhu commented on #191
hmm, interesting, it works well with unit test, but I didn't check for XCUITest. I think we need to tweak some flags in BPTestBundleConnection.m before starting the app.

[2017-08-29 13:14] bootstraponline opened #192 "Use on virtual machines?"
Has anyone been successful using bluepill on virtual machines? Building the app once (build-for-testing) and then sharding out the test execution across multiple VMs?

[2017-08-30 03:28] oliverhu commented on #192
I don't see any technical limitation not being able to do that. The only limitation for this is - Apple license only allows 2 macOS VM instances in one single hardware.

[2017-08-30 05:51] bootstraponline commented on #192
Cool. Thanks for the response.

[2017-08-30 05:51] #192 closed

[2017-08-31 03:55] tanob commented on #191
@oliverhu any idea how to figure out this? If you give me some hints I can try to reverse engineer it and implement in bluepill :-)

[2017-09-02 10:31] yishuiliunian commented on #123
@andrewcrawford44  can you share your batch file ? tks

[2017-09-04 06:48] oliverhu commented on #191
@tanob compare https://github.com/linkedin/bluepill/blob/master/Bluepill-cli/Bluepill-cli/Bluepill/Connections/BPTestBundleConnection.m#L212 and https://github.com/linkedin/bluepill/blob/master/Bluepill-cli/Bluepill-cli/Simulator/BPSimulator.m#L297, move the logic from the latter to the former :D

Let me know if you have any more problem!

[2017-09-18 03:14] #123 closed

[2017-09-18 03:14] oliverhu commented on #132
fixed in xcode9 branch

[2017-09-18 03:14] #132 closed

[2017-09-18 03:15] oliverhu commented on #157
pls re-open if this happens again

[2017-09-18 03:15] #157 closed

[2017-09-18 03:16] #177 closed

[2017-09-18 03:16] #171 closed

[2017-09-18 03:18] oliverhu commented on #63
Presume this is fixed already

[2017-09-18 03:18] #63 closed

[2017-09-18 16:55] tanob opened #194 "Need to have some certificates installed in iOS Simulator used by bluepill"
The iOS simulator needs to have specific certificates installed, is there a way to achieve that using bluepill?

[2017-09-19 03:41] oliverhu commented on #194
can you elaborate a bit what certificate are you talking about?

[2017-09-19 03:48] tanob commented on #194
A CA root certificate:
https://developer.apple.com/library/content/qa/qa1948/_index.html

On Sep 19, 2017 12:41 AM, "Keqiu Hu" <notifications@github.com> wrote:

[2017-09-19 04:00] oliverhu commented on #194
Interesting, we don't have this problem since our tests are mostly completely mocked out of internet connection, with only a small set of tests talking directly to production.

[2017-09-19 04:03] oliverhu commented on #194
There should be some API to deal with that, if you checkout `DCTFoundation.h`, there are a bunch of APIs to deal with certificates, but I am not sure how to proceed from there tho 🤔

[2017-09-26 14:27] PavloBasiuk commented on #159
Hey
Do you have any news on this? Can community help in any way?

[2017-09-26 16:56] oliverhu commented on #159
@PavloBasiuk it is already pushed to master and released in v2.0.0!

[2017-09-26 16:56] #159 closed

[2017-09-27 12:55] matteomatassoni opened #199 "Xcode 9 new Activities API not working"
The new `XCTContext`'s `runActivityNamed:block:` API seems to not be working for me, see the attached [TEST-FinalReport.xml.zip](https://github.com/linkedin/bluepill/files/1337134/TEST-FinalReport.xml.zip).

[code]

[2017-09-27 13:57] matteomatassoni opened #200 "Results output with unuseful message on test failure"
[code]

[2017-09-27 16:03] oliverhu commented on #199
@matteomatassoni  is this reproducible with existing tests suite inside Bluepill ? What are the reproduce steps?

[2017-09-27 16:09] matteomatassoni commented on #199
Yes it is. I used the included sample `BPSampleApp`and wrapped the two tests cases of the test suite `BPAppNegativeTests` inside a `runActivityNamed: block:`:
[code]

[2017-09-27 16:33] ksuther opened #201 "measureBlock: performance tests prevent test results from being written"
Using `measureBlock:` in a test prevents test results from being written. Instead of seeing the expected `Test Case '-[PerformanceTestTests testPerformanceExample]' passed (0.375 seconds).` text the following is printed:

[code]

This failure then causes `TEST-FinalReport.xml` to be completely empty (even for the tests that pass).

I've attached the output of xcodebuild test and bluepill on a simp

[2017-09-27 17:00] oliverhu commented on #199
Interesting, we are still stabling the Xcode 9 update and will take a look later.

[2017-09-27 18:08] ksuther commented on #201
Found the problem, PR incoming.

[2017-09-27 18:10] oliverhu commented on #201
Thanks! @ksuther

[2017-09-27 18:27] #201 closed

[2017-09-27 20:53] lyndsey-ferguson opened #203 "v2.0.0 is outputting 250MB worth of logs to the console"
The released version of Bluepill 2.0.0 is printing 250MB of logs to the console where it used to log kilobytes for us. Can you turn off the logging flag and release another version?

[2017-09-27 21:47] lyndsey-ferguson commented on #203
❓

[2017-09-27 22:03] ob commented on #200
I've seen this when the app crashes and we somehow fail to catch it... what does the main bluepill log say? Do you see any crashes in there? Sometimes there is a `.crash` file left.

[2017-09-27 22:26] bayareabear commented on #203
Hi Lyndsey, thanks for reporting this issue. I have released 2.0.1 to turn off DEBUG log. Please have a try and let me know.

[2017-09-27 22:27] bayareabear commented on #203
Your issue was closed un-intentionally, sorry about that.

[2017-09-28 02:21] oliverhu commented on #203
@lyndsey-ferguson pls reopen if 2.0.1 does't work

[2017-09-28 02:21] #203 closed

[2017-09-28 12:23] matteomatassoni commented on #200
No there isn't any `.crash`file.

The main `TEST-FinalReport.xml`contains failure these kind of failures with unuseful message.
[code]

Each simulator folder contains a `TEST-TargetSchemeName-results.xml`with the same problems of the main report and a `N-TargetSchemeName-results.txt" plain text file with `(null)` logs, es.:

[code]

[2017-09-28 12:49] lyndsey-ferguson commented on #203
@bayareabear yes, thank you, this resolves it. Logs are back to normal.

[2017-09-28 18:11] bayareabear commented on #203
@lyndsey-ferguson you are welcome!

[2017-09-29 16:01] okanerdogan84 opened #204 "Does Bluepill support running multiple test targets on different simulators parallel?"
Hi,
Does Bluepill  support running multiple test targets on different simulators parallel?
Let say i have TestTarget1 and TestTarget 2 and want run them parallel
TestTarget 1 ----- iphone 6S
TestTarget2 -----iphone 7

[2017-09-29 19:54] ksuther commented on #204
Not within a single invocation of bluepill (at least as far as I know), but you can run two instances of bluepill for each configuration and they will run in parallel.

[2017-10-01 23:10] oliverhu commented on #204
@ksuther is right. It is possible to modify the code base to support running multiple tests on different simulators in parallel, but that is not in our priority list. If you are interested in contributing, please reopen and we can offer guidance :)

[2017-10-01 23:10] #204 closed

[2017-10-05 21:45] PavloBasiuk commented on #200
I've got same error, any ideas why it's failing like that?

[2017-10-05 21:52] oliverhu commented on #200
Looks like an edge case in BPTreeParser, @PavloBasiuk @matteomatassoni do you have a way to reproduce this?

[2017-10-06 00:34] PavloBasiuk commented on #200
It fails for each and every failed test-case. And 99% of my tests fails when expected element is not found on view.

[2017-10-06 01:03] oliverhu commented on #200
@PavloBasiuk could you write a sample test to repro (similar to BPTreeParserTests.m's testParsingCrash) and push to a branch?

[2017-10-06 13:51] #185 closed

[2017-10-06 13:52] krze commented on #200
I plan on digging into this too, but just chiming in to say I'm having the same problem. All failed tests have this error in the logs.

I'm using Xcode 9  and Bluepill 2.0.1 with a project running Swift 4 XCTest UI Tests

[2017-10-06 13:54] PavloBasiuk commented on #200
My setup is practically the same: Xcode9, Bluepill 2.0 with custom changes for jUnit reports, Swift3 and XCUITests

[2017-10-06 14:22] oliverhu commented on #200
Yes, it would be great if you all could provide dummy tests to reproduce this, otherwise it would be super hard for us to understand what is not parsed correctly.

[2017-10-06 18:01] #188 closed

[2017-10-06 18:03] adamszeremeta commented on #200
I have the same issue as described here. In my case this is happening for tests which crashed and for those where assertion failed.

[2017-10-06 20:15] PavloBasiuk commented on #200
It appeared to be easier then I expected. I've just broke one of existing tests for simplicity, so don't merge this PR: https://github.com/linkedin/bluepill/pull/206
But I was able to reproduce same behavior on BPSampleApp from BPSampleAppUITest

To reproduce:
0. Break UITest (BPSampleApp/BPSampleAppUITests/BPSampleAppUITests.m)
1. Build it all and generate .xctestrun file `xcodebuild -workspace B

[2017-10-06 21:43] oliverhu commented on #200
ah.. i get it. We didn't fully test XCUITest scenarios.

[2017-10-10 19:19] krze commented on #200
If this helps, I'm not specifying any special flags to change the test output format and I get this error. iirc all the switches to change the output format on the command in step 3 are already set to those options by default (plaintext + junit)

[2017-10-11 19:48] krze opened #211 "Test Summary .plists from XCTest?"
I'm trying to work around #200. The easiest solution is to use a .plist to junit converter. What does bluepill do with the .plist files typically generated from an XCTestRun?

Typically they're dropped in DerivedData but there doesn't seem to be anything created when to run bluepill, nor is there an option to pass in a derivedDataPath like in xcodebuild

[2017-10-15 03:08] duttaz opened #212 "Is it possible to inject(using plugin) Instrument Template in Project using BluePill ?"
Hi,
 Is there any plugin to Insert  Instrument Template in project.

[2017-10-16 15:19] oliverhu commented on #212
I'm not sure what are you looking for... @duttaz more detail?

[2017-10-16 20:18] vsravan opened #213 "Leaks Instruments template"
Hi,
I need some information like Is there any chance to inject instruments template to bluepill

[2017-10-24 06:18] duttaz commented on #212
Thanks for quick response. I want track leaks in project using Bluepill

[2017-10-24 16:00] oliverhu commented on #212
i don't think it is a good idea to bundle Bluepill (a test tool) with instrument tool (similar as in Xcode, you can't test & instrument in the same time), but if you figured out an easy way to do them in same time, feel free to propose and send pr.

[2017-10-24 18:31] krze commented on #200
Is there any progress on this issue? I spent a few hours digging through and couldn't quite figure out what's going on. Has something changed with the Simulator stdout in xcode 9 that's causing this issue?

[2017-10-30 10:32] YusukeHosonuma opened #214 "`bluepill --version` In version `2.0.0` and `2.0.1`, output incorrect version number"
I downloaded binary from GitHub release page that below URLs.

https://github.com/linkedin/bluepill/releases/download/v2.0.0/bluepill-v2.0.0.zip
https://github.com/linkedin/bluepill/releases/download/v2.0.1/bluepill-v2.0.1.zip

Then execute `bluepill --version` for each binaries, incorrect version is output to the console.

v2.0.0:
[code]
v2.0.1.0:
[code]

I think different version of binary in ar

[2017-10-30 20:35] bayareabear commented on #214
Thanks for reporting the issue. Fixed for both, please try again, and let me know if it works.

[2017-10-30 20:38] oliverhu commented on #214
Please reopen if it is still an issue

[2017-10-30 20:38] #214 closed

[2017-10-31 02:14] YusukeHosonuma commented on #214
Thank you for quick response!
I confirmed that problem is fixed.

[2017-11-11 10:51] #212 closed

[2017-11-13 23:40] deepeeess commented on #87
Here's the method I did to achieve this:

1. List the tests with something like `bluepill --list xctestrun-path --xctestrun-path ./build/Build/Products/GrowItUnitTests_iphonesimulator11.1-x86_64.xctestrun`

2. Use the literal string that `bluepill --list` spits out as part of the .json bluepill config, i.e.
`"include": ["ProjectPhotosViewModelTest/testSetGetProject()"]`

[2017-11-15 04:43] hoang-tran opened #217 "Disable permission alert for simulators"
Since bluepill generates new simulator every time, permission alerts will keep coming.
I wonder if we have a way to disable them?

Permission alerts like:
* location
* push notification
* ect...

[2017-11-15 04:59] oliverhu commented on #217
please check out https://github.com/plu/JPSimulatorHacks

[2017-11-15 06:56] hoang-tran commented on #217
Hmm, looks like they don't have support to disable location and notification permissions.
Thanks @oliverhu

[2017-11-20 17:15] zacoid55 opened #220 "Getting crash on XCUI testrun"
I'm trying to run Bluepill on Xcode 9.1 - it starts the simulator and my app up but then it immediately throws this error:

[code]
Config file:
[code]
Any ideas?

[2017-11-20 23:38] oliverhu commented on #220
I think you need this patch #207

[2017-11-21 00:47] zacoid55 commented on #220
Don't suppose you could give me instructions on how to patch it into 2.02 (I installed it from brew), please?

[2017-11-21 02:22] morgan86 opened #221 "ERROR: Failed to load some test bundles"
Anybody happen this issue before with bluepill? Can you help me？Thank you in advance.

[2017-11-21 10:37] zacoid55 commented on #220
@oliverhu I built from the `xcode-9.1` branch but no luck :( - still saying the same as above and crashing

[2017-11-21 11:04] zacoid55 commented on #220
Ah, I narrowed it down - it's because of something I'm using is utilising XCActivitys

[2017-11-21 11:04] #220 closed

[2017-11-29 17:38] oliverhu commented on #199
closed as #222

[2017-11-29 17:38] #199 closed

[2017-11-30 18:13] zacoid55 opened #223 "Support for XCActivitys"
I noticed that if I wrap my tests in XCActivitys Bluepill crashes and reports in the logs that they're not supported.

Is there any chance this is on the radar for upcoming development?

[2017-11-30 18:45] oliverhu commented on #223
is this the same as #199 ?

[2017-11-30 20:32] zacoid55 commented on #223
Oh I apologise, you're very right - will close

[2017-11-30 20:32] #223 closed

[2017-12-02 22:55] alexs555 opened #224 "Is supported build-in xcode 9 tests parallelization?"
Hello!

I've surfed around docs but didn't find a mention about such feature from xcode9 as parallel tests
(different simulators, Ex: `$ xcodebuild -scheme "Xcode9-XCTest" -destination 'platform=iOS Simulator,name=iPhone 7 Plus,OS=11.0'-destination 'platform=iOS Simulator,name=iPhone 7 Plus,OS=10.3'`) - does bluepill supports it?

Thanks!

[2017-12-03 22:40] oliverhu commented on #224
It is very easy to make Bluepill work with that, just make two identical testing schemes (including same testing targets) and kick off Bluepill :)

[2017-12-03 22:43] alexs555 commented on #224
I came to several config.json files with different devices and sdk's, but several schemes sound great also, thx!

[2017-12-03 22:43] #224 closed

[2017-12-05 02:58] azoff opened #225 "Running in fastlane"
Thanks for this great tool, glad to see you guys are maintaining it!

I've put together a fastlane plugin that hooks into the `bp` and `bluepill` compiled binaries. For those of us that run our builds on CI servers, fastlane tends to be pretty standard. Feel free to list it on your README if you find that folks are asking for fastlane support :)

Cheers!

https://github.com/omniprojects/fastlane-p

[2017-12-05 03:06] oliverhu commented on #225
@azoff would you not want to advertise the plugin the way you want it to be ? :) feel free to send a PR to the README file.

[2017-12-05 23:03] ob commented on #221
If you post the log or more information about what failed maybe we can help you. Most of the time this error happens when you build the app in RELEASE mode an not in build-for-testing mode.

[2017-12-05 23:08] ob commented on #211
If you use the `--xctestrun-path` option, Bluepill will parse the `.xctestrun` file and get the test information from there. Bluepill is a consumer of these files, they are produced by `xcodebuild build-for-testing` and put wherever `derivedDataPath` points to.

[2017-12-07 11:06] alexs555 opened #227 "Support xCode 9.2"
Is support of xcode 9.2 planned? Our build machines on CI always use latest xcode version it would be very useful to support it in bluepill.

[2017-12-07 17:26] oliverhu commented on #227
try #219

[2017-12-09 01:50] oliverhu commented on #200
fixed in #226

[2017-12-09 01:50] #200 closed

[2017-12-09 02:23] PavloBasiuk commented on #200
👍

[2017-12-11 21:07] azoff commented on #225
@oliverhu done! https://github.com/linkedin/bluepill/pull/229

[2017-12-11 21:07] #225 closed

[2017-12-26 13:13] alexs555 commented on #227
I tryed, got the error:
[code]

invokation:

`bp --xctestrun-path "$PATH_TO_TESTRUN_FILE" -o "$BP_LOGS" --runtime 'iOS 11.0' --device 'iPhone 7'  --num-sims "$NUM_SIMS" `

bp is my binary, built from source.
what can cause this error? troubles while parsing *.xctestrun?
thx!

[2017-12-27 12:12] alexs555 commented on #227
actually, all run well. i've rebuild for release and successfully used it

[2017-12-27 12:12] #227 closed

[2017-12-28 07:26] oliverhu commented on #217
Close as there is no plan to support permission alert dismiss. A list of supported permission https://github.com/plu/JPSimulatorHacks includes:
@"kTCCServiceAddressBook",
@"kTCCServicePhotos",
@"kTCCServiceCamera",
@"kTCCServiceMicrophone"

[2017-12-28 07:26] #217 closed

[2018-01-11 19:53] ob opened #237 "White box testing should be easier"
Testing would be so much easier if we could mock the device calls and the app process interactions to create scenarios. Right now we're relying on black box testing with BPSampleApp, and although it works it's pretty slow (we're at 45 min to run tests). Much of the time is spent creating and deleting simulators. While black box testing is useful to actually test that the whole thing works, a bunch

[2018-01-16 16:11] alexs555 opened #238 "Bug in retries for in JUnit reports"
Hello!

We'd encountered an issue, connected with retry policy.

Given:

10 tests, where 5 always fail, 5 always pass.

--failure-tolerance = 1
--only-retry-failed = true

After first run we have Tests-results.xml in JUnit format. (5 passed, 5 failed)
As failure-tolerance is enabled all failed tests are rerunned and as a result we have new Tests-results.xml only with these latests failed tests (5

[2018-01-17 21:34] ob commented on #238
@bayareabear and I were just talking about this reporting issue... we're working on fixing it. Thanks for the report!

[2018-01-17 21:52] alexs555 commented on #238
cool! Looking forward to pr)

[2018-01-18 16:02] samskiter opened #240 "Is there a way to re-use simulators between invocations of bluepill? And would that be faster than creating them?"
I noticed Bluepill's reuse-simulators setting, the simulators are still deleted after bluepill is done. Is possible to leave Bluepill simulators around between invocations?

Rather than deleting them, could you just reset them? (reset content and settings)

Would this be any faster than deleting and creating them anew as bluepill currently does?

[2018-01-18 20:34] ob commented on #240
There is an option `--reuse-simulator` that will keep the simulators between runs (assuming that nothing wrong happened, like a simulator locking up). Back when we implemented it (@njuliyu wrote it), we timed it and it wasn't a big speed gain. Looking back on it I think the problem was that we were installing/uninstalling the app between runs and that was where most of the time was being spent.

T

[2018-01-18 22:06] samskiter commented on #240
Interesting, my reading suggested otherwise:

We've started to compare XCode 9's headless mode against bluepill's, and early results seem to show that invoking xcodebuild directly was faster. Does this sound reasonable to you? (is there some legacy way that BP is achievig headless that doesn't apply now that XCode 9 can support it natively?)

[2018-01-19 01:10] oliverhu commented on #240
It doesn't sound likely to us. We use Mac Mini 2014 Gen in our data centers and from our observations, it takes ~2 min to spread over 5 simulators.
[code]

[2018-01-19 01:27] ob commented on #240
It depends on how many tests you have and how the `.xctest` bundles are configured. If you have mostly unit tests then it will probably be faster to just run them all in `xcodebuild` than parallelize them. The reason is that the overhead of creating a simulator, booting it, installing the app, etc. overtakes the overhead of actually running the tests.

Where bluepill becomes faster is when you hav

[2018-01-19 05:25] oliverhu commented on #240
Ugh, I thought @samskiter was complaining over the simulator initial booting time. It would be better if you could give more context on your testing environment (how many unit/UI tests) and how you configured to run Bluepill. Logs would be appreciated.

It doesn't sound right even if you only have unit tests, give xcodebuild takes 2 minutes, I estimate you have roughly ~1000 unit tests. With Bluep

[2018-01-22 21:49] mshah-nisum-com opened #241 "How do i stop DEBUG messages in Console while running bluepill"
I have xcode 9.2 for which the existing bluepill release was not working, so i cloned xcode-9.2 branch and build that code so i got bluepill exec in Debug. When i run it i am getting DEBUG logs also in the console output , how can i restrict that to display only INFO messages.

[2018-01-22 23:59] samskiter commented on #240
does `--reuse-simulator` clean the sims at the start?

[2018-01-24 13:13] alexs555 opened #242 "Delete simulator issue"
Sometimes bluepill hangs with strange logs :

this issue occures for 1 simulator while -num-sims can be set to 5, for example.
[code]

[2018-01-24 21:17] oliverhu commented on #242
We have never seen this, check if `~/Library/Developer/CoreSimulator/Devices/09500778-42D2-4979-A99D-406A6A6DDAE6 ` have the correct user/groups ?

[2018-01-26 17:07] kisialiu opened #243 "SimDevice running, but no running Simulator App in non-headless mode"
Hi,

Running my tests using the following cmd:
[code]

Every time I run the tests I got these messages:
[code]

All tests finished, but it is trying to reconnect to simulators for some reason. How can I fix it?

Thanks a lot!

[2018-02-05 14:14] simongilmurray opened #245 "Release Branch claims it works with XCode 9.2, yet it gives me an error everytime"
Release Branch and homepage claims it works with XCode 9.2, yet it gives me an error everytime saying it can only work on XCode 9.1.

[2018-02-06 09:05] mbalex commented on #245
I'm using my own compiled bluepill from the master branch, that works with Xcode 9.2

[2018-02-06 09:08] mbalex commented on #242
I have the same issue, user/group seem to match
 it can still use the simulators for testing, but they are not deleted

[2018-02-06 09:15] simongilmurray commented on #245
Hmm sorry I should have prefixed that I installed the package via Homebrew, but this should be the latest Release branch right? I received the 9.1 error everytime. I've switched to 9.2 branch and built manually and it works fine on XCode 9.2.

[2018-02-06 22:06] ob commented on #245
Yeah, sorry about that... the Xcode 9.2 port has been pushed to the master branch, but we haven't done a new release with it so the Homebrew package (which gets pulled out of the Releases section) is not updated. I'll make a release at the end of this week.

[2018-02-06 22:07] ob commented on #243
We are working on cleaning up the retry logic (by we I mean @bayareabear ) ;-)

I'd say wait until that work is completed and we can come back to this.

[2018-02-06 22:08] ob commented on #242
What happens if you try to delete the simulator by hand?

[code]

[2018-02-06 22:10] ob commented on #241
The DEBUG logs are a compile-time option that in theory should be turned off when you compile it outside of Xcode (using the `scripts/bluepill.sh` shell script). Can you try compiling it that way? Otherwise, look for `enableDebugOutput` and manually turn it off in the code.

[2018-02-07 11:17] samskiter commented on #127
I've just seen this error message, not sure where to start debugging it though...

[code]

[2018-02-14 22:31] mshah-nisum-com commented on #241
Thank you, i had not run xcodebuild with release configuration. I had figured that out and ran the xcodebuild using release configuration.
Thank you for your help.

[2018-02-14 22:31] #241 closed

[2018-02-14 22:38] mshah-nisum-com commented on #242
I am also facing this issue, i have all access on the folders. When i try to delete manually sometimes it deletes the simulator and sometimes it gets stuck in shutting down mode where i had to restart the coresimulator service to remove the device.

[2018-02-14 22:48] mshah-nisum-com opened #246 "How to re-run the specific testcases for which simulator crashes"
I have some 134 odd test to be run on bluepill, so sometimes i get few crashes and those testcases are not checked again and my testcases build fails.

I have used re-run failed testcases feature, which re-runs the features which are "timeout" or "failed" but the features on which simulator "crashed" those are left off.

Do you have any flag which would help me on re-running the features on which

[2018-02-16 08:54] beefon commented on #238
@ob hey Oscar, I was wondering if you had any chance to make some progress on fix for the issue @alexs555 has described here?

[2018-02-21 18:27] ob commented on #246
We are revamping how this works, but in the meantime I think you can set `--only-retry-failed` and use `--error-retries` to set the number of times to retry.

[2018-02-24 18:02] vigneshr89 commented on #140
Is there update on this issue?. I am facing the same.

[2018-02-27 19:47] ob commented on #242
What version of Xcode?

[2018-03-05 09:11] Vikasgupta09 commented on #245
By when will you release ? I am facing the same issue.

@simongilmurray  can you please guide on how to switch to 9.2 branch manually , i installed the package via homebrew.

[2018-03-05 09:16] simongilmurray commented on #245
@Vikasgupta09 If you manually build and compile the latest 9.2 branch in XCode, you can pass in the path of the produced artifact to call rather than just calling "bluepill"

For ref mine looks something like this:

/Users/simongilmurray/Library/Developer/Xcode/DerivedData/Bluepill-djrxqlsuktksigggjkrbklfvaevf/Build/Products/Debug/bluepill --xctestrun-path <xctestrun-filepath> -o ./output/

[2018-03-05 09:31] simongilmurray commented on #245
@Vikasgupta09 Or if you are asking how to switch to the branch manually, just click on Branch from the main bluepill github page and select XCode 9.2, here is the link:

https://github.com/linkedin/bluepill/tree/xcode-9.2

[2018-03-05 11:13] Vikasgupta09 commented on #245
Thanks @simongilmurray

[2018-03-07 05:38] Vikasgupta09 commented on #136
@DNCGraef is there a way to get 1 full test report XML instead of multiple reports available per simulator ?

[2018-03-08 22:54] tavisbones commented on #245
Now that 2.2 has been released, when will the homebrew formula get updated?

[2018-03-09 16:56] idelfonsog2 commented on #245
My solution for the moments:
1. git clone the bluepill repo to my local machine
2. cd Bluepill repo dir
3. run `./bluepill --xctestrun-path <path-to-.xctestrun>`

[2018-03-09 17:01] ob commented on #245
Sorry folks, I got distracted... the release is now done.

[2018-03-13 22:25] ob commented on #238
@beefon we're still working on it, it turned into a bigger refactoring than we thought. But we're close.

[2018-03-14 15:58] kisialiu commented on #243
Hi @ob @bayareabear ,

Is there any progress?

[2018-03-15 05:22] Vikasgupta09 commented on #242
I am also facing this issue at times, using Xcode 9.2
There are other issues too, will post under spread thread after evaluation.

[2018-03-15 10:23] Vikasgupta09 opened #249 "Debugging randomness with Simulator still running"
I am randomly facing this scenario -

15-Mar-2018 08:45:09 | {2741} 20180315.044509 [  INFO  ] 2 Simulators still running. [2, 5]
-- | --
15-Mar-2018 08:45:09 | {2741} 20180315.044509 [  INFO  ] Using 722 of 2128 processes.
15-Mar-2018 08:45:23 | {4547} 20180315.044523 [ PASSED ] (BP-5) 100.155758s ViewMyActivity/testViewMyActivity
15-Mar-2018 08:45:23 | {4547} 20180315.044523 [  INFO  ] (BP-5) _X

[2018-03-15 15:22] Vikasgupta09 commented on #249
Other information:
This is happening more frequently now, using xcode 9.2 , tried with iphone6, iphone6s and iphone7

These are the last lines inside simulator.log file:
attempt to continue.
    t =    12.75s         Type 'test+precondition+...' into "email_text_field" TextField
    t =    12.75s             Wait for com.gwynniebee.closet.masterqa to idle

Non-critical error encountered: Automatic

[2018-03-15 21:33] Vikasgupta09 commented on #249
Update:
Have ran my testsuites more than 10 times with different devices and am always facing this issue now. Have also noticed when the above thing happens, the tests are hung and are not working at all. For eg. in one of the simulator i noticed the email id was partially entered and nothing was happening , i had to manually kill that simulator after which the bluepill script identified crash.
Th

[2018-03-15 22:27] abhishekshroff-tudip opened #250 "Test cases fail on checkpoints."
The test cases fail only on checkpoints but run successfully when the checkpoints are removed. Any idea why this happens?
The function 'postCheckpoint()' does not get called under any situation.
Please help.

[2018-03-16 07:45] abhishekshroff-tudip commented on #250
Any updates on this?
It's urgent.

[2018-03-16 11:26] Vikasgupta09 commented on #127
Just encountered this error too:

[code]

[2018-03-16 18:57] ob commented on #249
Are you saying that if a test hangs, bp also hangs? Or that the tests should pass but hang when they are run from within bluepill? I'm just trying to clarify the issue and will look into it...

[2018-03-16 19:03] ob commented on #250
I'm not sure what `postCheckpoint()` is... can you add a simple failing test case to the `BPSampleApp` project in Bluepill and create a PR?

[2018-03-16 20:12] bayareabear commented on #249
This should be fixed by this commit on master:
Fix test timeout hang (#247)
Please give it a try and let us know.

[2018-03-16 21:09] Vikasgupta09 commented on #249
@ob I only noticed that bp keeps on writing same set lines for hours and hours till i manually stop it.  Lines as shown above states simulators still running.
When i manually observed those simulators I found that the tests are hung in whatever state they are.

I don't know the exact reason why that test hung, but I thought bp would kill that test as timeout or something.

@bayareabear the commit

[2018-03-16 21:17] Vikasgupta09 commented on #249
@bayareabear  i verified those changes were not in the branch xcode-9.2 i was using. Thanks I will pull those changes and run tests post that. Hopefully this should resolve. Thanks again.

[2018-03-16 22:55] Vikasgupta09 commented on #249
@ob and @bayareabear Thanks for your response. This issue is resolved but now I am encountering issues related to test report. 1st simulator is crashing due to which test report is not generating.

`{17437} 20180316.183527 [  ERROR ] Failed to parse file:///Users/vikas.gupta/my-app/target/1/TEST-ClosetTests-results.xml: Line 1: Document is empty`

[code]

[2018-03-17 00:02] bayareabear commented on #249
Have you tried with the latest release? I think @ob released a latest version that does not have the issue you are seeing.

[2018-03-17 14:10] Vikasgupta09 commented on #249
Yes I have tried on the master branch after taking the pull. I still faced the same issue.
It could very well be due to one of the test that is getting assigned to simult1 which is causing app to crash, but even in that case I think reporter script should be able to handle such cases as rest of the tests in other simultators are working fine. Only simult1 folder log and result file is empty which

[2018-03-17 21:04] michaellady opened #251 "Support for OnlyTestIdentifiers in xctestrun file?"
I've noticed that when I use bluepill, bluepill runs all tests for the targeted TestBundle, not just the ones that I specify in my xctestrun file in the OnlyTestIdentifiers array

[2018-03-19 03:21] ob commented on #251
Yeah. I say that’s a bug. We should read that info from the xctestrun file. In the meantime, the workaround is to use “include”.

[2018-03-19 16:49] inhang commented on #251
👏 👍 @michaellady

[2018-03-19 17:11] michaellady commented on #251
Cool, passing the tests via the "include" in the json config file worked! I tried using the cli flag `--include`, but it doesn't seem to accept a list of tests? Am I missing something? I couldn't find a good example.

[2018-03-20 13:36] abhishekshroff-tudip commented on #250
Yeah I am doing it and will raise the PR.

[2018-03-20 13:40] abhishekshroff-tudip commented on #250
Also, can you tell me something about "ProcessInfo.processInfo.environment"?.
I get the value of this as `nil` when I run the test case with bluepill, but while running the test cases via xcode, this variable is not nil. :(

How should I set it when running it with bluepill?

[2018-03-21 22:06] PavloBasiuk opened #252 "'NSInternalInconsistencyException', reason: 'Failed to initialize IO ports for device IO client.'"
Hi all

Bluepill is great tool for running tests in parallel, but I've got pretty weird error while starting iPhone simulators. Meanwhile it runs perfectly well on iPad. Any ideas on what is causing this issue?

[code]

[2018-03-22 18:27] ob commented on #250
Is that `ProcessInfo.processInfo.environment` being called in your tests? Bluepill sets the App's environment from the xctestrun file.

[2018-03-22 18:29] ob commented on #252
What version of Xcode are you using?

[2018-03-22 18:30] PavloBasiuk commented on #252
XCode version 9.2 (9C40b)

[2018-03-22 18:44] ob commented on #252
Bluepill v2.1.0-21-gb0944ab (the version you're using), won't work with Xcode 9.2. You need the latest release v(2.2.0).

[2018-03-22 19:13] PavloBasiuk commented on #252
I'm using master branch and built bluepill from there. Isn't v2.2.0 merged to master?

Also, it works well with xcode 9.2, I have all tests running and passing on iPad, it only fail to create simulators for iPhone which is super weird.

[2018-03-22 20:33] PavloBasiuk commented on #252
I've also tried with released version 2.2.0
Same error for iPhone :(
[code]

[2018-03-27 07:04] akshaykhedkar-tudip commented on #250
Yes, it is being called in our tests.

Following is the code for your reference.

    // Variable to check if application is running in test environment
    static var isRunningTestCase: Bool {
        return ProcessInfo.processInfo.environment["XCInjectBundleInto"] != nil
    }

    // Use to post notification when any special event occurs, example: login, logout.
    // - parameter name: Identif

[2018-03-27 07:11] abhishekshroff-tudip commented on #250
Yes, it is being called in our tests.

Following is the code for your reference.
[code]

[2018-03-30 18:47] michaellady opened #253 "Xcode 9.3 support"
is Bluepill Xcode 9.3 compatible?

[2018-03-30 19:43] ob commented on #253
It should work, we're waiting on CircleCI to have Xcode 9.3. support, but if you apply this diff:

[code]

It should work

[2018-04-04 07:08] Vikasgupta09 commented on #249
@ob @bayareabear
I am facing this issue again since yesterday... Please reopen and assign high priority to it

To explain it again - Simulator keeps running for hours until i manually kill the process. Couple of logs:

build	04-Apr-2018 06:47:00	{17871} 20180404.024700 [ FAILED ] (BP-4)  75.495032s OnboardingHowToEarn/testSmartReturnSection
build	04-Apr-2018 06:47:24	{17723} 20180404.024724 [  INF

[2018-04-04 09:18] Vikasgupta09 commented on #249
Some more logs:

04-Apr-2018 08:17:05 | {25694} 20180404.041705 [  INFO  ] Simulator 5 (PID 26497) has finished with exit code 7.
-- | --
04-Apr-2018 08:17:05 | {25694} 20180404.041705 [  INFO  ] PID 26497 exited 7.
04-Apr-2018 08:17:28 | {25694} 20180404.041728 [  INFO  ] 1 Simulator still running. [4]
04-Apr-2018 08:17:28 | {25694} 20180404.041728 [  INFO  ] Using 406 of 2128 processes.
04-Apr-2

[2018-04-04 13:57] Vikasgupta09 commented on #249
@ob what is ADDITIONAL FAILURE ?

build	04-Apr-2018 12:19:28	{91458} 20180404.081928 [  INFO  ] Using 395 of 2128 processes.
build	04-Apr-2018 12:19:43	{91604} 20180404.081943 [ FAILED ] (BP-4)  85.660521s PfhVisibility/testPfhVisibility
build	04-Apr-2018 12:19:58	{91458} 20180404.081958 [  INFO  ] 1 Simulator still running. [4]
......
build	04-Apr-2018 12:38:01	{91458} 20180404.083801 [  INFO  ]

[2018-04-05 05:24] ob commented on #249
`ADDITIONAL FAILURE` just means that the same test failed two different asserts. For example, if your test is

[code]

Bluepill will report the first `NSAssert` as `[ FAILED ]` and the second `NSAssert` as `ADDITIONAL FAILURE`.

Can you build a debugging version of Bluepill and post the full logs?

[2018-04-05 05:28] ob commented on #252
Do the tests work when run using `xcodebuild test`?

[2018-04-05 05:41] Vikasgupta09 commented on #249
My understanding is test should not continue after first as I am using failurecontinueAfterFailure = false
Problem can be in some tests but bp should be able to handle such tests with max timeout of 300s. I am using default config only, not overriding any except device.

How to build a debugging version of bluepill ? Do you mean to use "diagnostics" as "YES" in bp config ?

[2018-04-05 08:37] Vikasgupta09 commented on #249
[1-simulator.log](https://github.com/linkedin/bluepill/files/1879147/1-simulator.log)

[2018-04-06 06:37] Vikasgupta09 commented on #249
@ob I think the problem is due to this error:
Non-critical error encountered: Automatic screenshot failure.
Linked XCTest.framework from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/Library/Frameworks/XCTest.framework/XCTest, built with Xcode 0920(9C34c), modified on Friday, November 17, 2017 at 3:56:49 AM Eastern Standard Time
XCTest.framework bundle ver

[2018-04-06 23:40] ob commented on #249
Ah, yeah... that makes sense. @bayareabear is working on removing the output parser. Once his changes make it in this will be fixed. I hear he's pretty close.

[2018-04-09 14:36] PavloBasiuk commented on #252
Tests works well when debugging from xcode. Sometimes tests also just work with no reason and crash on next run. Could it be something with SimulatorScreenshotService? Like, when trying to start it there is some racing condition and some network ports are already in use by another simulator instance?

[2018-04-13 21:24] ob commented on #253
#255 fixes this but exposed an Apple bug... soon to be worked around

[2018-04-19 19:31] PavloBasiuk opened #257 "Hardware"
This is not an issue but rather question :)

What kind of hardware is needed to be able to run 12 concurrent simulators (like on readme demo https://github.com/linkedin/bluepill/blob/master/doc/img/demo.gif )?

[2018-04-23 07:57] LeoDZhao commented on #136
@DNCGraef How do you convert TEST-FinalReport.xml to *.plist? I checked my TEST-FinalReport.xml, there's no information of screenshot at all. While in *.plist file, there's information of screenshot. I want a html report with screenshot.
@oliverhu If bluepill provides a plist file, xcsummary can generate a html report with screenshot

[2018-04-23 18:44] bayareabear commented on #253
Released v2.3.0 for Xcode9.3 support. Please check it out and let us know if you have issues. I am closing this issue for now. Feel free to reopen it if you encounter issues.

[2018-04-23 18:44] #253 closed

[2018-04-25 19:59] ob commented on #257
The demo was captured on a Mac Pro 2013. I think the main limiting factor is memory since each simulator basically launches a full copy of iOS.

[2018-04-25 21:50] PavloBasiuk commented on #257
Could please share how much RAM was on that Mac Pro?

[2018-04-26 17:25] bayareabear commented on #252
What are the steps to reproduce the error?
I think your hypothesis makes sense as I see:
16:03:43 {47996} 20180322.160343 [  INFO  ] (BP-1) Starting SimulatorScreenshotService for device:80975385-25EA-43F3-926D-9D2EBD1D75F9
16:03:43 {47996} 20180322.160343 [  INFO  ] (BP-1) Booting a simulator without launching Simulator app
16:03:44 {48017} 20180322.160344 [  INFO  ] (BP-2) Starting SimulatorScre

[2018-04-26 23:12] bayareabear commented on #252
Thanks for the info! Have you tried to turn the SimulatorScreenshotService off using "screenshots-directory" flag and see if it still happens?

[2018-04-27 01:33] PavloBasiuk commented on #252
Well, we need those screenshots, but I will give it a try to see what will happen.

[2018-04-28 19:56] bayareabear commented on #252
You may want to delete all the simulators and restart the node, then try again. Let me know if you still have issues.

[2018-04-28 20:01] bayareabear commented on #246
To add more details, if you set --only-retry-failed, it will try to the max times as specified by --error-retries until it stops testing. Please reopen this issue if you still have questions.

[2018-04-28 20:01] #246 closed

[2018-04-30 16:49] PavloBasiuk commented on #252
Deleting all simulators and restarting node helped. I got it all running without screenshots. Thanks for valuable advice!!!!

Next step I'm planning to take: running is all with screenshots ON.

[2018-04-30 16:49] #252 closed

[2018-05-01 00:59] oliverhu commented on #257
@PavloBasiuk
Mac Pro (Late 2013)
2.7 GHz 12-Core Intel Xeon E5
32 GB 1866 MHz DDR3 ECC

[2018-05-01 01:00] oliverhu commented on #257
Basically ~2GB per simulator. You need another ~6GB for the system to be stable.

[2018-05-01 01:02] oliverhu commented on #136
Not sure of the details how to do that and it is not a priority for us since we added that to our testing framework. Nonetheless feel free to contribute if you can do that really quick @LeoDZhao  :)

[2018-05-01 14:56] PavloBasiuk commented on #257
Thanks!

[2018-05-01 14:56] #257 closed

[2018-05-04 22:19] n8armstrong opened #258 "Run in Release mode"
Is it possible to have the tests run in release mode? When I build for test and have my scheme set to have Run and Test build in Release mode I get the following error when I run `bluepill`:

[code]

I'm on version 2.3.0 and I'm running with `--xctestrun-path`.

[2018-05-08 03:28] ob commented on #258
Unfortunately no, we get the list of tests from the symbols in the XCTest executable, which are stripped in Release mode.

[2018-05-08 03:28] #258 closed

[2018-05-08 03:29] ob commented on #245
Home-brew formula is updated (thanks to whoever maintains it).

[2018-05-08 03:29] #245 closed

[2018-05-08 13:16] bootstraponline commented on #258
Would you be open to alternative ways of generating the list of tests that'd work for release mode?

For example parsing the source code. Or generating a test list from the debug version and saving that as a text file.

[2018-05-08 17:06] oliverhu commented on #258
The generation of a list of tests is relevant of release mode or debug mode, as far as you have the XCTest executable, we're able to parse it (which AFAICT, only in debug mode). It doesn't make sense to parse source code for a test list using complex regex, a better way is to get the AST out of the source code and get the test names, this itself is a complicated project.

[2018-05-09 15:23] ammoqq opened #260 "Activity failed because activities are disallowed in the current configuration"
getting this error when running my UI Tests via bluepill (with 1 or 2 simulators)
When i run the UI Tests without bluepill all pass normally.

my config is:
[code]
and my fastfile is simply:
[code]
I have xcode 9.0 and using bluepill 2.0.2. Cannot upgrade now but would already like to use bluepill.  Any ideas what could be wrong ?

[2018-05-10 00:25] ob commented on #260
Can you paste the contents of `Build/Products/MyApp_iphonesimulator11.0-x86_64.xctestrun`?

[2018-05-31 18:43] vincentkjj opened #261 "Any plan to support Xcode 9.4"
Hi,

Is there any plan to support Xcode 9.4 as it's out 2 days ago?

Thanks!

[2018-05-31 22:27] bayareabear commented on #261
I will take a look. But you can always get an early peek by bumping up the versions in bluepill and see if anything breaks.

[2018-06-04 16:13] bayareabear commented on #261
I am pulling in some changes to fix some flaky tests that fails with Xcode 9.4. After that, Bluepill should work simply by bumping up the versions.

[2018-06-04 16:13] #261 closed

[2018-06-20 03:52] alanyjw commented on #261
@bayareabear May I know if the flaky tests have been fixed? I was wondering if bluepill is ready for Xcode 9.4, since I've seen that you've made some commits to fix the tests.

[2018-07-25 16:44] Vikasgupta09 opened #267 "App crash issue with Swift 4 & xcode - 9.4 version"
Hi, we had been using bluepill since past few months and recently we upgraded our code base from Swift 3.3 to Swift 4.0. While the tests were working fine on Swift 3.3 with Xcode9.4 , it doesn't work with Swift4.
It says app crashed but while we manually watched the simulator we found that even before the simulator is ready , the app crash message starts appearing.
I am attaching simulator.log fil

[2018-07-25 19:51] oliverhu commented on #267
The simulator log seems self explanatory.

[code]
It seems your test bundle is properly signed thus we can't load the test bundle.

[2018-07-25 22:58] ob commented on #267
^ is *not* properly signed.

[2018-07-26 01:31] Vikasgupta09 commented on #267
Thanks a lot guys, CODE_SIGNING_REQUIRED was set to false which was creating issue only with swift 4 somehow.

[2018-07-26 01:31] #267 closed

[2018-08-16 15:12] rocker1976 commented on #252
Hi Pavlo, I have the same issue "CoreSimulatorService connection interrupted.  Resubscribing to notifications."
I'm trying to figure out a solution, but no luck. As you say, it can be a problem with the screenshots. Now, I'm going to disable them. Is it possible that you can help me with a definitive solution?
Many thanks!

[2018-08-16 23:11] PavloBasiuk commented on #252
I went long and I'm afraid that it's also a bit wrong path :)
So, I've added `sleep(30);` to https://github.com/linkedin/bluepill/blob/master/Bluepill-runner/Bluepill-runner/BPRunner.m#L265. This gives first simulator 30 seconds to start before even trying to start second simulator. From what I think: SimulatorScreenshotService is failing to start on second simulator because some network port is j

[2018-08-17 22:17] rocker1976 commented on #252
Thank you very much for the help @PavloBasiuk. I applied the change and so far it has worked excellently 👍

[2018-08-20 15:51] PavloBasiuk commented on #252
@rocker1976 - can you make a PR with those changes? So, it will be in main branch :)

[2018-08-20 17:32] rocker1976 commented on #252
@PavloBasiuk
Today I've received two times the error: CoreSimulatorService connection interrupted.  Resubscribing to notifications.

Here the log 1:
20:27:16 {37225} 20180819.132717 [  INFO  ] (BP-3) All Tests Completed.
20:27:16 {37225} 20180819.132717 [  INFO  ] (BP-3) DTXConnection disconnected.
20:27:16 {37225} 20180819.132717 [  INFO  ] (BP-3) Socket transport disconneted
20:27:16 {37225} 201

[2018-08-29 01:37] shiratsu opened #270 "when test failed"
HI,there.

I like this library.
But I have a question.

My XCUItest often fail because of some reason.
For example if test run 3 times, test fails once.

Then,when test failed,remaining test don't run.
If possible,I would like test to run.
Even if one of tests failed.

Is it possible?

My config is here.

[code]

[2018-09-20 15:18] minuscorp opened #275 "Device number >1 using EarlGrey causes tests to hang forever."
The title is pretty descriptive by itself, but I gonna extend a little bit further.

If anyone doesn't know, [EarlGrey](https://github.com/google/EarlGrey) provides a interface to make UITesting in a BDD, just like KIF and other frameworks, this is, they use the host application and create UITests like they're regular unit tests.
The weird fact is that when a single simulator (doesn't matter if he

[2018-09-20 20:39] oliverhu commented on #275
EarlGrey is still using XCUITest and it should be supported. It is bit hard to tell what's going on from the log you posted, do you have an reproducible example we can try? Like a sample project.

[2018-09-21 07:35] minuscorp commented on #275
I can try to mock a project during next week and post it here in order to make it easy to reproduce for you!

[2018-09-21 13:14] minuscorp commented on #275
So I did made a sample project with simple tests (just 4 of them vs the 100 of the application I'm using, I don't know if it's possible just providing the `xctestrun` and the build products for you to reproduce the issue without providing the actual code (that I can't)

[2018-09-21 21:04] oliverhu commented on #275
hmm, if it is a sample project (not your production code), you should be able to share the code? It is better to have a complete project to try it out

[2018-09-24 16:39] ob commented on #275
Or run it with verbose logging (`-v`) and see if you can find more info in the logs?

[2018-09-25 11:03] minuscorp commented on #275
Bocked until we get Xcode 10 support?

[2018-09-28 08:03] dropski opened #278 "Xcode 10 support"
Hi, what about Xcode 10 support? You have info in your read me that current version supports Xcode 10 but when I tried it there was an info that current version supports only Xcode 9.4

[2018-09-28 17:17] bayareabear commented on #278
Are you trying with the trunk? And where do you see it only support Xcode 9.4?

[2018-09-30 12:10] fxcoudert opened #279 "bluepill does not compile with Xcode 10"
The latest release fails to compile with:

[code]

The top of master branch fails with:

[code]

[2018-09-30 18:29] ob commented on #279
That is weird, it build for me, I ran:

[code]

How are you building it?

[2018-09-30 18:35] fxcoudert commented on #279
[code]

on Mojave with Xcode 10 will yield the error above.

[2018-09-30 21:03] oliverhu commented on #279
Interesting, I don't have a Mojave macOS yet, will need to upgrade my mac mini home and check it out.
This error looks unrelated to OS upgrade tho. Is this reproducible with other folks' macOS on Mojave ?

[2018-09-30 21:51] bayareabear commented on #279
@fxcoudert , For your first error, Xcode 10 removed SimulatorScreenshotService in a framework;
For your second error, please compile BluepillLib first and then compile Bluepill. I am going to fix this in the next pull request.

[2018-09-30 22:50] bayareabear commented on #279
XCTest should have new api to support SimulatorScreenshotService

[2018-10-01 07:10] fxcoudert commented on #279
Once this is fixed, can a new release please be tagged? That way we can ship it in Homebrew

[2018-10-01 12:21] dropski commented on #279
when I trying to call `brew install bluepill` (I git old version of bluepill installed) I have an error:
[code]

[2018-10-01 16:37] fxcoudert commented on #279
@bayareabear I have opened a PR to upgrade the Homebrew version: https://github.com/Homebrew/homebrew-core/pull/32602

[2018-10-01 17:39] bayareabear commented on #279
@dropski, yes, I have Xcode 10 installed. But that should not matter.
@fxcoudert, thanks for the PR!

[2018-10-02 05:41] dropski commented on #279
I have bluepill 2.4.0 installed via homebrew, and when I'm trying to call this:
[code]
I see this error:
[code]

[2018-10-02 05:44] oliverhu commented on #279
@dropski  you need 3.0.0 https://github.com/linkedin/bluepill/releases

[2018-10-02 05:51] dropski commented on #279
Ok, any idea why homebrew latest version of bluepill is 2.4.0 ?

[2018-10-02 06:12] fxcoudert commented on #279
@dropski because the latest one does not build: https://github.com/Homebrew/homebrew-core/pull/32602

[2018-10-02 06:42] dropski commented on #279
thank you @fxcoudert I'm waiting for update

[2018-10-05 21:08] loufranco commented on #194
@oliverhu I need this too and I am willing to do the work and make a PR, but want to advice before doing so.

My use case is that I have a mandated test that the app makes a specific server request. We are putting https://mitmproxy.org/ on the build server and need to install its HTTPS certs in the simulator.

One way would be if I could just run a shell script after the simulator is made on the h

[2018-10-08 10:03] oliverhu commented on #194
@loufranco would this give you some hints? https://discuss.bitrise.io/t/programmatically-install-trust-certificates-on-simulators-for-ios-10-3/3329

[2018-10-08 13:43] oliverhu commented on #194
That makes sense, it would be similar to
[code]

How about we just provide another flag to pass in the cert path? Basically just need to translate that python script to some objc code.

[2018-10-08 13:54] loufranco commented on #194
That script is not trivial to port.  It's not just a file copy -- the script needs to use sqlite to update the trust database.

This project reverse-engineered this behavior -- it's not documented. I am worried that this will be a maintenance burden for bluepill (to constantly monitor and port ADVTrustStore)

Also, a script calling mechanism might be generally useful for other use-cases.

[2018-10-08 14:08] oliverhu commented on #194
Ok, that makes sense - for the sake of not porting every script to bluepill. Maybe add some shimming stage before launching the simulator and add the deviceID to the environment in order for the script to pick up.

[2018-10-08 14:12] loufranco commented on #194
Ok.  Should we do something to guard against arbitrary script calling.  For example, instead of script name, how about the parameter be a script folder and the names are pre-defined.

Like this:

[code]

[2018-10-09 06:47] oliverhu commented on #194
That sounds weird, there is still a risk that the file in that folder will be swapped. Also, I don't think we need a folder as well as you just need a single script file and it can call into others if necessary. How about `--script-file-path-with-sha256 filepath:sha256sum`

[2018-10-11 15:37] loufranco commented on #194
Ok. For now, I'll do something simple (no hash) to get something to review.

I'll look into what is exactly happening with clone-simulator. It might be necessary to call the script again.

[2018-10-11 18:02] ob commented on #42
We added this a while ago.

[2018-10-11 18:02] #42 closed

[2018-10-11 18:39] jineshqa commented on #238
@ob Thanks Oscar. It has been a few months. I was wondering if you have any updates or workaround for this issue?

[2018-10-11 19:48] ob commented on #238
The refactoring hit some problems... @bayareabear do we have a more punctual fix?

[2018-10-11 20:44] oliverhu commented on #194
I agree, adding guard against arbitrary code is overkill. Unless we're building cloud of simulators as a service.

[2018-10-15 20:53] jineshqa commented on #279
Bumping this one up. https://github.com/Homebrew/homebrew-core/pull/32602 was not merged and closed (deleted). Could someone please take a look? Thanks.

[2018-10-15 22:36] oliverhu commented on #279
We gonna do that after merging this: #285

[2018-10-16 20:27] idelfonsog2 opened #286 "remove bluepill"
How do I remove it from my project?

[2018-10-17 22:56] jineshqa commented on #238
@ob @bayareabear sorry to bug you. Any updates?

[2018-10-18 01:10] ob commented on #238
I'm on vacation, but I'll take a look next week. Ping me if I haven't. Thanks.

[2018-10-22 23:59] oliverhu commented on #52
close old issues. feel free to reopen.

[2018-10-22 23:59] #52 closed

[2018-10-23 00:01] oliverhu commented on #79
close old issues. feel free to reopen.

[2018-10-23 00:01] #79 closed

[2018-10-23 00:01] oliverhu commented on #112
close old issues. feel free to reopen.

[2018-10-23 00:01] #112 closed

[2018-10-23 00:01] oliverhu commented on #125
close old issues. feel free to reopen.

[2018-10-23 00:01] #125 closed

[2018-10-23 00:01] oliverhu commented on #50
close old issues. feel free to reopen.

[2018-10-23 00:01] #50 closed

[2018-10-23 00:02] oliverhu commented on #120
close old issues. feel free to reopen.

[2018-10-23 00:02] #120 closed

[2018-10-23 00:02] oliverhu commented on #122
close old issues. feel free to reopen.

[2018-10-23 00:02] #122 closed

[2018-10-23 00:02] oliverhu commented on #140
close old issues. feel free to reopen.

[2018-10-23 00:02] #140 closed

[2018-10-23 00:02] oliverhu commented on #148
close old issues. feel free to reopen.

[2018-10-23 00:02] #148 closed

[2018-10-23 00:02] oliverhu commented on #155
close old issues. feel free to reopen.

[2018-10-23 00:02] #155 closed

[2018-10-23 00:05] oliverhu commented on #158
close old issues, feel free to reopen

[2018-10-23 00:05] #158 closed

[2018-10-23 00:06] oliverhu commented on #176
close old issues, feel free to reopen

[2018-10-23 00:06] #176 closed

[2018-10-23 00:06] oliverhu commented on #164
close old issues, feel free to reopen

[2018-10-23 00:06] #164 closed

[2018-10-23 00:06] oliverhu commented on #221
close old issues, feel free to reopen

[2018-10-23 00:07] oliverhu commented on #152
close old issues, feel free to reopen

[2018-10-23 00:07] #152 closed

[2018-10-23 00:08] oliverhu commented on #136
close old issues, feel free to reopen

[2018-10-23 00:08] #136 closed

[2018-10-23 00:08] oliverhu commented on #170
close old issues, feel free to reopen

[2018-10-23 00:08] #170 closed

[2018-10-23 00:08] oliverhu commented on #173
close old issues, feel free to reopen

[2018-10-23 00:08] #173 closed

[2018-10-23 00:09] oliverhu commented on #286
What do you mean?

[2018-10-23 00:09] oliverhu commented on #211
close old issues, feel free to reopen

[2018-10-23 00:09] #211 closed

[2018-10-23 00:09] oliverhu commented on #175
close old issues, feel free to reopen

[2018-10-23 00:09] #175 closed

[2018-10-23 00:10] oliverhu commented on #174
close old issues, feel free to reopen

[2018-10-23 00:10] #174 closed

[2018-10-23 00:10] oliverhu commented on #77
close old issues, feel free to reopen

[2018-10-23 00:10] #77 closed

[2018-10-23 00:10] oliverhu commented on #260
close old issues, feel free to reopen

[2018-10-23 00:10] #260 closed

[2018-10-23 17:04] oliverhu commented on #240
close old issues, feel free to reopen

[2018-10-23 17:04] #240 closed

[2018-10-23 17:04] oliverhu commented on #191
close old issues, feel free to reopen

[2018-10-23 17:04] #191 closed

[2018-10-23 17:05] oliverhu commented on #270
There has been quite some updates on Bluepill, is this still a problem for you @shiratsu ?

[2018-10-23 21:40] oliverhu commented on #279
@fxcoudert  Created https://github.com/Homebrew/homebrew-core/pull/33322, CI passes for Mojave and High Sierra, however, I don't think it works for macOS Sierra version anymore. How to disable building for Siera?

[2018-10-24 14:16] fxcoudert commented on #279
Is it officially unsupported on Sierra? Why?

[2018-10-24 18:03] oliverhu commented on #279
As discussed in the PR, Xcode 10 is not supported in Sierra.

[2018-10-24 18:30] jineshqa commented on #238
@ob gentle reminder. Hopefully, you had a fun vacation, we didn't bother you too much.

[2018-10-24 19:09] oliverhu commented on #279
Bluepill 3.1.0 released to Homebrew.

[2018-10-24 19:09] #279 closed

[2018-10-24 19:11] #221 closed

[2018-10-24 19:12] #270 closed

[2018-10-25 01:59] ob commented on #238
So looking a bit at this... I what we want is to leave the old `TESTS-results.xml` file. That is, leave one result file for each run. The rational is that `--failure-tolerance` essentially re-runs the whole thing.

@jineshqa do you agree with this? That we should leave both files?

[2018-10-25 02:18] jineshqa commented on #238
@ob if we leave both the files, which file would Jenkins or other CI pick? IMHO we should merge the results and leave just one final file.

[2018-10-25 02:56] oliverhu commented on #243
the logic is cleaned up.

[2018-10-25 02:56] #243 closed

[2018-10-26 17:12] ob commented on #238
My concern is masking out the fact that we retried. Seems like important information. Is there a place in the JUnit specification where you can add something like number of retries? A cursory google search found nothing.

Another option would be adding another test-suite section but I don't know if that's going to be confusing.

[2018-10-26 17:30] oliverhu commented on #238
@jineshqa  you can config Jenkins to mask what files will be picked up.

[2018-10-26 17:57] jineshqa commented on #238
@ob that is a valid concern but at the end we also need 1 result file to see overall status. How about creating a new folder inside results called "retry" when test cases are retried.  That will not mask the fact that cases were retried.

[2018-10-26 17:59] jineshqa commented on #238
I am aware of that part but what we can't do is configure to pick 2 result files and merge them to show final results. Stakeholders want to see the overall results and CI system wants pass result to allow merge. For us, QA automation engineers, we need to know what was retried and how many times.

Thanks,
Jinesh

[2018-10-26 21:18] jineshqa commented on #238
![screen_shot_2018-10-26_at_2_10_37_pm](https://user-images.githubusercontent.com/9420719/47592687-30c67880-d929-11e8-8619-91d9b0fd4927.png)

@ob Apologies for not being clear earlier. As you can see in the above screenshot, we leave a final xml file and inside folder named "1" (which denotes simulator number, I think) we leave one more xml file. In this case the xml file, inside folder "1", is th

[2018-10-29 23:15] #286 closed

[2018-11-01 04:10] dazhenp opened #299 "XCode 10.1 support"
Can you add support to XCode 10.1 please?

[2018-11-06 00:15] ob commented on #238
I haven't had time to work on this... it's still on my todo list though...

I think leaving a file in a retry folder shouldn't be too hard though... I'll see if I can carve off some time to do this.

[2018-11-07 04:17] river2202 opened #300 "Version number showing v3.0.0-11 for 3.1.0 from release page"
Go to https://github.com/linkedin/bluepill/releases/, download 3.1.0

bluepill --version
Bluepill v3.0.0-11-g5140bee

[2018-11-07 17:50] liweiran10086 opened #301 "the stuck-timeout cases always marked failure in TEST-FinalReport"
**I have a Testcase which is not stable .
Some demo code like this**

[code]

**When use bluepill to run the test , I set the `stuck-timeout` to 8 seconds, and retry times is set to 5.
The TEST-FinalReport will include the failed result although it finally passed.**

[code]

**What I expected is if the unstable case finally passed after retry, then the Final Test xml should only contains the passe

[2018-11-07 19:15] ob commented on #300
It's the right version (5140bee is the git Sha-1, which matches the tag), it's reporting it wrong because it was probably built _before_ it was tagged. I stared working on automating releases to prevent that, so once we get those going this should not happen again.

Thanks for reporting, we should re-upload the binaries with the right version. @oliverhu can you rebuild after the tag?

[2018-11-08 03:03] liweiran10086 opened #302 "Screenshot removed on Xcode10"
https://github.com/linkedin/bluepill/commit/1a32edd134c0fcff453856db286788f7a09ca368
In this PR ,
 * Xcode 10 support: 1. remove screenshot

May I know the reason why screenshot is removed?
It's very useful to us to analyse the automation failure.

Because it's removed , I have tried to use xcuiscreenshot and xctattachment to capture screenshot, it works not using bluepill, and the screenshot is a

[2018-11-08 18:34] ob commented on #302
@bayareabear

[2018-11-08 22:29] river2202 commented on #302
Could it has a option to turn on/off the screenshot?

[2018-11-08 23:07] oliverhu commented on #302
Please refer to #279 , `SimulatorScreenshotService` is removed from the Simulator framework. There should be another API as a replacement tho.

[2018-11-13 06:46] bupojung commented on #101
can you give more detail? how to set app path?

[2018-11-15 23:40] ob opened #303 "Better Reporting from Bluepill"
When Bluepill is done running the tests, it generates a single JUnit report that is used by CI systems to determine what happened. This is typically called `TEST-FinalReport.xml` or something like that.

We have had many problems with reporting and I'm coming to realize that partly it's because we are conflating two distinct uses and trying to fit them in the same JUnit report. Namely, developers

[2018-11-16 18:21] ob commented on #238
@jineshqa I left some comments in #303. Those files that you mention suffer the same problem as the `TEST-FinalReport.xml`, namely they don't have a place to put retries, timeout, etc. I would love your opinion on #303.

[2018-11-16 19:07] jineshqa commented on #303
Hi @ob, IMHO we should have 1 final file in junit format with merged results. If you could look at [this fastlane plugin](https://github.com/lyndsey-ferguson/fastlane-plugin-test_center). This does an amazing job of merging the junit retries into one 1 report.

As for us QA guys who want to do more detailed analysis, we could leave an additional folder with all individual junit files like, junit.x

[2018-11-19 22:44] oliverhu commented on #300
It seems my reply before didn't get published for some reason.. anyway, it is fixed in latest https://github.com/linkedin/bluepill/releases/tag/v3.1.1

[2018-11-19 22:44] #300 closed

[2018-11-19 22:44] oliverhu commented on #299
Resolved in #304

[2018-11-19 22:44] #299 closed

[2018-11-21 23:07] bayareabear commented on #303
Agreed we can make the reporting better.
1. There is some work ongoing from the other team to generate summaries for failed, retried and crashed tests
2. The work in 1 won't fix #238, we still need a consolidated report to show all the tests done
For our case, we are running tests using parallel "worker simulators". The test sequence does not matter, i.e. no tests would block other tests. I am not

[2018-11-30 22:02] bayareabear commented on #302
yes, please use the new API. Feel free to create a PR

[2019-01-15 18:57] slk9 opened #311 "As a bluepill user I want to have agruments passed on launch supported"
My test frameworks use `arguments passed on launch` and `environment variables` to configure tests execution like screenshot collecting or locale selecting. The current workaround is to modify the scheme to provide it to my tests with bluepill. But it would be much cleaner to have bluepill do it for me on the fly.

Definition of done:
  bluepill supports flag to add/modify the arbitrary number of

[2019-02-14 21:02] loufranco opened #312 "Bluepill should ignore test bundles without hosts"
My workspace just added a very simple swift module with tests -- they don't need a host to run (i.e "Host Application" is set to None in Xcode and the "TestHostBundleIdentifier" isn't present in the dictionary we load from the xctest file)

I already tested a change locally (that works) where I skipped test files that don't have the TestHostBundleIdentifier key.

I can PR if this seems like the ri

[2019-02-14 23:00] oliverhu commented on #312
That sounds weird. We used to have No Host Application tests, and we run them with Bluepill. I think you need this flag:

[code]

[2019-02-15 00:17] loufranco commented on #312
I don't want to run them -- I just want to run a GUI test in another test bundle.

But when it tries to load the entire .xctest file, it can't load this one.  It looks to me that there's partially another bug stopping it, but it also looks for "TestHostBundleIdentifier" in the dict (and it's not there), so it returns nil and the caller says that nil is an error.

In my case, I have a workspace lik

[2019-02-15 00:57] oliverhu commented on #312
Got it, that is possible. We only validated it works for our specific case. It would be great if you could provide a sample project to reproduce this, feel free to submit a PR (draft is fine) to help us understand the issue.

[2019-02-16 02:05] loufranco commented on #312
Ok, here's a minimal workspace that reproduces the issue.

I included the .xctestrun file in the zip. When I run bluepill against it, I get

[code]

The first problem I see is that bluepill doesn't correctly substitute `__TESTROOT__` in the bundle, but when I tried to fix that, then it wanted the app bundle id (which doesn't exist).

I need some guidance for how to fix this -- I am willing to make

[2019-02-16 02:21] loufranco commented on #194
#290 closes this issue for me.

[2019-02-16 07:03] #194 closed

[2019-02-27 11:11] AnnaKlueva commented on #302
Hi @bayareabear ,
Could you please share some documents for this "new API"?
And one more question is there ability to change quantity of parallel simulators?

[2019-02-27 18:13] oliverhu commented on #302
We need this private API:
https://github.com/facebook/FBSimulatorControl/blob/master/PrivateHeaders/DVTFoundation/DVTDevice.h

There are configs in the https://github.com/linkedin/bluepill homepage telling you how to set the quantity of parallel simulators -> `--num-sims`

[2019-02-28 12:41] AnnaKlueva commented on #302
@oliverhu , thank you

[2019-03-04 07:24] oliverhu commented on #312
Sorry for getting back to you late. What command did you use to run against that demo?
Like this?
[code]

We should include those test bundles without test hosts. I did find there are some potential issues in replacing __PLATFORMS__ & __TESTHOSTS__ & ... , looks should not be a `if / else if / else if` if but `if if if`

[2019-03-04 07:58] oliverhu commented on #312
Figured out how to run it.. the error I got is:
[code]

The issue seems to be we are trying to launch the module but apparently we can only launch application instead of a module.

[2019-03-04 08:04] oliverhu commented on #312
Now I remember how we resolved the problem, we created a dummy app as the host for the tests that don't need a test host.

[2019-03-04 08:14] oliverhu commented on #312
This is my local diff btw:

[code]

[2019-03-04 14:18] loufranco commented on #312
Thanks for looking into this -- I will try this out locally on my real project and report back

[2019-03-04 17:09] oliverhu commented on #312
I also remembered why it worked out even before we set up the dummy app. That was because we didn't use the xctestrun file to extract the information to launch the application & run test - we ask user to specify the location of the app, so we launch it anyway even though an application launch / simulator is not needed.

I am actually leaning towards skipping the test bundles without hosts and thro

[2019-03-08 04:45] oliverhu opened #317 "Fix naming for NSError **"
As discussed in #316 , we want to use errPtr for NSError ** type and error for NSError *

[2019-03-08 21:25] #317 closed

[2019-03-27 16:28] ob opened #322 "Confusing output when there are multiple errors in a test"
I've been playing a bit with this and I think the `ADDITIONAL FAILURE` output is confusing.

When a test fails because of multiple reasons, e.g. a test has the following pattern:

[code]

and everything fails, bluepill will print:

[code]

This is due to the following output from the tests:

[code]

I'm not sure how useful printing those `[ADDITIONAL FAILURE]` messages really is... they seem to im

[2019-03-27 16:47] oliverhu commented on #322
I agree it is confusing.. I think we used to treat the first FAILURE as end of world and stop receiving more failure usage and @vargon fixed the Parser to accept more failures and put that [ADDITIONAL FAILURE] tag for debugging.

I think the best way is to refer to #124 to use delegate instead of manually parsing log and eventually get rid of Parser.

[2019-03-27 16:49] ob commented on #322
I agree #124 is the way to go, but @bayareabear tried it and there were some cases where the parser was still needed (e.g. when the app just hangs, there is no event in the callbacks). As I remember, he couldn’t entirely get rid of it so we decided to avoid putting more complexity in.

[2019-03-27 18:44] oliverhu commented on #322
I think that would simplify the complexity rather than adding more complexity. We could at least change the LOG level to DEBUG for the additional failures.

[2019-03-28 17:22] ob commented on #275
I think this was fixed by #321, please try again (with `master`) and report if it still doesn't work.

[2019-03-28 17:22] #275 closed

[2019-04-09 21:32] jerrymarino opened #323 "EarlGrey failures not retried and missing from stats"
Good afternoon!

I'm using EarlGrey with Bluepill, and noticed that there was a subset of failures that are never retried or reported.

Here's the stats:

[code]

XCTest says:

[code]

Any suggestions @bayareabear or @ob ?

[2019-04-09 21:44] ob commented on #323
Hmm... I suspect the output parser is getting confused from EarlGray's output. Do you have an app where this reproduces?

[2019-04-10 00:52] jerrymarino commented on #323
Thanks @ob - it's totally possible, I'm not super familiar with the expected behavior

One other interesting bit from the log:
[code]
I really don't get what this means in `XCTest` terms: `0` tests with `1` failure.

This `bluepill` invocation was running with `--repeat-count 0` so perhaps thats' expected behavior.

I also didn't see a any entries in the log file which would trigger `-[BPExecution

[2019-04-10 06:07] khandpur commented on #323
that can happen if your +setUp test method throws an exception. For example I see:

[code]

[2019-04-10 20:09] jerrymarino commented on #323
Much appreciated @khandpur! Do you have any suggestions for how to make bluepill rerun tests that hit this? It looks like a lot of the cases I hit this issue are happening due exceptions in `setup`.

[2019-04-10 20:41] ob commented on #323
I think this is a complicated change. AFAICT, Bluepill doesn't have a good place to put failures in test suites (not test cases). I'm not even sure where that failure would fit in the JUnit report, or how the retry mechanism would work... let me think about this and see if I can come up with something 😅

[2019-04-12 16:01] #303 closed

[2019-04-13 22:15] ob commented on #322
Fixed in #324

[2019-04-13 22:15] #322 closed

[2019-04-13 22:16] ob commented on #301
Fixed in #324

[2019-04-13 22:16] #301 closed

[2019-04-13 22:16] ob commented on #238
Fixed in #324

[2019-04-13 22:16] #238 closed

[2019-04-22 16:58] ob commented on #311
Bluepill already supports both the `CommandLineArguments` key and the `EnvironmentVariables` key used in `.xctestrun` files (see [here](https://github.com/linkedin/bluepill/blob/master/Source/Shared/BPXCTestFile.m#L153). That `arguments passed on launch` and `environment variables` that you mention, where are you setting them? Do you know what key they translate to in the `.xctestrun` file?

[2019-04-30 14:28] reececomo opened #328 "Latest Homebrew version is 3.1.1 (Xcode 10.1 support)"
Hey there, would love to get brew install going for our CI, but latest version is 3.1.1 (according to https://formulae.brew.sh/formula/bluepill).

We use Xcode 10.2 builds, any chance of a bump?

[2019-04-30 15:41] reececomo commented on #328
PR up on home-brew to bump to 4.1.0.

https://github.com/Homebrew/homebrew-core/pull/39434

[2019-04-30 15:50] ob commented on #328
@reececomo Thanks a lot for doing this! I want to get #329 in before though because the version that Bluepill from homebrew prints via `bluepill version` will be wrong otherwise.

[2019-05-01 00:58] reececomo commented on #328
No worries - do you want me to close that PR?

[2019-05-01 01:03] ob commented on #328
I would just update it to the 4.1.1 release...

[2019-05-01 03:14] reececomo commented on #328
Yeah done - was just rolling out of bed 👍.

PR updated. Love this project 👏