[2019-05-01 03:14] #328 closed

[2019-05-15 09:20] knsrvl00 opened #331 "App crashes with "ERROR: Interceptors are not working" when addressSanitizer enabled"
Xcode : 10.1
Swift : 4.2.1

Steps:
Create a dummy Single View App
build using :
**xcodebuild -project BluepillCrashTest.xcodeproj -scheme BluepillCrashTest -sdk iphonesimulator -destination 'platform=iOS Simulator,id=<simulator-id>,OS=12.1' build-for-testing -enableAddressSanitizer YES**
run bluepill using :
**bluepill --xctestrun-path <testrun-path> -n 1 -d 'iPhone Xs' -v on**

App crashes with e

[2019-05-16 10:16] reececomo opened #332 "Is it possible to generate test coverage report (-enableCodeCoverage YES)"
I've configured a workflow in our CI ([Bitrise.io](https://bitrise.io)) to use Bluepill to run our UI Tests. However when using Bluepill it seems to not generate any kind of test coverage report.

Currently on our CI we use [Codecov](https://codecov.io) to process reports for all of our PRs.

Is it possible to generate a test coverage report when using Bluepill?

**Xcodebuild script**
`xcodebuild

[2019-05-16 10:18] reececomo commented on #332
I should mention that this is related to:
- https://github.com/linkedin/bluepill/issues/71
- https://github.com/linkedin/bluepill/issues/152
- https://github.com/linkedin/bluepill/pull/95

But I couldn't see a definitive, up-to-date answer

[2019-05-23 01:18] ob commented on #332
Are you getting the `profraw` files?

[2019-05-23 16:40] ob commented on #331
I managed to reproduce this locally in the test suite by enabling the Address Sanitizer for the `BPSampleApp` and running the UI test for `bp`. I think the bug is that we're not honoring the `DYLD_INSERT_LIBRARIES` flag in the `xctestrun` file. I'll poke a bit more and come up with a fix. Thanks for reporting.

[2019-06-03 21:30] reececomo commented on #332
Hmm, I can’t see any *.profraw file in either bp or DerivedData, but Bluepill seems to exit with success

[2019-06-12 04:33] ravimandala opened #336 "Feature proposal: Order test bundles based on estimated execution times"
**Issue:** The execution of test bundles by the simulators is observed to be inefficient more often than not. Towards the end of test execution, one or more simulators may be busy while the rest of them are idle with no more test bundles to execute. This issue is very similar to page fragmentation in memory allocation and multi-processor job scheduling inefficiencies.

**Proposal:** If a statistic

[2019-06-12 17:03] ob commented on #336
I like this idea. We already have the test timings when we generate the `tracing-profile.json` file. How about we add a new flag called `--test-time-estimates=<json_file>` that can take a JSON formatted file with the test estimates. Bluepill would then use these timings for packing the tests and at the end of the test run generate an _updated_ file with the same name that can be fed to the next ru

[2019-06-12 19:21] ravimandala commented on #336
If we go by a simple average, then the additional info we need along with the current average is how many instances produced that average. If it is from `n` instances, then with new execution time the new average would be `(current_average * n + new_execution_time)/(n+1)`.

Alternatively, if we want to go by percentiles (50th or 90th %ile) moving percentile algorithms like [this one](https://mjamb

[2019-06-12 22:03] oliverhu commented on #336
+1 to the idea & proposal from Oscar.

I am not sure what your question is about tho @ob , are you talking about handling the update process in bluepill or in the build process.
I feel it would be like after each run Bluepill will generate a timing file (either reuse tracing-profile.json or a new one) local, the application build process would pick that up and commit to its git (like a cron job th

[2019-06-13 00:16] ob commented on #336
Ah, good point... I was thinking about having Bluepill keep the statistics but it doesn't need to. All it needs to do is use the input timings for packing and generate the _actual_ timings. Then let the CI do with it whatever it wants.

[2019-06-13 21:28] ravimandala opened #337 "Metric proposal: Calculate and track Bluepill simulator idle time"
**Problem:** If the test bundles are handed over to simulators with or without smart packing and/or if there is a lot of pre/post execution overhead then the simulators might be sitting idle and go underutilized. As of today, this idle time is not being tracked.

**Proposal:** Assuming there are **'n'** simulators waiting to get stuff done right from when the Bluepill starts... it can measure and

[2019-06-17 18:02] ob commented on #337
As of now, there should  be no simulator _idle time_. That is, Bluepill will launch a simulator with the specific purpose of running a test bundle, run it, then shut it down, and then delete it. There should be no idle simulators ever. I suspect what you're seeing are simulators in the process of shutting down or booting up. The trace-profile file should already track all the other overhead (and i

[2019-06-17 18:31] ravimandala commented on #337
@ob, You are right. The simulators are not idle. It's the simulator channel/track that is idle some of the time. Let me elaborate.

Right now the `numSims` configuration indicates the maximum number of simulators that can be active at any point of time and it is not actually the number of simulators Bluepill will create. Bluepill treats `numSims` as **the number of simulator channels/tracks** that

[2019-06-17 18:57] ravimandala commented on #337
@ob I edited the problem statement.

[2019-06-18 19:39] ob commented on #337
Ah, that makes sense. You are talking about something like "lost opportunity of parallelizing".

I think this would need the same information as #336... namely the test times in order to organize the ordering of runs more efficiently.

[2019-07-01 08:35] #332 closed

[2019-07-01 08:44] reececomo opened #343 "Bluepill output is missing coverage data (empty .profraw files)"
The `.profraw` files generated by Bluepill appear to be empty when running on our remote CI environment (Bitrise), as opposed to working fine when run on local machines.

On the remote server, every line comes through with 0 hits (and the `.profraw` files are about 48KB as opposed to 2.5MB+ locally).

Any ideas why `.profraw` output would be inconsistent with Bluepill? We're using the exact same t

[2019-07-02 02:21] reececomo commented on #343
Created a new builder from scratch, appears to get _some_ of the coverage data, but the coverage is off by about 40%.

Welp, it's a start. The above scripts work for us -- might be something else going on here.

[2019-07-02 02:21] #343 closed

[2019-07-02 03:39] reececomo opened #344 "Coverage for UI Tests is missing"
The coverage data (profraw files) output by bluepill only includes coverage from the unit tests.

Is it possible to get the UI test coverage using bluepill? All tests run and pass (first time), but coverage is hovering around 38% (instead of 75+%), and from looking at the reporting, `AppDelegate` is only hit once, and none of the UI Test-specific configuration code is touched.

<img width="400" al

[2019-07-02 05:57] reececomo commented on #344
Here's our CI steps for reference `iPhone SE / iOS 12.2`

**1. Build**
[code]

**2. Run tests**
[code]

**3. Merge coverage**
[code]

[2019-07-03 17:23] oliverhu commented on #344
hmm, I'm not super sure how this happened, our UI testing is based on a modified version of KIF & EarlGrey (which are based on XCTest) so we haven't observe the issue.

@ob  any idea?

[2019-07-04 03:53] reececomo commented on #344
It's especially odd because the unit tests **do** produce coverage and all the UI tests evaluate fine. I'd think that the coverage information is being recorded fine, but fails to emit to the files (because it creates a lot of empty `.profraw` files in the UI test runs.

Possibly related to something like this https://stackoverflow.com/a/35598408

[2019-07-08 06:41] reececomo commented on #344
Is anyone else getting an issue? Coverage data just not generating for Bluepill UI tests?

[2019-07-08 16:56] ob commented on #343
Hey @reececomo did you figure out what the problem was?

[2019-07-08 17:00] ob commented on #332
Ah, I see you opened a new issue... I'm catching up.

[2019-07-08 17:01] ob commented on #343
I see you opened a new issue... I'm still catching up...

[2019-07-09 02:14] reececomo commented on #343
I wrote a smaller, leaner build script and cleared the cached builds it was rebuilding from. For some reason it gets unit tests coverage now, but not UI tests. It's extremely odd.

Plus I can reproduce it on every single machine it runs on.

This is our current Bluepill build/test script we are using on our Bitrise CI:
https://github.com/HealthEngineAU/bitrise-step-bluepill-build-test-for-ios/blob

[2019-07-09 02:15] reececomo commented on #343
Does everyone else get complete coverage data? (As in the same LLVM coverage profiling data for both Xcodebuild and Bluepill?)

It looks like LLVM coverage profiling files are generated but they are empty -- there are theories this could be if the simulators (or simulator runners) exit with a non-standard _exit or something.

[2019-07-12 06:11] reececomo commented on #344
Could it potentially be an issue with the UI Test Runner exit that forces the `.profraw` files to fail output?

[2019-07-12 06:18] reececomo commented on #178
Why wouldn't we just round up?
[code]

[2019-07-18 23:14] ravimandala commented on #178
Taking `floor` and adding one is slightly different (re: worse) than rounding up using `ceil`. Take the case of  10 tests and 10 simulators. ceil will distribute one test per simulator, but `floor+1` technique will distribute 2 tests for first 5 simulators and none for the remaining 5 simulators. BTW, @nickmshelley's solution makes more sense.

[2019-08-19 17:59] ob commented on #344
Can you try changing [this line](https://github.com/linkedin/bluepill/blob/master/bp/src/BPTestBundleConnection.m#L258) and sending `SIGTERM` instead of `SIGKILL` there? I think the problem is that we're killing the app with prejudice and not giving it time to write the coverage.

[2019-08-20 03:19] reececomo commented on #344
@ob Thanks - tried with the following signals and had no such luck:
[code]

According to [this Stack Overflow answer above (#35598408)](https://stackoverflow.com/a/35598408), the author mentions the `_exit` command prevents LLVM from outputting coverage, and it only worked when the program terminated with `exit` instead.

To the best of my knowledge, all of the `kill( <process> , <signal> )` and `

[2019-08-20 15:40] ob commented on #344
Let's try something else... in addition to making that `SIGKILL` a `SIGTERM`, can you also try changing
[this line](https://github.com/linkedin/bluepill/blob/e8c8099c0297bfd45a013ab3481ec72dda1ab615/bp/src/BPSimulator.m#L496) to this?

[code]
Essentially just add `libMainThreadChecker.dylib` to the list.

[2019-08-22 00:05] ravimandala opened #351 "Best way to generate estimated test execution times in Bluepill"
We are working on issue https://github.com/linkedin/bluepill/issues/336 which orders the test bundles by estimated test execution times provided as an input (re: json file) to Bluepill. Please refer to the implementation in this PR https://github.com/linkedin/bluepill/pull/342.

The current implementation expects this file to be provided as an input, but it would be an order of magnitude better if

[2019-08-22 00:28] ravimandala opened #352 "Bluepill's list of tests is not the same as the list of tests that get executed"
We recently found that the list of tests that Bluepill comes up with based on xctest files is not accurate. Bluepill uses `nm` utility to read symbols from binary from `xyz.xctest` and picks everything which has a ` test` prefix like this...
https://github.com/linkedin/bluepill/blob/42a4b8c9b8d07f58d55872aa45360730a858a768/bp/src/BPXCTestFile.m#L17-L18)

Turns out there is a possibility of a lot o

[2019-08-22 04:10] reececomo commented on #344
What is the intended effect of adding `libMainThreadChecker.dylib`?

Tried that and the Apps crash before first test run
[code]

[2019-08-22 07:42] damirstuhec opened #353 "Xcode 10.3 support"
Can you please add support for Xcode 10.3? 🙏

[2019-08-22 16:30] ob commented on #336
Fixed in #342

[2019-08-22 16:30] #336 closed

[2019-08-22 19:23] #353 closed

[2019-08-22 19:28] ob commented on #353
Released as [v4.2.0](https://github.com/linkedin/bluepill/releases/tag/v4.2.0)

[2019-08-22 19:35] damirstuhec commented on #353
Awesome, thanks!

[2019-08-22 23:20] ravimandala commented on #336
It's a good idea that Bluepill should generate the output file that it can use for estimates in the next run. I opened this issue https://github.com/linkedin/bluepill/issues/351 to discuss different ways to do that and come up with the best option.

[2019-08-23 10:10] damirstuhec commented on #353
@ob I manually downloaded the `4.2.0` binary but am getting `Only 10.2 is supported` error when running it.

[code]

Any ideas what is causing this?

[2019-08-23 10:19] damirstuhec commented on #353
Looks like #354 was not actually incuded in the https://github.com/linkedin/bluepill/releases/tag/v4.2.0 release.

[2019-08-23 15:47] ob commented on #353
Wow, good catch... it seems I cut the release leaving it out... we _really_ need to automate the release process... I've re-uploaded the release with the correct binaries. Thanks for reporting!

[2019-08-23 16:36] ob commented on #344
So my understanding is that the gathered coverage data is written to the file on exit by trapping `SIGTERM` and writing to the `LLVM_FILE_PATH` environment variable. I double-checked we _are_ passing that variable, and SIGKILL definitively won't write the data.

Unless something in your app explicitly called `_exit` or trapped `SIGTERM` I'm not sure why the data wouldn't be written. The `libMainTh

[2019-08-23 21:02] ob commented on #352
Thanks for picking this up! Looking forward to the PR :-)

[2019-08-23 21:04] ob commented on #351
I'm leaning towards Option #1 and leaving the computation to a script outside of CI... it seems it'd be more flexible.

[2019-08-26 00:41] reececomo commented on #344
Yeah fair enough. My current understanding is that `kill(processID, < SIGNAL >)` will always ask the OS to call `_exit` on the process (under the hood).

If I had to guess, I'd say we need a way to ask the simulator to kill itself, rather than killing the process directly at the OS level (even though SIGTERM gives the program time to do close-up).

How are the Unit Test runs killing themselves?

[2019-09-03 21:46] chenxiao0228 opened #358 "As a Bazel user I want a test suite Bazel rule to package multiple test target and run them in parallel"
Today we have bptestrunner to split a test target and run it in multiple simulators in parallel.

But when we have multiple test target the cost to spawn simulators and install app hosts is high. We would like to have a Bazel rule that's basically an equivalent of an xcscheme that bundles multiple test bundles into multiple test hosts. Combining that with the clone simulator feature we can save a

[2019-09-26 00:29] yashwanth-l opened #363 "Ability to Choose Xcode Simulators"
Seeing the options we see bluepill command-line supports `--runtime` and `--device` options, but launches its own version of the simulator. How do we have the ability to run them using the Xcode's Simulators to avoid the Self certificate Signing issues Or do we have the ability to import them to the bluepill's version of the simulator?

[2019-09-26 15:58] ob commented on #363
Hmm, bluepill is designed to create its own simulators. There is a feature in which it can clone a simulator for the runs but it is still created from scratch at the beginning of the run.

For installing certs, bp has an `--script-file` [option](https://github.com/linkedin/bluepill/blob/a6ada589e2fe324eefa241fc49af300bfae5121a/bp/src/BPConfiguration.m#L141) that we should document... you can see t

[2019-09-26 16:41] yashwanth-l commented on #363
@ob There is a gem that can be used to install certs on a simulator, so can we use the below gem?

https://rubygems.org/gems/iostrust/versions/1.0.0

`iostrust add <file>`

[2019-09-26 17:07] ob commented on #363
I don't see why not, if you can use it from the command line you can wrap it in a bash script and pass it to bluepill with the `--script-file` option.

[2019-09-27 17:48] ravimandala opened #364 "Need Bluepill version with Xcode 11.0 support"
@ob Bluepill users might want a version of Bluepill that supports Xcode 11.0 w/ iOS 13.0

[2019-09-27 17:48] ravimandala commented on #364
I believe the [current master](https://github.com/linkedin/bluepill/tree/7ddd815214c0cc4ff1f1637ef8738d7b4408a9f2) has the support. I can double-check and confirm.

[2019-09-27 17:49] ravimandala opened #365 "Need Bluepill version with Xcode 11.1 support"
@ob Bluepill users might want a version of Bluepill that supports Xcode 11.0 w/ iOS 13.0

[2019-09-27 22:20] ravimandala commented on #365
I am working on this.

[2019-09-30 20:02] ravimandala commented on #364
https://github.com/linkedin/bluepill/releases/tag/v5.0.0
Thanks @ob

[2019-09-30 20:02] #364 closed

[2019-10-02 19:49] ravimandala commented on #352
The long-term fix for this is to bring up the simulator and do some code injection magic to get an accurate list of tests. But before that, I implemented a temporary workaround that would factor in test class inheritance and corresponding inherited test cases into account. The PR https://github.com/linkedin/bluepill/pull/368 introduces test time estimate based splitting and incorporates this worka

[2019-10-03 14:41] #363 closed

[2019-10-09 18:57] ravimandala commented on #365
@ob Please review https://github.com/linkedin/bluepill/pull/370 for adding Xcode 11.1 support. Please do the needful from the Azure pipeline standpoint. Thanks.

[2019-10-09 23:38] ravimandala opened #371 "Need to error out if both xctestrun-path and {test-bundle-path, app} params are passed"
Bluepill needs either {`xctestrun-path`} param or {`test-bundle-path`, `path`} params. We need to error out if both/all are provided to avoid any confusion.

[2019-10-10 21:32] ravimandala commented on #365
PR #370 was merged.
@ob Can you please cut a release with the Xcode 11.1 support?

[2019-10-17 21:44] jstewart5000 opened #375 "Ability to produce code coverage data via xcresult file type"
#### Description:
• In the XCode 11 release notes (https://developer.apple.com/documentation/xcode_release_notes/xcode_11_release_notes), there is a new result bundle format introduced (`xcresult`) which contains information about the build, tests, code coverage, and more.

• A result bundle can typically be produced by passing `-resultBundlePath [PATH]` to an `xcodebuild` invocation

• Would be g

[2019-10-25 16:00] moatazeldebsy opened #377 "Cannot open the app or run the tests using Bluepill"
@bdittmer We are using the latest version of `bluepill 5.1.0` and after we build our app and tests we configure bluepill with `.xctestrun` we noticed that we can't open the app or run the tests just open the splash screen and just it, any help in this case or shall we pass or modify something in our app

Environment Info:
[code]

[2019-10-29 16:18] ob commented on #377
Can you share some logs? Maybe try running bluepill with the `-v` option to enable verbose logging.

[2019-10-29 16:20] ob commented on #365
Release 5.1.0 has Xcode 11.1 support

[2019-10-29 16:20] #365 closed

[2019-10-31 21:11] DougLam opened #381 "`invalid configuration` when TestHost isn't set"
Bluepill throws the following error when the test host for a framework isn't set.

[code]

The `xctestrun` file would have the following entries:
[code]

To rectify it, you must modify the test host in your project:
![image](https://user-images.githubusercontent.com/1512969/67986373-213ad900-fbe8-11e9-9391-0c8fdcf0c11a.png)

This bug report is to have better messaging when the test host isn't set.

[2019-11-05 00:19] ravimandala commented on #352
Open https://github.com/linkedin/bluepill/pull/376 off `v4.1.1+packing` branch for this. I will create another PR off the `master` and then change https://github.com/linkedin/bluepill/pull/376 to back-port the changes to `v4.1.1+packing` if that is still needed.

[2019-11-05 00:26] ravimandala opened #384 "The `--simulator-preferences-file` flag is not honored when clone sims are used"
The `--simulator-preferences-file` flag is not honored and the preferences file is not passed on when clone sims feature is used.
Thanks to @rahul-malik from Pinterest for reporting this on our Slack channel.

\cc @ob

[2019-11-05 22:23] Logicoeur opened #385 "Screen Recording"

[2019-11-06 22:26] ravimandala opened #386 "Extend Azure CI/CD automation to PRs off non-master branches"
Often we might have to do some fixes or features in Bluepill version that supports an earlier Xcode version (Eg. [Xcode 10.2](https://github.com/linkedin/bluepill/tree/xcode-10.2)) or for that matter any branch other than the `master`. So, the Azure CI/CD automation should be extended to PRs that are not based on the `master` branch (Eg. https://github.com/linkedin/bluepill/pull/376).
\cc @ob @jmk

[2019-11-06 22:29] ravimandala commented on #386
I am working on this. One limitation I found in the `.yml` the configuration is, the branch name should be alpha-numeric in order to trigger the Azure pipeline, which is not case for most of [the branches of this repo](https://github.com/linkedin/bluepill/branches). Checking if we can workaround for this or if limiting to a different branch naming convention is the only way.

[2019-11-06 22:32] ravimandala commented on #377
@moatazeldebsy Can you please provide us some more info on this?
We would like to sort out all `Xcode 11.1` issues with `Bluepill 5.1.0`.

[2019-11-13 14:33] pattogato opened #391 "Support Xcode 11.2"
Is this gonna be available any time soon?

[2019-11-13 19:05] ob commented on #391
We are having trouble with CI (jobs not starting), once those are resolved we'll cut an 11.2 release. In the meantime I tested #392 locally and it works.

[2019-11-14 14:45] pattogato commented on #391
Alright, cool 👍

[2019-11-14 18:39] #377 closed

[2019-11-15 21:28] #391 closed

[2019-11-15 23:47] yashwanth-l opened #393 "Trust the Custom Certs"
This is a continuation of [https://github.com/linkedin/bluepill/issues/363] where we would be able to install the Certs using [https://github.com/yageek/iostrust/]

Any insights what `xcode` OR `simctl` commands?

[2019-11-18 20:07] ravimandala opened #394 "Create sim templates in parallel when clone simulator feature is enabled"
Whether the simulator cloning is an optional feature or default behavior, the creating of sim templates should be done **in parallel**. It is very important to cut down on this time since the time spent in creating sim templates is the time that is not spent spawning the simulators and running the tests.
\cc @ob

[2019-11-18 20:23] ob commented on #394
How many sim templates are there typically?

[2019-11-18 21:04] yashwanth-l commented on #393
Basically how to we turn the plug on for the Certs as Trusted in `Settings --> About --> Certificate Trust Settings`

[2019-11-18 21:16] ob commented on #393
You could run `iotrust` from a shell script and pass it on to bluepill via the `--script-file` flag/config option.

[2019-11-18 21:17] ob commented on #393
Ah, I missed you're already installing them, now you want to trust them? Hmm... I'm don't know how to do that...

[2019-11-19 17:08] ob commented on #393
I've been asking around and there seems to be no way of doing that via any `xcrun simctl` command. Your best option is to file a ticket with Apple using Feedback Assistant and ask for the feature. I also got pointed at https://github.com/ADVTOOLS/ADVTrustStore but I've never used it so I don't know if it offers more functionality than iotrust or if it also has the same problem.

[2019-12-03 22:34] chenxiao0228 opened #404 "Collect crashlogs from machine if simulator crashed"
For easier debugging, console output does not include that information

[2019-12-05 10:29] heena1996 commented on #331
Any update on this? This error is causing problem in my application too. It would be great if you can fix it as early as possible.

[2019-12-11 02:40] reececomo opened #408 "Xcode 11.2.1 support (iOS 13.2.2)"
Xcode 11.2.1 comes with iOS 13.2.2

Which the current release of Bluepill doesn't appear to support (only up to 13.2).

Couldn't see anything in the recent releases.

[2019-12-11 19:59] ravimandala commented on #394
It's usually one for each type of app using across all the input test bundles. For example, scenario tests might use one version of the app and app-hosted unit tests might use a different app.

Also, the template name needs to be different for different apps to completely support this.

[2020-02-14 15:42] Ashraf-Ali-aa commented on #352
Hi is there any update regarding this issue, I am also having this issue, a better way to get test cases is using something like this https://github.com/dropbox/hypershard-ios

[2020-02-18 20:42] ravimandala commented on #408
Started supporting since 5.1.1 release. The latest is [v5.1.8](https://github.com/linkedin/bluepill/releases/tag/v5.1.8).

[2020-02-18 20:42] #408 closed

[2020-02-18 20:44] ravimandala commented on #384
Fixed in https://github.com/linkedin/bluepill/pull/413

[2020-02-18 20:44] #384 closed

[2020-02-20 04:47] reececomo commented on #408
Thank

[2020-02-20 17:36] chenxiao0228 opened #417 "BP changes exit code the last second."
{77485} 20200220.171610 [  INFO  ] (BP-2) No more tests to run.
{77485} 20200220.171610 [  INFO  ] (BP-2) /Users/runner/runners/2.162.0/work/bluepill/bluepill/bp/src/Bluepill.m:604 finalExitStatus = BPExitStatusTestsAllPassed
{77485} 20200220.171610 [  INFO  ] (BP-2) Number of Executions: 2
{77485} 20200220.171610 [  INFO  ] (BP-2) Final Exit Status: BPExitStatusAppCrashed
{77485} 20200220.171610

[2020-02-20 22:20] ravimandala commented on #417
BP-2, in this case, had two runs. The second run is an extraneous one where no tests were run and it exited with `BPExitStatusTestsAllPassed ` i.e., exit code 0. The first run might have had an app crash and the test passed on retry. Can you please check?

[2020-02-21 10:12] jibeex opened #418 "Not supporting X-Code 11.3"
Can we make it available for X-Code 11+ instead of just one specific X-Code version?

[2020-03-12 14:25] moatazeldebsy commented on #418
Any updates about this

[2020-03-13 21:39] mukhasir commented on #418
Do we have any working branch to support Xcode 11.3.1?
Is there any plan for new release?

[2020-03-13 22:41] mukhasir opened #420 "Support needed for Xcode 11.3+ versions"
Is there any time on new release which can support Xcode 11.3.1 version.

[2020-03-16 21:12] Husseinovich opened #421 "Several Questions Related to Bluepill"
I have a few questions:

1. I have the options  - "screenshots-directory": "./screen/". However the screen's folder are empty despite some of the tests failing. Is there anything else that i need to do?
2. What is the latest most updated fastlane plugin for Bluepill that you guys are using?

Below is my config file:

[code]

[2020-03-16 21:16] Husseinovich commented on #421
I have a few questions:

1. I have the options  - "screenshots-directory": "./screen/". However the screen's folder are empty despite some of the tests failing. Is there anything else that i need to do?
2. What is the latest most updated fastlane plugin for Bluepill that you guys are using?

Below is my config file:

[code]

[2020-03-17 08:29] reececomo commented on #344
Switched to Xcode 11 parallel test plans instead of Bluepill, suits our coverage needs 👍

[2020-03-17 08:29] #344 closed

[2020-03-18 20:25] ravimandala opened #422 "[Bug] Bluepill fails to upload test video to simulators"
Bluepill fails for some reason to upload the video configured in `video-paths` configuration.

[code]
Need to investigate and fix this. \cc @ob @chenxiao0228

[2020-03-18 20:35] ravimandala opened #423 "Proposal: Do not retry the test on app crash"
When the app crashes during a test, Bluepill fails the execution by returning a failure exit code `BPExitStatusAppCrashed = 7`, even if the test passes on retry. But if a test times out and passes on retry (and no other app crash related failures), Bluepill deems it to be okay by returning an exit status of `BPExitStatusTestsAllPassed = 0`.

In summary, App times out and passes on retry ==> Bluepi

[2020-03-18 21:31] #358 closed

[2020-03-18 21:37] ob commented on #421
For the screenshots not being created, can you paste the log from bluepill? You might have to run it in _verbose_ mode to get more information. Your output dir looks a little weird... do you have permission to write in `/Users/Testresults`?

We don't use fastlane, but I'm pretty sure there is a plugin for bluepill created by the community.

[2020-03-18 23:28] ravimandala opened #424 "Ability to run same test multiple times"
Bluepill should support a use case to run a particular test like 100 times. Even better, if Bluepill can support running a given set of tests any given number of times, then it would help in debugging flaky tests.

Can this be done by using `include` and `repeat-count` parameters in conjunction? 🤔

[2020-03-19 00:18] ravimandala commented on #424
It's worth testing if that flow still works. Wondering if anyone of the Bluepill users is using this regularly!!!???

[2020-03-19 01:01] Husseinovich commented on #421
Hi ob,

Thanks for the follow up.

Here is the updated config.json
`{
   "xctestrun-path": "bluepill/Build/Products/collate_errors_iphonesimulator13.2-x86_64.xctestrun",
   "device": "iPhone 11 Pro",
   "num-sims": 2,
   "reuse-simulator": true,
   "failure-tolerance": 1,
   "only-retry-failed": true,
   "output-dir": "test_results/",
   "screenshots-directory": "screen/"
}`
The screen folder is c

[2020-03-19 01:04] Husseinovich commented on #421
@ob Thanks for the follow up.
Here is the updated config.json
[code]
The screen folder is created. test_results folder is within the project folder and is successfully created with the html report and other artifacts.
Attached verbose logs

[2020-03-19 19:34] ravimandala commented on #352
Thanks for the pointer @Ashraf-Ali-aa. I looked into it and it looks like it works only on Swift test suites and if all test class files are named in a certain pattern. Not sure if we can use it given the limited use cases it serves.
I have a solution which is working except for a minor issue in UI tests. I am trying to find some time to complete it.

[2020-03-19 19:43] Ashraf-Ali-aa commented on #352
cool, you can use Idb which I believe it does support objective C and swift https://github.com/facebook/idb

[2020-03-24 18:57] chenxiao0228 commented on #420
V 5.2.0 has the support.
We will start to look at 11.4 too.

[2020-03-24 18:57] #420 closed

[2020-03-24 18:57] chenxiao0228 commented on #418
V 5.2.0 has the support.

[2020-03-24 18:57] #418 closed

[2020-03-24 21:22] Husseinovich commented on #421
@ob Did you get a chance to look at it? Thanks

[2020-03-24 21:45] ob commented on #421
Sorry, I got distracted ;-)

So from your logs:
[code]
I assume there are no screenshots in that directory?

[2020-03-24 21:49] Husseinovich commented on #421
@ob Correct there are no screenshots in the directory but the directory itself is created successfully.

[2020-03-24 21:53] ob commented on #421
Ok, can you try something? Can you try changing this line:

https://github.com/linkedin/bluepill/blob/42a4b8c9b8d07f58d55872aa45360730a858a768/bp/src/SimulatorMonitor.m#L250

from a `SIGKILL` to a `SIGTERM` and see if that fixes it?

[2020-03-24 21:57] RainNapper commented on #424
I'm currently working on parallel retries to deflake tests.

The plan is:
1. Run all tests once, with no retries
2. Run all failures 2x
Flaky tests are all tests with at least 1 pass.

I originally had hoped there was some minimal configuration on a single run like `bp --failure-tolerance=2 --run-retries-in-parallel`

I did not see an existing flag that looked like `--run-retries-in-parallel`. So

[2020-03-24 21:58] Husseinovich commented on #421
@ob Can I installed via homebrew, do you want me to install the binaries to be able to make this change?

[2020-03-24 22:01] ob commented on #421
Ah, sorry yeah... you'd have to build from source to try it.

[2020-03-24 23:26] Husseinovich commented on #421
@ob I made the change and build from sources and still screenshots folder is empty.

[2020-03-25 14:28] moatazeldebsy opened #428 "When running a specific scheme , Bluepill takes all the tests that including and excluding in this scheme"
When running a specific scheme, Bluepill takes all the tests that including and excluding this scheme.

Version: `Bluepill-v5.2.0`
Xcode version: `11.3`

I'm building the app for test using the following command:

[code]
and inside this scheme we have **30 tests**

and after that use the xctestrun file in the following bluepill command:

`./bluepill --xctestrun-path DemoUISmokeTests_iphonesimulato

[2020-04-03 22:07] ravimandala commented on #424
The parallel execution of repeats is certainly possible, just that it might not be the way it is done now. Especially if a test or a set of tests has to be run `n` number of times, then running in series is not a good option. Thanks for pointing that out.

[2020-04-04 13:54] moatazeldebsy commented on #428
Any updates about this issue

[2020-04-06 22:27] Husseinovich commented on #421
@ob Do you know if there is a way to specify more than one type of device, for example"

`devices: ["iPhone 11", "iPad Pro"]`

If not, then what is the best way to execute same tests for both iPhone and Tablet without having to them sequentially?

[2020-04-07 20:07] RainNapper commented on #424
I was able to add parallel execution of repeats with a fairly small change. I will make a PR.

That said, parallel retries seems a bit more complicated. A task is not retried by adding a new bundle to the queue, but rather a task restarting itself. This means that it will be more complicated to have a task restart itself multiple times. To support this, I think it would be a good idea to first hav

[2020-04-09 22:07] Husseinovich commented on #421
@ob Sorry, just wanted to check if you got a chance to respond :)

[2020-04-09 22:16] ob commented on #421
Sorry, I've been swamped with something else ;-)

Bluepill doesn't currently support multiple devices. Can you file an issue asking for this feature?

[2020-04-09 22:21] Husseinovich opened #433 "Support for Parallel Execution for multiple devices"
Is there a way in Bluepill to specify more than one type of device, for example"

devices: ["iPhone 11", "iPad Pro"]

If not, then what is the best way to execute same tests for both iPhone and Tablet in parallel without having to run them sequentially?

[2020-04-10 23:59] Husseinovich opened #434 "CI build failures due to Bluepill with error No such file or directory"

[2020-04-11 00:00] #433 closed

[2020-04-13 21:52] #434 closed

[2020-04-17 18:49] ryanzor commented on #122
I want to potentially reopen this.  Bluepill has been great for us, but no video recording is the big thing holding us back with bluepill.

I wanted to see if video support is possible and a better sense of what it would take.  Thanks!

[2020-04-17 19:23] bootstraponline commented on #122
this would also be awesome for Robinhood! :)

[2020-04-17 21:58] RainNapper opened #437 "trace-profile.json is not a valid json"
The trace-profile.json uses "nan" in some entries. I do not know exactly under what circumstances "nan" is used, but when this file is loaded by chrome://tracing, it will throw an error for an invalid character.
Error:
[code]

[2020-05-08 19:40] tinder-kaijing opened #440 "any plan to support 11.14.x?"
We like the feature to retry failed tests. we will switch build stack to 11.14.x soon on Bitrise. Do you have a plan to support 11.14.1?

[2020-05-10 03:46] Imrandanish951 opened #442 "idanishshaikh@gmail.com"

[2020-05-12 16:57] ravimandala commented on #442
I guess this issue got created by mistake. Closing it.

[2020-05-12 16:57] #442 closed

[2020-05-12 19:17] ravimandala commented on #440
@tinder-kaijing I assume you want to start using Bluepill at Bitrise and checking when it is going to support **Xcode 11.4.x**. If yes, welcome to Bluepill.
Regarding Xcode 11.4.x support, we will get to officially supporting it soon. But there is a chance that the latest version might work out of the box. You just need to try using v5.2.2 or above with the new `unsafe-skip-xcode-version-check` fl

[2020-05-13 02:06] Imrandanish951 commented on #442
https://www.reddit.com/r/iPhone11Pro/comments/gi4t6j/the_sky_on_the_video_is_flickering_does_my_iphone/?utm_medium=android_app&utm_source=share

[2020-05-14 06:10] valeraz commented on #423
This would work well for us 👍

[2020-05-14 16:01] ob commented on #423
@ravimandala this is already fixed in master right? Would it be worth adding something in the docs that mention that not retrying on app crashes is by design and not an omission?

[2020-05-14 17:49] ravimandala commented on #423
@ob This is not fixed in `master` yet. I will implement it and update the documentation.

[2020-05-29 23:39] ravimandala opened #445 "Xcode 11.5 support"
It would be great if Bluepill supports the recently released Xcode 11.5, sooner rather than later.

[2020-06-05 02:47] ravimandala commented on #440
@rap-morgan/@tinder-kaijing, I am working on testing and officially supporting Xcode 11.4.x and 11.5.x versions, so I am curious to know if you tested Bluepill with any of these versions at scale. Please let me know.

[2020-06-17 14:37] Mehdzor opened #450 "Crash on Xcode 11.5"
When running tests on Xcode 11.5 it crashes with the following exception. It was working fine on Xcode 11.4.

[code]

[2020-06-17 15:54] Mehdzor commented on #450
It looks like the TestPlan format has changed. It is expecting dictionary where the parser returns an array.

[2020-06-17 16:14] Mehdzor commented on #450
Please, find the xctest run file attached.

[iphonesimulator13.5-x86_64.xctestrun.zip](https://github.com/linkedin/bluepill/files/4793857/iphonesimulator13.5-x86_64.xctestrun.zip)

[2020-07-05 17:33] chenrui333 opened #451 "bluepill 5.4.1 does not build in homebrew CI environment"
relates to Homebrew/homebrew-core#57389

I have trouble of making the bluepill working with homebrew CI, even though it does work in my local.

[2020-07-07 13:28] ravimandala commented on #451
@chenrui333 Can you please check if you are having similar issue with v5.4.0? Thanks.

[2020-07-28 16:32] ravimandala commented on #445
Bluepill versions v5.4.0 and above support Xcode 11.5

[2020-07-28 16:32] #445 closed

[2020-07-28 16:38] ravimandala commented on #440
Bluepill version `v5.3.0` supports `Xcode 11.4.x` and Bluepill version `v5.4.x` supports `Xcode 11.5.x`.

[2020-07-28 16:38] #440 closed

[2020-07-28 16:39] ravimandala opened #452 "Xcode 11.6 support"
Update and test Bluepill to officially support Xcode 11.6 which is now available in GM.

[2020-07-28 16:41] ravimandala opened #453 "Xcode 12.0"
`Xcode 12.0 (Beta 3)` is available as of today. Add support and test a Bluepill version to officially support `Xcode 12.0`.

[2020-07-28 16:46] ravimandala commented on #450
@Mehdzor Please answer the below questions as best as you can. That will help us investigate this further.
1. May I know which version of Bluepill were you using?
2. Were you able to fix/mitigate the issue?
3. Did you try the latest version (v5.4.0 or v5.4.1) that supports Xcode 11.5?
Please let us know. Thanks.

[2020-07-28 17:29] ravimandala commented on #423
Implemented and included in v5.4.1 (and above).

[2020-07-28 17:29] #423 closed

[2020-07-28 21:36] ravimandala commented on #437
Thanks for the temporary fix. I guess some missing entries are breaking the trace profile json. Bluepill should be outputting `0` or something appropriate. I will take a look.

[2020-08-06 22:43] ravimandala opened #455 "Make app crash tests being fatal, as opt-out behind a flag"
Bluepill, as of today, treats app crash tests as fatal. So, when a test crashes the app then it is treated as fatal by returning a final non-zero exit code even if the test passes on retry.

**Proposals:**
1. Make the non-zero exit code on app crashes as an opt-out feature behind a flag. (Eg. `make-app-crashes-fatal` defaults to `YES`)
2. Put retry of an app crash test optional behind an opt-in fl

[2020-08-11 19:08] ravimandala commented on #455
Alternatively, to avoid having too many flags, avoid having flags with different defaults (`YES`/`NO`) and keep things simple... we can use `retry-app-crash-tests` or `retryAppCrashTests` to **consider app crash tests as non-fatal if they pass on retry**.

[2020-08-12 18:37] ravimandala opened #457 "Consolidate and simplify Bluepill config flags"
Bluepill flags have grown in number and complexity over time. It is time to simplify the logic, deprecate some, merge behaviors. Here are a few proposals.

**Some proposals:**
1. Flags that have grown complicated over time especially those that got deviated from its original meaning (Eg. `only-retry-failed` used for other purposes too)
2. Flags whose defaults are good enough and are rarely overrid

[2020-08-12 19:02] ob commented on #457
I think what makes it hard to reason about the flags is that they are non-orthogonal (that is you can't reason about them independently of the other flags). How about focusing on the tests themselves and the possible results?

We have individual tests that might end up in one of four states: success, failure, crash, and timeout. Are there others?

And on each run, we want to be able to specify how

[2020-08-18 15:25] AhmedEid commented on #455
This would definitely help us. We have an issue where a test crashes, but we cannot re-run it and get a 🟢 build if it passes on a rerun.

[2020-09-08 01:38] ravimandala commented on #453
Beta 6 is out. There might be issues with UI testing. Need to sort them out and add Xcode 12/iOS 14 support before GM.

[2020-09-16 19:01] ravimandala commented on #453
Xcode 12.0 GM Seed 1 is out.

[2020-10-01 07:32] ravimandala commented on #453
Bluepill v5.5.0 supports Xcode 12 + iOS 14.

[2020-10-01 07:32] #453 closed

[2020-10-01 07:38] ravimandala commented on #455
Since [Bluepill v5.4.2](https://github.com/linkedin/bluepill/releases/tag/v5.4.2), the app crash tests are not retried by default and the execution fails if one or more app crash tests are present. But if `retry-app-crash-tests` flag is set to `true`, then the app crash tests are retried and the execution passes only if all those tests pass on retry.
\cc @AhmedEid

[2020-10-01 07:38] #455 closed

[2020-10-01 07:44] ravimandala commented on #450
@Mehdzor, I'm closing this issue assuming you were able to resolve it. [This thread](https://ios-dev-at-scale.slack.com/archives/C6G6DQX60/p1539282427000100?thread_ts=1537810996.000100&cid=C6G6DQX60) in ios-dev-at-scale Slack workspace might be relevant. Please re-open this issue if you need more help. Thanks.

[2020-10-01 07:44] #450 closed

[2020-10-01 07:49] ravimandala commented on #452
Closing this issue for the below reasons.

1. There is not much ask for this from Bluepill community.
2. We are at Xcode 12 GM and Xcode 12.2 beta#2 right now.
3. Bluepill v5.4.x might work fine with **Xcode 11.6**  by setting `unsafe-skip-xcode-version-check` flag to `true`.

Please re-open this issue if you want explicit support for Xcode 11.6. Thanks.

[2020-10-02 00:56] #452 closed

[2020-10-02 00:57] ravimandala opened #459 "Xcode 12.2 support"
Officially support Xcode 12.2 whose beta#2 is available right now. \cc @RainNapper @ob

[2020-10-10 19:58] chenrui333 opened #462 "bluepill 5.5.1 test failed on macOS 10.15"
👋  it looks like I failed to bump the bluepill to the latest version 5.5.1, and the test failed on macOS 10.15.

[code]

relates to https://github.com/Homebrew/homebrew-core/pull/61766

[2020-11-02 17:48] mcstoufer commented on #459
+1 on this. Under Catalina/Xcode 12/iOS 14, bluepill won't even come up.
[code]
yields...
[code]
Somewhere we changed test info from an array to a dict. Worth investigating.

[2020-11-20 23:28] ravimandala commented on #459
Looking into this.

[2020-11-26 05:19] ob commented on #459
@mcstoufer can you share the `XXX_AppSharedDefault_iphonesimulator14.1-x86_64.xctestrun` file?

[2020-11-29 16:27] amiit opened #465 "getting error "bluepill: invalid option -- s" in bluepill 5.5.3"
[!] Exit status of command 'bluepill -a bluepill/Build/Products/Debug-iphonesimulator/BluepillarTesting.app -s BluepillarTesting.xcodeproj/xcshareddata/xcschemes/BluepillarTesting.xcscheme -o bluepill_output/ -r "iOS 14.0" -n 3 -d iPhone\ 8 -u bluepill/Build/Products/Debug-iphonesimulator/BluepillarTestingUITests-Runner.app' was 1 instead of 0. (FastlaneCore::Interface::FastlaneShellError)
bluepil

[2020-12-03 19:51] yashwanth-l commented on #393
Is there any other alternate?

[2020-12-09 23:17] carlocab commented on #459
FYI, I think the lack of Xcode 12.2 support is keeping Bluepill 5.4.2 from being upgraded on Homebrew: https://github.com/Homebrew/homebrew-core/pull/66592

[2020-12-10 20:07] saim80 opened #466 "Distinguishing flaky and failed test results are difficult"
First of all, thanks for this awesome software. This relieved a lot of pain points we had.

This is a feature request.

Currently, we set up to retry 2 additional times to mitigate UI Test flakiness. When the test report is presented via JUnit XML file at our Jenkins TestResult page. We see all failed tests are listed upfront. We cannot distinguish which are the flaky tests, which eventually recov

[2020-12-11 17:32] saim80 commented on #466
I found that Bluepill is already outputing such report via .js and .html files. And, it seems Jenkins JUnit report cannot show flakiness.

[2020-12-11 17:32] #466 closed

[2020-12-19 21:50] chenxiao0228 commented on #465
@amiit is there a sample project that can reproduce this issue we can look at?

[2020-12-19 21:52] chenxiao0228 commented on #462
@chenrui333  I see the homebrew-core issue was closed.
Is this still a problem?
If so can you share the step to reproduce this issue please?

[2020-12-19 21:56] chenxiao0228 commented on #459
@carlocab  the homebrew-core issue seems different from this one.

@mcstoufer  it seems Bluepill wants a dictionary from the xctestrun file for a field but instead it got a NSArray. Like @ob mentioned would you be able to share the xctestrun file so we can find the root cause?

[2020-12-19 21:58] chenxiao0228 commented on #451
@chenrui333  thanks for keeping Bluepill up to date in Homebrew. I see the original ticket was closed.

Is this still a problem?

[2020-12-19 22:00] chenxiao0228 commented on #437
@RainNapper  nan means NotANumber.

This looks like a bad exception handling. Will look into it. Thanks for reporting!

[2020-12-19 22:02] chenxiao0228 commented on #428
@moatazeldebsy  Thanks for reporting this issue.

Any chance you could create a sample project that we can use to reproduce this issue and also include in our integration tests?

[2020-12-19 22:06] chenxiao0228 commented on #421
@Husseinovich thanks reporting this issue.

Can you please open an feature request?

[2020-12-19 22:06] #421 closed

[2020-12-19 22:09] chenxiao0228 commented on #352
@ravimandala  is this still an issue?

[2020-12-19 22:10] chenxiao0228 commented on #422
@ravimandala  any updates?

[2020-12-19 22:10] #417 closed

[2020-12-19 22:10] chenxiao0228 commented on #371
@ravimandala  any updates?

[2020-12-19 22:10] chenxiao0228 commented on #394
@ravimandala  any updates?

[2020-12-19 22:12] chenxiao0228 commented on #386
@ravimandala  any updates?

[2020-12-19 22:15] chenxiao0228 commented on #351
@ravimandala  are you working on this?

[2020-12-19 22:21] chenxiao0228 commented on #178
@nickmshelley  I am closing this issue since it seems to have a workaround. Feel free to reopen if you would like further discussions.

[2020-12-19 22:21] #178 closed

[2020-12-19 22:22] chenxiao0228 commented on #337
@ravimandala  is this still a valid problem?
@ob  were you suggesting to re-organize the trace profile per bp process?

[2020-12-19 22:23] #311 closed

[2020-12-19 22:23] chenxiao0228 commented on #124
@oliverhu  is this still a valid issue?

[2020-12-19 22:25] chenxiao0228 commented on #312
@loufranco  did the workaround work for you?

[2020-12-19 22:28] chenxiao0228 commented on #250
@abhishekshroff-tudip  is this still a valid issue?

[2020-12-19 22:29] chenxiao0228 commented on #242
Closing this ticket since it has been inactive for a while.
Feel free to create new ones if it's still a valid issue.

[2020-12-19 22:30] chenxiao0228 commented on #237
@ob  @oliverhu  is this still a valid issue?

[2020-12-19 22:31] chenxiao0228 commented on #213
@vsravan  I am closing this ticket since it has been inactivate for a while. If it's still a wanted feature, can you please create a new issue and provide more context?

[2020-12-19 22:31] #213 closed

[2020-12-19 22:34] chenxiao0228 commented on #154
Things have changed a lot since this discussion happened. Now the simulators are even heavier. I think it's a good idea to have a way to detect whether the simulator has settled.

I am keeping this ticket for now, may change it later after diving deeper.

[2020-12-19 22:48] ob commented on #124
A long, long time ago I tried to do this. The callbacks offered are still not enough to support all the features we provide. We're stuck parsing for the time being.

[2020-12-19 22:48] #124 closed

[2020-12-20 05:36] carlocab commented on #459
@chenxiao0228 I don't see the difference, I'm afraid. Do you mind elaborating a little?

[2020-12-20 19:31] ob commented on #459
I think what @chenxiao0228 means is that the error in the Homebrew CI run is:

[code]

which sounds like the Simulators installed on that machine have been stripped of the `arm64` target architecture (which is what real iPhones use). We can work around that here by making sure we only build for `x86_64` since we are only targeting the Simulators, although with the new M1 based machines it's unclea

[2020-12-21 08:26] carlocab commented on #459
@ob Thank you for the explanation. It seems like this

might help fix the build failure over at Homebrew. I'm not too familiar with `bluepill`; if you have a quick explanation of how to do this I'd appreciate it. Otherwise, I'll try to figure it out.

[2021-01-11 22:27] chenxiao0228 commented on #459
I have skipped 12.2 and looking at 12.3 now. There are several issues I have found so far.
Xcode 12.3 builds for Apple Silicon arm64 but CoreSimulator only has arm64e slice. We will have to disable the arm64 target.
Then I also saw some issues with `nm`. Will get to it soon.

[2021-01-19 20:06] chenxiao0228 opened #469 "Flaky test: testTwoBPInstancesWithVideo"
testTwoBPInstancesWithVideo has been very flaky in the checks.

I briefly looked into it and have these findings
- I could not reproduce it on my machine
- tried to change it to 1 simulator, still flaky
- tried to add some debug logging in the code, could not get too much info. Next step could be piping the output of the process to a file and capture it.
- recording videos uses `xcrun simctl io`,

[2021-01-19 20:07] chenxiao0228 commented on #469
@RainNapper FYI since you worked on this feature.

[2021-01-19 20:10] RainNapper commented on #469
I think disabling it sounds good. I thought it was fixed in XC12, but it
looks to have gone back. This has been working in production, so I'm not
sure what's different about the test configuration.

On Tue, Jan 19, 2021 at 12:07 PM Xiao Chen <notifications@github.com> wrote:

[2021-01-19 23:34] chenxiao0228 commented on #462
Closing this issue for now. @chenrui333  feel free to reopen it if you want to follow up.

[2021-01-19 23:34] #462 closed

[2021-01-19 23:35] chenxiao0228 commented on #459
Fixed in v5.6.0

[2021-01-19 23:35] #459 closed

[2021-01-19 23:39] chenrui333 commented on #462
it is still an issue. We just never tried anymore.

[2021-01-19 23:40] chenrui333 commented on #462
if you are using homebrew, you can install from the source to reproduce the issue pretty easily, let me know if that helps.

[2021-01-20 00:57] chenxiao0228 commented on #462
I created https://github.com/Homebrew/homebrew-core/pull/69359 , let's see how it goes

[2021-01-20 03:58] carlocab commented on #459
5.6.0 seems to have also fixed the Homebrew build. Thanks!

[2021-01-20 04:07] ob commented on #469
I wonder if it's just memory on the macOS VMs or some other resource that gets consumed... we could try running `ps` and `vm_stat` in a loop in a separate process to see how the machine is doing...

[2021-01-20 04:19] chenrui333 commented on #462
great to see it passes the build now.

[2021-01-20 05:25] #451 closed

[2021-01-25 19:32] ravimandala opened #474 "Limit the number of failures before a simulator is restarted for a retry"
Often due to flakiness in tests there might be a bunch of failures during a simulator run. If the tests are configured to retry, then they may all pass upon restarting the simulator and retrying them. However, since there is no limit on how many tests a simulator can let fail before going for a retry it could waste a lot of time failing on one test after another until it goes through all remaining

[2021-01-26 00:44] chenxiao0228 commented on #474
@ravimandala  Can you start a conversation internally first?

[2021-01-26 00:44] #474 closed

[2021-02-01 11:43] ravimandala commented on #424
@RainNapper It would be great to have this implemented in some form, whether it is integrating https://github.com/RainNapper/bluepill/tree/mmark/pinpill/pinpill/pinpill in some capacity or in full capacity into the Bluepill. Do you have some time to revisit this?

[2021-02-01 11:46] ravimandala commented on #422
I did not get a chance to look into this. On the other hand, I did not hear from anyone who might be using this feature and neither do we use it actively. I hope I will get to prioritize this bug fix or stumble upon a resolution or get the courage and approval to clean it up. 🤞

[2021-03-04 04:03] AlexanderPan opened #480 "Bluepill fails"
bluepill version: 5.8.0
xcode version: 12.4

`run bluepill -c config.json`

[code]

[code]

[2021-03-05 04:45] ravimandala commented on #480
@AlexanderPan We use Bazel variant which uses `test-plan-path` instead of `xctestrun-path` and v5.8.0 works fine. Let me try the Xcode version using `xctestrun-path` and get back to you. Meanwhile, can you examine the contents of file referred by [bp/src/SimulatorHelper.m#L157](https://github.com/linkedin/bluepill/blob/master/bp/src/SimulatorHelper.m#L157) and why the `NSDictionary` is coming out

[2021-03-06 00:38] chenxiao0228 commented on #480
@AlexanderPan  would you be able to share a redacted version of this file:

"./output/Build/Products/xxx_iphonesimulator14.4-x86_64.xctestrun" ?

[2021-03-08 03:01] AlexanderPan commented on #480
@chenxiao0228

[code]

[iphonesimulator14.4-x86_64.xctestrun.zip](https://github.com/linkedin/bluepill/files/6098659/iphonesimulator14.4-x86_64.xctestrun.zip)

[2021-03-08 03:13] AlexanderPan commented on #480
@ravimandala

I don't know which Info.plist to check kCFBundleIdentifierKey.
Could you provide path let me check?

[2021-03-15 17:42] cumanzor opened #482 "Is it possible to run the same test on multiple simulators in parallel?"
I see we can distribute the whole test suite across multiple simulators, but I'm wondering if it is possible to run the same test in all simulators simultaneously. The main use case is to rapid test a single feature across different device types.

Thanks!

[2021-03-16 00:17] ravimandala commented on #482
Same test can be added to multiple test targets in the test suite and that is one way to run same test multiple times.

[2021-04-07 13:55] bimawa opened #483 "Can we use bluepill for test scenarios with 2 or more instances?"
I have a chat App, and wanna cover by test flow where two or more users chatting between instances.
How can I do it with bluepill?

[2021-04-12 22:21] hemantgokhale opened #484 "Does bluepill capture stdout & stderr from the app?"
I have some [XCUITest](https://developer.apple.com/documentation/xctest/user_interface_tests) tests where the app and the test run in separate processes on the simulator. I can see the output from the test process in file "N-simulator.log" but I cannot find the stdout/stderr from the app anywhere. Does bluepill capture stdout & stderr from the app? If so, where can I find it?

[2021-04-15 06:54] ajanuar opened #485 "Is there any example to run UI Test using Bluepill & Bazel?"

[2021-04-20 01:19] #485 closed

[2021-04-25 14:31] codeBarom commented on #127
How i fixed this is by running the app on a lower version of iOS simulator iPhone 8 plus 14-4

[2021-04-26 03:23] AlexanderPan commented on #480
@ravimandala

https://github.com/linkedin/bluepill/blob/master/bp/src/BPXCTestFile.m#L171

My .xctestrun file DependentProductPaths contains apple watch extension.
at __TESTROOT__/Tests-iphonesimulator/AppleWatchBarImg not found Info.plist.

[2021-05-05 18:18] chenxiao0228 opened #488 "Xcode 12.5 support"
Bluepill crashes on Xcode 12.5 either with

[code]

or with

[code]

[2021-05-05 18:20] chenxiao0228 commented on #488
Bluepill doesn't seem to work out of the box with Xcode 12.5.

If you encountered any issues with Bluepill and Xcode 12.5, please feel free to attach them here.

[2021-05-06 19:19] chenxiao0228 commented on #488
Failing tests:
	bp-tests:
		-[BluepillTests testAppThatCrashesOnLaunch]
		-[BluepillTests testAppThatHangsOnLaunch]
		-[BluepillTests testCopySimulatorPreferencesFile]
		-[BluepillTests testDeleteSimulatorNotExistWithRetry]
		-[BluepillTests testDeleteSimulatorOnly]
		-[BluepillTests testKeepSimulatorWithAppCrashingTestsSet]
		-[BluepillTests testKeepSimulatorWithAppHangingTestsSet]
		-[BluepillTe

[2021-05-11 04:41] YangSun33 commented on #488
After some investigation, here are some issues I found caused by the changes in 12.5 SDK:

1. In XCTestConfiguration, testsToRun & testsToSkip change from NSSet to XCTTestIdentifierSet, and the elements inside change from NSString to XCTTestIdentifier.
**Issue**:
The test app will crash as it tries to access [element identifierString], which is available for XCTTestIdentifier but not for NSString.

[2021-05-18 23:51] ob opened #492 "`BPTestCase` doesn't keep track of which tests are Objective-C and which are Swift"
As part of #488 we need to know which tests are Objective-C and which tests are Swift. Unfortunately, at the [point where we know](https://github.com/linkedin/bluepill/blob/master/bp/src/BPXCTestFile.m#L48) we don't record that information, we only save an `NSString`: `TestClass/TestName`.  The two `BPConfiguration` fields `testCasesToRun` and `testCasesToSkip` [here](https://github.com/linkedin/b

[2021-06-22 17:15] #488 closed

[2021-06-29 23:36] chenrui333 opened #499 "bluepill 5.9.0 OSX build failure"
[code]

---

relates to
- Homebrew/homebrew-core#80210

full build log, https://github.com/Homebrew/homebrew-core/runs/2938927320

[2021-07-01 21:31] ravimandala opened #501 "Xcode 13.0 support"
Xcode 13.0 beta 2 is out. This issue is to keep track of all tasks needed to release a Bluepill version w/ Xcode 13.0 support.

To start with... Bluepill doesn't build with Xcode 13.0 because of the below error.
[code]

[2021-07-01 21:32] ravimandala commented on #501
Thanks @dusi for this PR https://github.com/MobileNativeFoundation/bluepill/pull/500

[2021-07-07 04:52] bootstraponline opened #503 "Swift test method discovery"
Does this issue impact bluepill?
https://github.com/Flank/flank/issues/2070

Is there a reason why `nm -gU` is used for Swift instead of `nm -U`?

[2021-07-07 17:48] bootstraponline commented on #503
closing since it looks like this user is stripping symbols during their build process.

[2021-07-07 17:48] #503 closed

[2021-07-14 18:00] CJonesBuild opened #504 "test output log cluttered with telephony logs"
Has there been consideration to disable (or have an option to disable) coretelephony?  It's frequently clutters our log output log and I've never known of a use for it.

This is what I usually do for local tests which requires to be run each time you spawn a simulator.  However, this isn't currently an option for tests run on CI:
`xcrun simctl spawn booted log config --mode "level:off"  --subsyste

[2021-07-14 19:14] ob commented on #504
I think running

[code]

via the [`--script-file` flag](https://github.com/MobileNativeFoundation/bluepill/blob/master/bp/src/BPConfiguration.m#L141) would work.

[2021-07-22 02:25] ob commented on #499
What version of Xcode is being used?

[2021-07-26 04:34] avinashnarra opened #505 "Unable to Use Bluepill Fastlane"
I am trying to use Bluepill Fastlane. but seeing below error.

[!] Could not find option 'scheme' in the list of available options: xctestrun, output_dir, app, device, headless, number_of_simulators, reuse_simulator

Could you please take care of this issue,once this issue is resolved it would help us a lot.

@RainNapper @ob @bayareabear @oliverhu

[2021-07-29 06:33] ob commented on #505
This doesn't look like a bluepill error... are you sure it isn't a fastlane error?

[2021-07-29 15:31] avinashnarra commented on #505
As far as my understanding , its not fastlane error.Based on documentation we have to include scheme and when i am trying to run it is showing above error which is coming from blupill plugin options.The same issue has been reported by some other person too.

Whats your opinion?

@ob

[2021-08-13 04:55] ob commented on #505
What documentation are you referring to? As far as I know, Bluepill doesn't have a `--scheme` option, which is what the error message is telling you. If fastlane is passing a `--scheme` flag (or config option) it should not do that and use `--xctestrun` instead.

[2021-08-13 05:05] avinashnarra commented on #505
Hi ,

I was following the fast lane  bluepill documentation.There was an option
of scheme and also if I donot specify scheme it says scheme option is
missing.

On Fri, Aug 13, 2021, 12:55 AM Oscar Bonilla ***@***.***>
wrote:

[2021-08-13 05:10] avinashnarra commented on #505
Hi,

I was following below documentation mentioned under bluepill-fastlane
section.
https://github.com/tbrand/fastlane-plugin-bluepill

On Fri, Aug 13, 2021, 12:55 AM Oscar Bonilla ***@***.***>
wrote:

[2021-08-17 23:14] ob commented on #505
I think the problem is with the fastlane plugin... that "scheme option is missing error" is probably coming from [here](https://github.com/tbrand/fastlane-plugin-bluepill/blob/4b0b07c9042ebb2f39e25b69d7beab737044450f/lib/fastlane/plugin/bluepill/actions/bluepill_action.rb#L52). I'd file an issue (or better yet a PR) in the [fastlane-plugin-bluepill](https://github.com/tbrand/fastlane-plugin-bluepi

[2021-08-17 23:14] #505 closed

[2021-08-28 00:34] OliverKoo opened #508 "[Xcode13] iOS 15 Simulator Runtime Not Found"
Might be a bit pre-mature but when testing out [Xcode13 Support] by @ob and @dusi (https://github.com/MobileNativeFoundation/bluepill/pull/500) which @ravimandala is about to be release into [v5.10.0-beta](https://github.com/MobileNativeFoundation/bluepill/pull/500#pullrequestreview-736667186) I get the following error

`The iOS 15.0 simulator runtime is not available.`
but I have iOS 15.0 runtime

[2021-09-01 22:21] #508 closed

[2021-09-01 22:22] OliverKoo commented on #508
this was due to a set up on the machine not done correctly

[2021-09-01 23:36] ob commented on #508
Thank you for following up.

[2021-09-02 01:03] OliverKoo opened #509 "Xcode 13.0 CRASH App crashed before tests started."
Seeing this Error when switching to Xcode 13

{61143} 20210902.000147 [ CRASH  ] (BP-3_2 - mytest) App crashed before tests started.

Here is the log

[code]

[2021-09-03 09:26] saia82 commented on #509
Stright to the lord HOOD like ur mom i aint Tyeneha Asby Dog AIDS ASS covid 19 10 in a box .
lm Melissa Watson BIDEN aborted daughter DIAMOND

[2021-09-03 09:27] saia82 opened #510 "Stright to the lord HOOD like ur mom i aint Tyeneha Asby Dog AIDS ASS covid 19 10 in a box ."
Stright to the lord HOOD like ur mom i aint Tyeneha Asby Dog AIDS ASS covid 19 10 in a box .
lm Melissa Watson BIDEN aborted daughter DIAMOND

_Originally posted by @saia82 in https://github.com/MobileNativeFoundation/bluepill/issues/509#issuecomment-912396530_

[2021-09-03 13:58] #510 closed

[2021-09-03 23:29] ob commented on #509
Are you sure you built the app for testing? The runner is generated by Xcode.

[2021-09-09 19:42] ravimandala opened #511 "Bug: Bluepill test bundle splitting and packing logic fails when the total estimated time is zero"
When provided with test time estimates Bluepill calculates the total estimated execution time and splits the test bundles to try and get optimal concurrency. However, if the total estimated execution time is zero for some reason, then the logic fails to split bundles and gets trapped in an infinite loop. The reasons for zero estimated time could be...
1. The test names are not read correctly (Eg.

[2021-09-13 10:06] mrjimoy opened #512 "Bluepill version on Homebrew doesn't get updated"
Hi there,

I have install bluepill but seems can't install the latest version (5.9.0), it's stuck on 5.8.1. And when I check https://formulae.brew.sh/formula/bluepill, the latest version available on brew is 5.8.1. How to upgrade the brew package to the latest version?

Thanks.

[2021-09-17 08:11] #512 closed

[2021-10-13 17:14] ob commented on #492
We went with #1.

[2021-10-13 17:14] #492 closed

[2021-10-13 18:03] ravimandala commented on #501
[v5.10.0](https://github.com/MobileNativeFoundation/bluepill/releases/tag/v5.10.0) officially supports Xcode 13.0

[2021-10-13 18:03] #501 closed

[2021-11-09 19:44] Husseinovich opened #516 "Xcode 13.1 Support"
When do we expect Xcode 13.1 official support? I did try to use Bluepill 5.10.0 with the `unsafe-skip-xcode-version-check` flag but I am hitting below error:

[code]

[2021-11-13 04:12] ravimandala opened #517 "[Reporting bug] Tests that passed on retry are not being reported accurately"
I noticed an issue in Bluepill version 5.10.0 that supports Xcode 13. In a successful execution, 11 tests are reported to have failed. But the execution was successful because those tests passed on retry. Usually when tests pass on retry it should be reported accordingly in `0-test-report.html`, which doesn’t seem to be the case in this execution. This might be an edge case specific to the latest

[2021-11-15 16:29] jschear commented on #517
I saw similar behavior, and the root cause was a small bug in the collation of test results: https://github.com/MobileNativeFoundation/bluepill/pull/515

Are you seeing invalid XML files created in any of your executions? If an execution produces a Junit XML file that isn't a valid XML document (which we were seeing when a simulator failed to boot; the file contained just the string "NO LOG: JUnit

[2021-11-23 00:34] ravimandala commented on #517
True. I see the executions where this did happen and I see how it could skip the subsequent reports that might be perfectly valid. Thanks for the fix.

[2021-11-23 00:36] ravimandala commented on #517
@jschear Your PR(https://github.com/MobileNativeFoundation/bluepill/pull/515) might fix this issue. I will resolve this issue after verifying.

[2021-12-14 21:28] keith opened #519 "Add GitHub CODEOWNERS"
In the MNF TSC meeting today we agreed it would be a good idea to add a [GitHub CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) file to the root of the repo to document who the maintainers of this repository are. These don't have to be blocking but will still help us keep the most up to date maintain

[2022-01-03 19:53] #519 closed

[2022-01-07 20:55] #516 closed

[2022-01-12 01:13] ravimandala opened #523 "Bluepill reporting issue"
Bluepill logs fail to parse xml test reports and throws errors like...
[code]

In the above example, while `TEST-VoyagerParticipateUnitTests-3-results.xml` and `TEST-VoyagerParticipateUnitTests-4-results.xml` were valid xml files, the file `TEST-VoyagerParticipateUnitTests-2-results.xml` has the below text which I believe is causing the issue.
[code]

Please take a look.
\cc @ob @chenxiao0228

[2022-01-12 01:17] ravimandala commented on #523
This issue might be a duplicate of the issue-https://github.com/MobileNativeFoundation/bluepill/issues/517. Will test it with a release after the fix PR-https://github.com/MobileNativeFoundation/bluepill/pull/515 and resolve both these issues.

[2022-01-12 19:24] ravimandala commented on #523
While [PR#515](https://github.com/MobileNativeFoundation/bluepill/pull/515) might  have fixed [Issue#517](https://github.com/MobileNativeFoundation/bluepill/issues/517), the reason why some reports have the below text might still needs to be fixed.
[code]

[2022-01-20 19:50] ravimandala opened #526 "Shutting down simulator failed: Unable to shutdown device in current state: Shutdown"
At LinkedIn, Bluepill tests fail sometimes due to this simulator failure.
[code]
Xcode: 13.0
macOS: 11.6 (Big Sur)
Bluepill: v5.10.0
Device: iPhone 8 w/ iOS 15.0

Is anyone else facing this issue? \cc @chenxiao0228

[2022-02-01 00:11] ravimandala opened #527 "Proposal to remove unsafe-skip-xcode-version-check"
Bluepill releases support a specific Xcode version and there might be unforeseen issues when used with a different Xcode version. For this reason, a config flag named `unsafe-skip-xcode-version-check` was introduced. When this config is set it would skip the Xcode version check so that Bluepill can be used with Xcode versions other than the one that is officially supported.

However, the check is

[2022-02-16 20:30] dostrander opened #528 "In bazel when having a test_host that ends with -App it will remove part of the name."
When you have a test_host with a name of `Foo-App.app` it will add instead `Foo-A.app` to the test_plan. This has to do with how bluepill ensures the test host is a `.app` extension.

[2022-02-20 02:10] #528 closed

[2022-04-06 12:58] dostrander opened #531 "Proposal: Allow Bluepill to run non-app hosted tests"
### Proposal
Apple has provided a few different ways to run tests. Logic tests without an application, logic tests within an application, and a UI Test target. Currently Bluepill doesn't support tests without an app bundle path associated with them, actively [erroring out](https://github.com/MobileNativeFoundation/bluepill/blob/master/bp/src/BPConfiguration.m#L715-L733) when one isn't found.  This

[2022-04-06 18:50] ob commented on #531
I think this is a good idea and am fully supportive of doing it. I'm not sure how exactly we'd plug it in though... the [existing architecture](https://github.com/MobileNativeFoundation/bluepill/blob/master/ARCHITECTURE.md#bluepill-high-level-architecture) is sort of tied to running simulators. Are there any details of how the non-app hosted tests are run? Is it through the `xctest` binary? One id

[2022-04-06 19:27] ob commented on #531
I think the first step would be to start a WIP PR to add a few non-app hosted tests and a script to run them via `xcodebuild` (or however you typically run them). We can then start experimenting with calling `xctest` directly without needing to call `xcodebuild`.

[2022-04-07 00:21] cccCody opened #532 "Homebrew version of bluepill is out of date"
The readme suggests getting bluepill via homebrew, but the latest version available through homebrew is [5.8.1](https://github.com/MobileNativeFoundation/bluepill/releases/tag/v5.8.1), which is almost a year old. A [pull request](https://github.com/Homebrew/homebrew-core/pull/93229) to bump that up to the current release was closed because it [failed to build on apple silicon](https://github.com/H

[2022-04-07 18:43] ob commented on #532
It seems the failure is due to CoreSimulator.framework not having arm64 support... perhaps we need to wait for https://github.com/actions/virtual-environments/issues/2187#issuecomment-737339211

[2022-04-19 23:34] renatoaugustofranca opened #533 "Xcode 13.2.1 CRASH with "App crashed before tests started""
We are updating our project to use the Xcode 13.2.1 and we are facing an issue when running the tests using LATEST bluebill as follows:

`{29160} 20220419.201324 [ CRASH  ] (BP-1) App crashed before tests started.`

For more context the complete log:

{29160} 20220419.200923 [  INFO  ] (BP-1) Running Tests. Attempt Number 1.
{29160} 20220419.200923 [  INFO  ] (BP-1) [Attempt 1] Create Simulator
{2

[2022-04-26 02:28] cccCody commented on #517
This doesn't seem to be fixed. I'm using 5.11, and I see results for each individual attempt in the xml, so if a test fails, retries, and then passes, I still have a failure in the output. There's an old open PR to add a flag for this here: https://github.com/MobileNativeFoundation/bluepill/pull/467

...and [one comment](https://github.com/MobileNativeFoundation/bluepill/pull/467#issuecomment-7809

[2022-05-05 14:00] devIlluSioN commented on #532
Same problem on Macbook pro i7

[2022-06-07 06:10] Ahmed-Mujahid opened #535 "bluepill still getting the defualt path for xcode using xcode-path"
I have installed xcode 13.1 as 13.2 is not compatible. i am trying to run bluepill for xcode 13.1 with config file
[code]
i have also attached an screenshot of my command. Is there any command i am missing?
<img width="569" alt="Screenshot 2022-06-07 at 11 09 39 AM" src="https://user-images.githubusercontent.com/45769608/172308051-51573ddc-a612-47f7-9204-967d6ce21bbe.png">
3.1.app"

[2022-06-23 06:55] hendych commented on #127
We experienced this error too.
[code]
The test just fails and our pipeline throw error

[2022-07-27 07:31] ajanuar opened #537 "Any plan for Xcode 13.4?"

[2022-08-18 04:58] ob commented on #537
I think we could back port the changes in https://github.com/MobileNativeFoundation/bluepill/pull/538

[2022-08-19 12:42] acecilia commented on #527
What about when bluepill supports `Xcode 13.1` but your project uses `Xcode 13.2.1`? What should happen in such case?

[2022-08-19 23:06] ob commented on #527
I think the rationale is that a given version of bluepill might support more than a given Xcode version. Ideally we'd have a testing matrix with a few modern versions of Xcode and avoid tying bluepill to a single version. We could try to set up a matrix in CI and see if that's really the case.

[2022-09-15 19:41] avinashnarra opened #539 "Need bluepill support for XCode13.4.1"
Team,
Our applications only runs on Xcode 13.4.1 and need bluepill support for XCode13.4.1.
It is bit urgent.
Could you please help me.

[2022-09-15 19:52] ob commented on #539
@nanwng I think it'd be possible to back port your fix for Xcode 14 to 13.4.1 no?

[2022-09-15 19:53] avinashnarra commented on #539
currently it is not possible

[2022-09-16 13:32] avinashnarra commented on #539
@ob @nanwng  Any help please.

[2022-09-18 17:31] ob commented on #539
#540 should fix this when it's merged into a branch...

[2022-09-18 17:43] avinashnarra commented on #539
Thanks @ob  Could you please merge and create release asap so that we can start using it.

[2022-09-18 18:07] ob commented on #539
I need to check with @chenxiao0228  to see where this is at. We'll have an answer tomorrow.

[2022-09-19 17:04] chenxiao0228 commented on #539
Just pushed the tags. Releases are available on Github. Will double check Cocoapods repo

[2022-09-19 23:00] chenxiao0228 commented on #539
pls try 5.11.1

[2022-09-19 23:00] #539 closed

[2022-09-19 23:00] chenxiao0228 commented on #537
pls try 5.11.1

[2022-09-19 23:00] #537 closed

[2022-09-20 13:59] avinashnarra opened #543 "Timestamp in Junit xml in GMT format issue."
@ob @caniszczyk
We are using bluepill to run tests and at the end we are using a framework to post the results in xml in UI format.
During that process we are facing issue with GMT timestamp format.
So is it possible to change GMT to UTC format?

[2022-09-24 05:01] ob commented on #543
I think bp isn't doing anything with the dates (see [here](https://github.com/MobileNativeFoundation/bluepill/blob/2dfc0a965ab564d015a2a0f00be89edf53c0f256/bp/src/BPReporters.m#L54) for where we handle the start date).

We could add a timezone there to move it to UTC.

[2022-10-29 01:39] parikhparth23 opened #544 "(BLUEPILL) Failed to read data for UIABCTests - ERROR: Failed to load some test bundles"
Hello,
First time using bluepill.

I installed bluepill through `brew install bluepill`

I build my app by running the following command:
`xcodebuild -workspace MY.xcworkspace -scheme "UIABCTests" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 14 Pro Max'  build-for-testing | xcbeautify`

I got the `xctestrun` from `Library/Developer/Xcode/DerivedData/name/Build/Products/UIA

[2022-10-29 01:45] parikhparth23 commented on #544
@oliverhu can you plz help with this issue?

[2022-10-31 15:24] ob commented on #544
Can you enable verbose logging to see why it might have failed? It's the `--verbose` flag. Thanks!

[2022-10-31 17:27] parikhparth23 commented on #544
@ob running with `--verbose` flag
[code]

[2022-10-31 17:41] ob commented on #544
Could you post your `.xctestrun` file?

[2022-10-31 17:49] parikhparth23 commented on #544
@ob sure, let me upload it here

[2022-10-31 18:56] parikhparth23 commented on #544
Hi Oscar,
Here is the
`App, JSON and xctestrun` [app, xctestrun, config.json.zip](https://github.com/MobileNativeFoundation/bluepill/files/9904028/app.xctestrun.config.json.zip)

Full app -
[Simple App.zip](https://github.com/MobileNativeFoundation/bluepill/files/9904032/Simple.App.zip)

command i used:
[code]

[code]

i am getting the same error:
` bluepill -c config.json --verbose`
[code]

[2022-10-31 23:47] parikhparth23 commented on #480
@ravimandala i am building my app using the following command:
`bazelisk build --config=Debug /MyApp`

What is the value I need to use for `test-plan-path`

I am able to generate `.xctestrun` for  `xctestrun-path` but I am not sure what the value is for the key ``test-plan-path``

[2022-11-01 00:20] parikhparth23 commented on #544
HI @ob ,
would appreciate your response.

[2022-11-01 01:42] ob commented on #544
Just eyeballing the `.xctestrun` file it looks correct... without printing out the `errPtr` where I mentioned [in this comment](https://github.com/MobileNativeFoundation/bluepill/issues/544#issuecomment-1297260116) it'll be very hard to figure out what's going on... there's too many code paths.

I would suggest either compiling bluepill from source and adding the missing `errPtr` (PR welcome :-) )

[2022-11-01 15:20] ob commented on #544
So I just tried it with the app you uploaded and it seems to work. All I did was download `Simple App` and run:

[code]

then

[code]
 and it works for me. This is with the latest bluepill (built from `master`) and Xcode 14.0.1. I even diffed the `.xctestrun` file produced by Xcode for my build with the one you uploaded and they both look identical.

Like I said before, I think you'll need to buil

[2022-11-01 17:27] parikhparth23 commented on #544
@ob , thank you for trying on your end.
let me try on my end

[2022-11-01 19:15] parikhparth23 commented on #544
@ob after building the latest(master) locally, the test ran fine....thank you for the help.

I am building my app using the following command: `bazelisk build --config=Debug /MyApp`

how do I run `bluepill` with bazel?

`bluepill --test-plan-path '' --output-dir ./build`

What is the value I need to use for `test-plan-path`?

I am not able to understand this from the README:
[code]

[2022-11-01 22:51] chenxiao0228 commented on #544
@parikhparth23  good question, we should have put some documentation for the Bazel rule.

There are three steps
1. you need to import the Bluepill package in your WORKSPACE as a repository rule. e.g
[code]

2. load the bptestrunner rule in your BUILD file
```load("@bptestrunner//:bluepill_batch_test.bzl", "bluepill_batch_test")```

3. have a bluepill test rule in your BUILD file
[code]

[2022-11-01 23:03] parikhparth23 commented on #544
Thank you @chenxiao0228

[2022-11-01 23:30] chenxiao0228 commented on #544
@parikhparth23  you'd need to change the arguments of the bptestrunner repository rule and use a newer version of Bluepil though.

[2022-11-01 23:59] parikhparth23 commented on #544
thank you @chenxiao0228, will change the arguments of the bptestrunner repository rule and use a newer version of Bluepill

[2022-11-02 00:00] parikhparth23 commented on #544
@chenxiao0228 what if i want to use locally build version?

[2022-11-07 14:25] parikhparth23 commented on #544
Above solution mentioned by @ob worked.
closing this issue.

[2022-11-07 14:25] #544 closed

[2022-11-07 20:48] chenxiao0228 commented on #544
You can run the same commands in Bluepill's repo that builds the release archive, then you can either
- unarchive it and consume it with a `local_repository` rule
- use the archive with a `http_archive` rule, but with a `file://` URL

[2022-11-10 02:13] mattrobmattrob opened #545 "`bundleIdentifier != nil` runtime crash"
`bundleIdentifier != nil` issue when running `rules_os`/Bazel-built `ios_ui_test` that doesn't occur when using the standard xctestrunner.

## Reproduction

1. Checkout https://github.com/mattrobmattrob/rules_swift_testbed/tree/mr/bluepill/bundle.identifier.issue. This is a prebuilt "release" on ~`master` from this repo.
2. Use the `mr/bluepill/bundle.identifier.issue` branch
3. Run `bazelisk test

[2022-11-10 17:17] cccCody commented on #532
This is fixed in https://github.com/Homebrew/homebrew-core/commit/2c9cc459b2502290d506f58fc602b20c1faade36

[2022-11-10 17:17] #532 closed

[2022-11-10 23:48] parikhparth23 commented on #545
@ob @chenxiao0228 can you please have a look?

[2022-11-12 22:31] ob commented on #545
I played with this a bit today (thanks @mattrobmattrob for providing a test case). There are at least two bugs exposed by the test case. One seems easy enough to fix, the other is more puzzling (the `bundleIdentifier != nil` part.

[2022-11-17 20:31] ob commented on #545
Probably related: https://github.com/bazel-ios/rules_ios/pull/605

[2022-11-19 17:30] #428 closed

[2022-11-21 09:47] asifhasan002 opened #546 "Xcode 14.0.1 NSInvalidArgumentException error"